<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @servicebuy.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @servicebuy.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @servicebuy.cost %>
</p>

<p>
  <strong>Price:</strong>
  <%= @servicebuy.price %>
</p>

<p>
  <strong>Tax1 name:</strong>
  <%= @servicebuy.tax1_name %>
</p>

<p>
  <strong>Tax1:</strong>
  <%= @servicebuy.tax1 %>
</p>

<p>
  <strong>Tax2 name:</strong>
  <%= @servicebuy.tax2_name %>
</p>

<p>
  <strong>Tax2:</strong>
  <%= @servicebuy.tax2 %>
</p>

<p>
  <strong>Tax3 name:</strong>
  <%= @servicebuy.tax3_name %>
</p>

<p>
  <strong>Tax3:</strong>
  <%= @servicebuy.tax3 %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @servicebuy.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @servicebuy.description %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @servicebuy.comments %>
</p>

<p>
  <strong>Company:</strong>
  <%= @servicebuy.company_id %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @servicebuy.discount %>
</p>

<p>
  <strong>Currtotal:</strong>
  <%= @servicebuy.currtotal %>
</p>

<p>
  <strong>I:</strong>
  <%= @servicebuy.i %>
</p>

<p>
  <strong>Total:</strong>
  <%= @servicebuy.total %>
</p>

<%= link_to 'Edit', edit_servicebuy_path(@servicebuy) %> |
<%= link_to 'Back', servicebuys_path %>
