<p id="notice"><%= notice %></p>

<h1>Listing Tipofaltantes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Descrip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipofaltantes.each do |tipofaltante| %>
      <tr>
        <td><%= tipofaltante.code %></td>
        <td><%= tipofaltante.descrip %></td>
        <td><%= link_to 'Show', tipofaltante %></td>
        <td><%= link_to 'Edit', edit_tipofaltante_path(tipofaltante) %></td>
        <td><%= link_to 'Destroy', tipofaltante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipofaltante', new_tipofaltante_path %>
