<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipofaltante.code %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @tipofaltante.descrip %>
</p>

<%= link_to 'Edit', edit_tipofaltante_path(@tipofaltante) %> |
<%= link_to 'Back', tipofaltantes_path %>
