<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @payroll_detail.employee_id %>
</p>

<p>
  <strong>Remuneracion:</strong>
  <%= @payroll_detail.remuneracion %>
</p>

<p>
  <strong>Calc1:</strong>
  <%= @payroll_detail.calc1 %>
</p>

<p>
  <strong>Calc2:</strong>
  <%= @payroll_detail.calc2 %>
</p>

<p>
  <strong>Calc3:</strong>
  <%= @payroll_detail.calc3 %>
</p>

<p>
  <strong>Total1:</strong>
  <%= @payroll_detail.total1 %>
</p>

<p>
  <strong>Calc4:</strong>
  <%= @payroll_detail.calc4 %>
</p>

<p>
  <strong>Calc5:</strong>
  <%= @payroll_detail.calc5 %>
</p>

<p>
  <strong>Calc6:</strong>
  <%= @payroll_detail.calc6 %>
</p>

<p>
  <strong>Calc7:</strong>
  <%= @payroll_detail.calc7 %>
</p>

<p>
  <strong>Total2:</strong>
  <%= @payroll_detail.total2 %>
</p>

<p>
  <strong>Remneta:</strong>
  <%= @payroll_detail.remneta %>
</p>

<p>
  <strong>Calc8:</strong>
  <%= @payroll_detail.calc8 %>
</p>

<p>
  <strong>Calc9:</strong>
  <%= @payroll_detail.calc9 %>
</p>

<p>
  <strong>Calc10:</strong>
  <%= @payroll_detail.calc10 %>
</p>

<p>
  <strong>Total3:</strong>
  <%= @payroll_detail.total3 %>
</p>

<%= link_to 'Edit', edit_payroll_detail_path(@payroll_detail) %> |
<%= link_to 'Back', payroll_details_path %>
