<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "movements", "/companies/movements/#{@company.id}" %> &raquo;
  <%= link_to @movement.identifier, @movement %>
</div>

<h1>
  <%= image_tag("movement_48.png", :class => "vmiddle") %>
  Editing movement
</h1>

<p>
  To modify the movement, please fill out the following form.  Fields marked with <strong>*</strong> are required.
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Show', @movement %>
  <%= link_to 'Back', "/companies/movements/#{@company.id}" %>
</div>