<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @redention.company_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @redention.location_id %>
</p>

<p>
  <strong>Division:</strong>
  <%= @redention.division_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @redention.customer_id %>
</p>

<p>
  <strong>Desscription:</strong>
  <%= @redention.desscription %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @redention.comments %>
</p>

<p>
  <strong>Code:</strong>
  <%= @redention.code %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @redention.subtotal %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @redention.tax %>
</p>

<p>
  <strong>Total:</strong>
  <%= @redention.total %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @redention.processed %>
</p>

<p>
  <strong>Return:</strong>
  <%= @redention.return %>
</p>

<p>
  <strong>Date processed:</strong>
  <%= @redention.date_processed %>
</p>

<p>
  <strong>User:</strong>
  <%= @redention.user_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @redention.fecha %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @redention.serie %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @redention.numero %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @redention.payment_id %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @redention.factura_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @redention.tipo %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @redention.pago %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @redention.charge %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @redention.balance %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @redention.moneda_id %>
</p>

<p>
  <strong>Observ:</strong>
  <%= @redention.observ %>
</p>

<p>
  <strong>Fecha2:</strong>
  <%= @redention.fecha2 %>
</p>

<p>
  <strong>Year mounth:</strong>
  <%= @redention.year_mounth %>
</p>

<p>
  <strong>Detraccion:</strong>
  <%= @redention.detraccion %>
</p>

<p>
  <strong>Numero2:</strong>
  <%= @redention.numero2 %>
</p>

<p>
  <strong>Document:</strong>
  <%= @redention.document_id %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @redention.descuento %>
</p>

<p>
  <strong>Tipoventa:</strong>
  <%= @redention.tipoventa %>
</p>

<p>
  <strong>Tipoventa:</strong>
  <%= @redention.tipoventa_id %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @redention.ruc %>
</p>

<p>
  <strong>Tarjeta:</strong>
  <%= @redention.tarjeta_id %>
</p>

<%= link_to 'Edit', edit_redention_path(@redention) %> |
<%= link_to 'Back', redentions_path %>
