<p id="notice"><%= notice %></p>

<p>
  <strong>Description1:</strong>
  <%= @instruccion.description1 %>
</p>

<p>
  <strong>Description2:</strong>
  <%= @instruccion.description2 %>
</p>

<p>
  <strong>Description3:</strong>
  <%= @instruccion.description3 %>
</p>

<p>
  <strong>Description4:</strong>
  <%= @instruccion.description4 %>
</p>

<%= link_to 'Edit', edit_instruccion_path(@instruccion) %> |
<%= link_to 'Back', instruccions_path %>
