<p id="notice"><%= notice %></p>

<p>
  <strong>Order id a:</strong>
  <%= @inven.order_id_a %>
</p>

<p>
  <strong>Fecha a:</strong>
  <%= @inven.fecha_a %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @inven.importe %>
</p>

<p>
  <strong>Estado a:</strong>
  <%= @inven.estado_a %>
</p>

<p>
  <strong>Cod emp a:</strong>
  <%= @inven.cod_emp_a %>
</p>

<p>
  <strong>Dia a:</strong>
  <%= @inven.dia_a %>
</p>

<p>
  <strong>Order id b:</strong>
  <%= @inven.order_id_b %>
</p>

<p>
  <strong>Fecha b:</strong>
  <%= @inven.fecha_b %>
</p>

<p>
  <strong>Cod prod:</strong>
  <%= @inven.cod_prod %>
</p>

<p>
  <strong>Cod dep:</strong>
  <%= @inven.cod_dep %>
</p>

<p>
  <strong>Stk act:</strong>
  <%= @inven.stk_act %>
</p>

<p>
  <strong>Stk fisico:</strong>
  <%= @inven.stk_fisico %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @inven.costo %>
</p>

<p>
  <strong>Cod emp b:</strong>
  <%= @inven.cod_emp_b %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @inven.turno %>
</p>

<p>
  <strong>Dia b:</strong>
  <%= @inven.dia_b %>
</p>

<p>
  <strong>Tm:</strong>
  <%= @inven.tm %>
</p>

<p>
  <strong>Estado b:</strong>
  <%= @inven.estado_b %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @inven.precio %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @inven.name2 %>
</p>

<%= link_to 'Edit', edit_inven_path(@inven) %> |
<%= link_to 'Back', invens_path %>
