


<p id="notice"><%= notice %></p>
<h4>
<p>
  <strong>Fecha:</strong>
  <%= @ventaisla.fecha.to_date %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @ventaisla.turno %>
</p>

<p>
</h4>


  <h4>
  <strong>Empleado:</strong>
  <%= @ventaisla.employee.full_name  %>
</h4>
</p>

<p>

  <h3>
  <strong>Isla: </strong>
  <%= @ventaisla.island.code  %>
</h3>
</p>

<h3>
  Detalle
</h3>
  
 <form method="get" action="/ventaislas" onsubmit="addItemToContometro();" name="contometros">
    
<table>
  <thead>
    
  </thead>

<tr>

      <td>
      </td>

      <% for productItem in @pumps %>


        <% rating_id = productItem.product.name  %>
        <% puts rating_id %>
        <tH>
          <%="#{rating_id}" %>
        </tH>
        

    <% end %>
  </tr>
     
  <tbody>

    <tr>
      <td>
        ENTRADA 
      </td>
    <% for productItem in @pumps %>
        <% rating_id = "ENTRADA_"<<productItem.fuel %>

      <% valor =  VentaislaDetail.find_by(ventaisla_id: @ventaisla.id, pump: productItem.id)  %>

       <% if valor  %>

        <% le_an_gln = valor.le_an_gln  %>

       <% else %> 

        <% le_an_gln = productItem.le_an_gln %>

       <% end %>   

        <% puts rating_id %>
        <td>
          <input type="text" name= "<%="#{rating_id}" %>" id= "<%= "#{rating_id}" %>" value="<%= le_an_gln %>" class="tf_shorty"  readonly  />
        </td>
    <% end %>
   </tr>

   <tr>
      <td>
        SALIDA 
      </td>
    <% for productItem in @pumps %>


        <% rating_id = "SALIDA_"<<productItem.fuel %>


        

        <% valor =  VentaislaDetail.find_by(ventaisla_id: @ventaisla.id, pump: productItem.id)  %>

       <% if valor  %>

        <% le_an_gln = valor.le_ac_gln  %>

       <% else %> 

        <% le_an_gln = 0.00  %>

       <% end %>   


    

        <td>
          <input type="text" name= "<%="#{rating_id}" %>" id= "<%= "#{rating_id}" %>" value="<%= le_an_gln %>" class="tf_shorty" onblur="myFunction()"  />
        </td>
    <% end %>
   </tr>
  
   
   
   <tr>
      <td>
        GLNS
      </td>
    <% for productItem in @pumps %>
        <% rating_id = "GLNS_"<<productItem.fuel %>
        <% le_an_gln = 0.00 %>
        <% puts rating_id %>
        <td>
          <p id= "<%= "#{rating_id}" %>" align="right"> </p>
          
        </td>
    <% end %>


   </tr>
   <tr>
      <td>
        PRECIO
      </td>
    <% for productItem in @pumps %>
        <% rating_id = "PRECIO_"<<productItem.fuel   %>


        <% valor =  VentaislaDetail.find_by(ventaisla_id: @ventaisla.id, pump: productItem.id)  %>

       <% if valor  %>

        <% precio  = valor.price  %>

       <% else %> 

         <% precio  = productItem.product.price  %>
       <% end %>   


      

        <td>
           <input type="text" name= "<%="#{rating_id}" %>" id= "<%= "#{rating_id}" %>" value="<%= precio %>" class="tf_shorty"  onblur="myFunction()"  align="right" />
          
        </td>
    <% end %>


   </tr>
    tr>
      <td>
        SUB TOTAL
      </td>
    <% for productItem in @pumps %>
        <% rating_id = "SUBTOTAL_"<<productItem.fuel %>
        <% le_an_gln = 0.00 %>
        <% puts rating_id %>
        <td>
          <p id= "<%= "#{rating_id}" %>"  align="right"></p>
          
        </td>
    <% end %>


   </tr>


</tbody>

      


    </table>



</tbody>
</table>
<br />


<div class="button">
     
   <input type="submit" value="Grabar" />

</div> 

</form>


<%= br() %>



<%= link_to 'Regresar', ventaislas_path %>

<%= render 'layouts/autocomplete' %>

<script>


function myFunction() {
  var x = document.getElementsByTagName("input");

  console.log("x: " + x);
  console.log("Number of inputs: " + x.length);

  var arrayOfInputNames = [];
  var campo_gln ;
  var campo_dif ;


      for (var i = 0; i < x.length; i++) {
      //for(key in x) {
        console.log("i: " + i);
        console.log("value: " + x[i].name);

        arrayOfInputNames.push(x[i].name );

       // var contacto = $('input[name="contacto"]').val();

      }

//for (i = 0; i < arrayOfInputNames.length; i++)
//  document.writeln((i+1) + ": " + arrayOfInputNames[i]);
   var cadena = "" ;
   var diferencia = 0; 

  fLen = arrayOfInputNames.length;

    for (i = 0; i < fLen; i++) {

       cadena = arrayOfInputNames[i] ;

      if (cadena.substring(0,6) == "SALIDA" ){

              campo_ent = "ENTRADA_" + cadena.substring(7,12) ;
              campo_sal = "SALIDA_"  + cadena.substring(7,12) ;
              campo_gln = "GLNS_"    + cadena.substring(7,12) ;
              campo_pre = "PRECIO_"  + cadena.substring(7,12) ;

              campo_sub = "SUBTOTAL_"  + cadena.substring(7,12) ;
             
              diferencia = ($("input[name="+campo_sal+"]").val() - $("input[name="+campo_ent+"]").val());

              subtotal = diferencia *   $("input[name="+campo_pre +"]").val() ;

              //alert(diferencia);
              document.getElementById(campo_gln).innerHTML = Number((diferencia).toFixed(2));;
              document.getElementById(campo_sub).innerHTML = Number((subtotal).toFixed(2));;

            }
        else {
        
        }

      }


      console.log(arrayOfInputNames);

 //document.getElementById("demo").innerHTML = arrayOfInputNames ;

}
  


function  addItemToContometro() {

 var x = document.getElementsByTagName("input");

  console.log("x: " + x);
  console.log("Number of inputs: " + x.length);

  var arrayOfInputNames = [];
  var campo_gln ;
  var campo_dif ;


      for (var i = 0; i < x.length; i++) {
      //for(key in x) {
        console.log("i: " + i);
        console.log("value: " + x[i].name);

        arrayOfInputNames.push(x[i].name );

      }

   var cadena = "" ;
   var diferencia = 0; 
   var item_line = "";
   var items = "";

  fLen = arrayOfInputNames.length;

    for (i = 0; i < fLen; i++) {

       cadena = arrayOfInputNames[i] ;

      if (cadena.substring(0,6) == "SALIDA" ){

              campo_ent = "ENTRADA_" + cadena.substring(7,12) ;
              campo_sal = "SALIDA_"  + cadena.substring(7,12) ;
              campo_pre = "PRECIO_"  + cadena.substring(7,12) ;

             // alert($("input[name="+campo_sal+"]").val());
             campo_ent_val = $("input[name="+campo_ent+"]").val();

             campo_sal_val = $("input[name="+campo_sal+"]").val();
             
             campo_pre_val = $("input[name="+campo_pre+"]").val();
                      
              item_line = campo_ent  + "|BRK|" + campo_ent_val + "|BRK|" + 
                          campo_sal  + "|BRK|" + campo_sal_val + "|BRK|" + 
                          campo_pre  + "|BRK|" + campo_pre_val + "|BRK|"  ;
          

             items = items + "," + item_line ;
      

            }

            
        else {
        
      }

      
    }

    var isla_id  = <%= @isla_id  %> ; 
    var ventaisla_id = <%= @ventaisla_id %> ; 
   
    $.get('/ventaislas/do_grabar/<%= @ventaisla_id %>/' + isla_id,  {
      items: items
    },
    function(data) {
      $("#list_items").html(data);
      documentReady();
    });
}







</script>


