<p id="notice"><%= notice %></p>

<h1>Listing Anexo8s</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Code nube</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anexo8s.each do |anexo8| %>
      <tr>
        <td><%= anexo8.code %></td>
        <td><%= anexo8.name %></td>
        <td><%= anexo8.code_nube %></td>
        <td><%= link_to 'Show', anexo8 %></td>
        <td><%= link_to 'Edit', edit_anexo8_path(anexo8) %></td>
        <td><%= link_to 'Destroy', anexo8, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anexo8', new_anexo8_path %>
