<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @anexo8.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @anexo8.name %>
</p>

<p>
  <strong>Code nube:</strong>
  <%= @anexo8.code_nube %>
</p>

<%= link_to 'Edit', edit_anexo8_path(@anexo8) %> |
<%= link_to 'Back', anexo8s_path %>
