<p id="notice"><%= notice %></p>

<h1>Listing Devols</h1>

<table>
  <thead>
    <tr>
      <th>Cod prod</th>
      <th>Fecha</th>
      <th>Cantidad </th>
      
      <th>Documento</th>
      <th>Observa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devols.each do |devol| %>
      <tr>
        <td><%= devol.cod_prod %></td>
        <td><%= devol.fecha.strftime("%d/%m/%Y")  %></td>
        <td><%= devol.qty  %></td>
        
        <td><%= devol.documento %></td>
        <td><%= devol.observa %></td>
        <td><%= link_to 'Show', devol %></td>
        <td><%= link_to 'Edit', edit_devol_path(devol) %></td>
        <td><%= link_to 'Destroy', devol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Devol', new_devol_path %>
