<p id="notice"><%= notice %></p>

<p>
  <strong>Cod prod:</strong>
  <%= @devol.cod_prod %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @devol.fecha %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @devol.documento %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @devol.observa %>
</p>

<%= link_to 'Edit', edit_devol_path(@devol) %> |
<%= link_to 'Back', devols_path %>
