<%= simple_form_for(@note_concept) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :descrip %>
    <%= f.input :td %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
