<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="mid_box bordered_right">
  
  <div class="field">
    <%= f.label :firstname, "Nombres" %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname ,"Apellidos "%><br>
    <%= f.text_field :lastname %>
  </div>
  
  <div class="field">
      <%= f.label :categoria_id , "Categoria Trabajador "%><br />
      <%= f.collection_select :categoria_id, @categorias, :id, :descrip, :prompt => true %>
  </div>
  
  <div class="field">
    <%= f.label :idnumber ,"DNI.:"%><br>
    <%= f.text_field :idnumber %>
  </div>
  
  <div class="field">
    <%= f.label :sexo_id ,"  "%><br />
    <%= f.select :sexo_id, options_for_select([["MASCULINO",1],["FEMENINO",2]]) %>
   </div>
   <div class="field">
    <%= f.label :estado_civil_id ,"  "%><br />
    <%= f.select :estado_civil_id, options_for_select([["SOLTERO",1],["CASADO",2],["VIUDO",3],["DIVORCIADO",4]]) %>
   </div>
  
   
  <div class="field">
    
    <%= f.label :address1 ,"Dirección 1:" %><br>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2,"Dirección 2:" %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city,"Distrito:" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state, "Provincia:" %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip,"Cod.Postal" %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :country,"Pais" %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :licencia ,"Licencia" %><br>
    <%= f.text_field :licencia  %>
  </div>
  
  <div class="field">
    <%= f.label :phone1 ,"Telefono 1:"%><br>
    <%= f.text_field :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2, "Telefono 2:"%><br>
    <%= f.text_field :phone2 %>
  </div>

  <div class="field">
    <%= f.label :email1, "email: 1" %><br>
    <%= f.text_field :email1 %>
  </div>
  <div class="field">
    <%= f.label :email2 , "email 2"%><br>
    <%= f.text_field :email2 %>
  </div>
  <div class="field">
    <%= f.label :sueldo, "Sueldo:" %><br>
    <%= f.number_field :sueldo,:step => 0.5 %>
  </div>
  
  
  <div class="field">
      <%= f.label :afp_id , "Afp  "%><br />
      <%= f.collection_select :afp_id, @afps, :id, :name, :prompt => true %>
  </div>
  <div class="field">
      <%= f.label :comision_flujo ,"Comision Flujo ? [0-1..] :"%><br />
      <%= f.number_field :comision_flujo  %>
    </div>

  <div class="field">
      <%= f.check_box :onp %>
      <%= f.label :onp ,"ONP?", :class => "bold" %>
      <div class="small">
        Regimen ONP ? 
      </div>
    </div>
   
  
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  
   <div class="field">
      <%= f.check_box :active%>
      <%= f.label :active ,"Activo?", :class => "bold" %>
      <div class="small">
        Es un empleado  ?
      </div>
    </div>
</div>

<div class="mid_box">
  
  <div class="field">
      <%= f.label :asignacion ,"Asignacion Familiar ? [0-1..] :"%><br />
      <%= f.number_field :asignacion  %>
      
    </div>

  
    <div class="field">
      <%= f.label :location_id ,"Agencia :"%><br />
      <%= f.collection_select :location_id, @locations, :id, :name, :prompt => true %>
      
    </div>

    <div class="field">
      <%= f.label :division_id ,"Seccion : " %><br />
      <%= f.collection_select :division_id, @divisions, :id, :name, :prompt => true %>
      
    </div>
    
    <div class="field">
      <%= f.label :ocupacion_id ,"Seccion : " %><br />
      <%= f.collection_select :ocupacion_id, @ocupacions, :id, :name, :prompt => true %>
      
    </div>
    
    <%= hr() %>
    
  <div class="field">
    <%= f.label :file_nro, "File Numero " %><br>
    <%= f.number_field :file_nro  %>
  </div>
  
  <div class="field">
    <%= f.label :carnet_seguro, "Carnet Seguro:" %><br>
    <%= f.text_field :carnet_seguro  %>
  </div>
  
  
  <div class="field">
    <%= f.label :fecha_nacimiento, "Fecha Nacimiento:" %><br>
    <%= f.date_field :fecha_nacimiento  %>
  </div>
  <div class="field">
    <%= f.label :fecha_ingreso, "Fecha Ingreso:" %><br>
    <%= f.date_field :fecha_ingreso  %>
  </div>
  
  <div class="field">
    <%= f.label :fecha_cese, "Fecha Cese:" %><br>
    <%= f.date_field :fecha_cese  %>
  </div>
  
  
  
</div>
   <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
