<p id="notice"><%= notice %></p>

<h1>Empleados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre </th>
      <th>Apellidos</th>
      <th>DNI</th>
      <th>Fecha Ingreso</th>
      <th>Fecha Nacimiento</th>
      <th>CUSSPP</th>
      <th>Carnet Seguro</th>
      <th>Activo?</th>
      <th>Planilla?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
<%= form_tag(employees_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Buscar empleado" %>
  <%= submit_tag "Search" %>
<% end %>

    <% @employees.each do |employee| %>
      <tr>
        <td  class="small bordered_bottom bordered_right"><%= employee.firstname %></td>
        <td  class="small bordered_bottom bordered_right"><%= employee.lastname %></td>
        <td  class="small bordered_bottom bordered_right"><%= employee.idnumber  %></td>
        
        <% if employee.fecha_ingreso != nil %>
        <td  class="small bordered_bottom bordered_right"><%= employee.fecha_ingreso.strftime("%d/%m/%Y")  %></td>
        <%else%>
        <td class="small bordered_bottom bordered_right"> No registrado </td>
        <% end %>
        <% if employee.fecha_nacimiento != nil %>
        <td  class="small bordered_bottom bordered_right"><%= employee.fecha_nacimiento.strftime("%d/%m/%Y")  %></td>
        <%else%>
        <td class="small bordered_bottom bordered_right"> No registrado </td>
        <% end %>
        <% if employee.cusspp != nil %>
        <td  class="small bordered_bottom bordered_right"><%= employee.cusspp  %></td>
        <%else%>
        <td class="small bordered_bottom bordered_right"> No registrado </td>
        <% end %>
        <% if employee.carnet_seguro != nil %>
        <td  class="small bordered_bottom bordered_right"><%= employee.carnet_seguro  %></td>
        <%else%>
        <td class="small bordered_bottom bordered_right"> No registrado </td>
        <% end %>
        
        
        <td  class="small bordered_bottom bordered_right"><%= employee.active  %></td>
        
        <%if employee.planilla =="0"%>
        <td class="small bordered_bottom bordered_right"> No </td>
        <%else %>
        <td class="small bordered_bottom bordered_right"> Si </td>
        <% end %>
        
        <td><%= link_to 'Ver', employee %></td>
        <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
          <%if @current_user.level == 'admin' %>
        <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Esta seguro ?' } %></td>
          <% end %>
      </tr>
    <% end %>

  </tbody>

</table>

<br>
<%= will_paginate @employees %>
    
    
<%= link_to 'Nuevo empleado ', new_employee_path %>


<h2>Importar Archivo "*.csv"</h2>

<%= form_tag import_employees_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>





