<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @employee.firstname %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @employee.address1 %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @employee.address2 %>
</p>
<p>
  <strong>DNI:</strong>
  <%= @employee.IdNumber %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @employee.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @employee.zip %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @employee.country %>
</p>

<p>
  <strong>Licencia:</strong>
  <%= @employee.licencia %>
</p>

<p>
  <strong>Telefono 1:</strong>
  <%= @employee.phone1 %>
</p>

<p>
  <strong>Telefono 2:</strong>
  <%= @employee.phone2 %>
</p>

<p>
  <strong>e-mail :</strong>
  <%= @employee.email1 %>
</p>

<p>
  <strong>e-mail alternativo:</strong>
  <%= @employee.email2 %>
</p>

<p>
  <strong>Company:</strong>
  <%= @employee.company_id %>
</p>

<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Regresar', employees_path %>
