<% if @lgv.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@lgv.errors.count, "error") %> prohibited this lgv from being saved:</h2>
    <ul>
    <% @lgv.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>

<div class="mid_box bordered_right">

  <%= form_for(@lgv) do |f| %>
    <h4>
       Informacion Liquidacion de Gastos
    </h4>
    
  <div>
        <td>
        <div class="field">
          <%= f.label :code, "Code*", :class => "bold" %><br />
          <%= f.text_field :code, :onclick => "$(this).select();" %>
        </div>
        </td>
          
        </div>
        
        </td>      
        
         <td>
        <div class="field">
          <%= f.label :peaje, "Peaje*", :class => "bold" %><br />
          <%= f.number_field :peaje, :class => "input.tf_short" ,:value => "0.00" %>
        </div>

        </td>
        <td>
        <div class="field">
          <%= f.label :fecha, "Fecha*", :class => "bold" %><br />
          <%= f.date_field :fecha,:class => "input.tf_short" %>
        </div>

        </td>
        
       
  
        <%= hr() %>
      <div class="field" id="list_items2">
        <p class="bold big">Viaticos :</p>
      </div>
      
      <div class="field" id="list_items">
        <p class="bold big">Detalle gastos :</p>
      </div>
      
      
      
    <%= hr() %>
    
        <table>
          
          <tr>
            <td>
              <div class="field">
                <%= f.label  :cdevuelto,"Comp.Devuelto " , :class => "bold"%><br />
                <%= f.text_field :cdevuelto, :class => "input.tf_short" ,:value => "" %>
              </div>
            </td>
            
            <td>
              <div class="field">
                <%= f.label  :devuelto,"Devuelto  " , :class => "bold"%><br />
                <%= f.number_field :devuelto, :class => "input.tf_short" ,:value => "0.00" %>
              </div>
            </td>
        
        </tr>
        
          <tr>
            
            <td>
              <div class="field">
                <%= f.label  :cdescuento,"Comp.Descuento " , :class => "bold"%><br />
                <%= f.text_field :cdescuento, :class => "input.tf_short" ,:value => "" %>
              </div>
            </td>
            <td>
             <div class="field">
              <%= f.label  :descuento,"Descuento  " , :class => "bold"%><br />
              <%= f.number_field :descuento, :class => "input.tf_short" ,:value => "0.00" %>
              </div>
            </td>  
          </td>
          
          <tr>
            <td>
              <div class="field">
                <%= f.label  :creembolso,"Comp.Reembolso" , :class => "bold"%><br />
                <%= f.text_field :creembolso, :class => "input.tf_short" ,:value => "" %>
              </div>
            </td>
            
          <td>
          <div class="field">
            <%= f.label  :reembolso,"Reembolso  " , :class => "bold"%><br />
            <%= f.number_field :reembolso, :class => "input.tf_short" ,:value => "0.00" %>
          </div>
        </td>
        </tr>
        </table>
        <%= hr() %>
         <div class="field">
          <%= f.label  :comments,"Comentarios  " , :class => "bold"%><br />
          <%= f.text_area :comments  %>
        </div>
   
        <%= hr() %>
      
     <div class="field">
      <label for="ac_user" class="bold">Seller*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
      </div>
      <br />

      <div class="small">
        <strong>Selected seller:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>

    </div>
  
    <%= hr() %>
    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @lgvs_lines %><%= @lgvs_lines %><% end %>" />
      <input type="hidden" name="items2" id="items2" value="<% if @compro_lines %><%= @compro_lines %><% end %>" />
      <%= f.hidden_field :user_id, :id => "ac_user_id" %>
      <%= f.hidden_field :compro_id, :id => "ac_compro_id" %>
      <%= f.hidden_field :company_id %>

      <%= f.submit %>
    </div>
    
    <div class="small">
      Once you're done adding customers, don't forget to <strong><%= @action_txt %></strong> your lgv.
    </div>

  <% end %>
</div>




<div class="mid_box">
  
  
  <h4>
    Agregar Viaticos por rendir 
  </h4>
                                              
  <form method="get" action="/lgvs" onsubmit="addItemToLgv2(); return false;">

    <strong>Documento :</strong><br />
          <input type="text" name="ac_item_compro" id="ac_item_compro" value="" />
          <div class="small">
            Ingrese un termino de busqueda para encontrar un documento 
          </div>
    
          <br />

          <strong>Importe :</strong><br />
      
          <input type="text" name="ac_item_inicial" id="ac_item_inicial" value="" class="tf_short" readonly />
          <div class="small">
            Importe entregado en comprobante.
          </div>
          <br />
    
    <input type="submit" value="Agregar Comprobante" />

  </form>

<%= hr() %>
  <h5>
    Agregar informacion egresos comprobante 
  </h5>
  
  <form method="get" action="/lgvs" onsubmit="addItemTolgv(); return false;">   
  
    
  
    <br />
    
    <td>
      
     
    <div >
    <strong>Gasto  :</strong><br />
    <br />
      <%= select_tag :ac_item_id, options_from_collection_for_select(@gastos,'id','descrip')%>  
    <br />
    <div>
      Ingrese un termino de busqueda para encontrar un documento 
    </div>
    
      <br />
    <td>
      <strong> Fecha :</strong><br />
      <input type="date" name="ac_item_fecha" id="ac_item_fecha" min="2017-01-01"><br> 
    </td>
    
     <br />
    <td>
      <strong> TD :</strong><br />
      <input type="text" name="ac_item_td" id ="ac_item_td" value="" />
      <div class="small">
        Tipo de documento 
      </div>
    </td>
        
     <br />
    <strong>Documento :</strong><br />
    <input type="text" name="ac_item_documento" id="ac_item_documento" value="" />
    <div class="small">
      Ingrese un termino de busqueda para encontrar un documento 
    </div>
    
    <br />  
  
  

    <div >
      <strong>Total:</strong><br />    
    <input type="text" name="ac_item_importe" id="ac_item_importe" value="0.00" class="tf_short" />
    </div>
    <div class="small">
     Total 
    </div>

    <br />
    <div >
      <strong>Detalle:</strong><br />    
    <input type="text" name="ac_item_detalle" id="ac_item_detalle" value=""  />
    </div>
    <div class="small">
     Detalle 
    </div>
    
  <br />
    
    <input type="submit" value="Agregar item a Comprobante" />
      
  </form>
  
  <%= hr() %>
  
  
</div>

<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {

    
    
    
    
   $("#ac_item_compro").autocomplete("/lgvs/ac_compros/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item_compro").result(function(event, data, formatted) {
      $("#ac_item_inicial").val(data[4]);
      $("#ac_compro_id").val(data[2]);
    });
    
    $("#ac_user").autocomplete("/lgvs/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });    
    
    <% if @lgvs_lines %>
      listItemslgv();
    <% end %>
  });
</script>