<% if @lgvs.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
         Orden
        </th>
        <th class="bordered_right bordered_bottom">
          Cliente 
        </th>
        <th class="bordered_right bordered_bottom">
          Total 
        </th>
        <th class="bordered_right bordered_bottom">
          Fecha 
        </th>
        
        <th class="bordered_right bordered_bottom">
          Aprobado 
        </th>
        <th class="bordered_right bordered_bottom" colspan="3">
          Opciones 
        </th>
      </tr>
    </thead>
    <tbody>
    
      <% for lgv  in @lgvs %>
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= link_to lgv.code, lgv, :title => "Ir a factura" %>
          </td>
       
          <td class="small bordered_bottom bordered_right">
            <%= money(lgv.inicial) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(lgv.total_ing) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(lgv.total_egreso) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(lgv.saldo) %>
          </td>

          
          <td class="bordered_right bordered_bottom">
            <%= lgv.fecha.strftime("%d/%m/%Y")  %>
          </td>
          <td class="bordered_right bordered_bottom <%= lgv.processed_color %>">
            <%= lgv.get_processed_short %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Ver", lgv %>
          </td>
          <td class="bordered_right bordered_bottom">  
          
            
          <%= link_to 'Eliminar', lgv, :data=> {:confirm => 'Esta seguro ?'}, :method => :delete  %>           
                  
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    We couldn't find any lgv.
  </p>
<% end %>