<p class="bold big">
  Detalle de gastos 
</p>

  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Nro.Documento
        </th>
        <th class="small bordered_bottom bordered_right">
          Fecha
        </th>
        
        <th class="small bordered_bottom bordered_right">
          Codigo
        </th>
        
       
        <th class="small bordered_bottom bordered_right">
          TD.
        </th>
        
         <td class="small bordered_bottom bordered_right">
          Factura
         </td>
        <th class="small bordered_bottom bordered_right">
          Total 
         </th>
        
      </tr>
    </thead>
    <tbody>
      
      <% for product in @products %>
        <tr>
          <td class="small bordered_bottom bordered_right" style="width: 100px;">
          <a href="#" onclick="removeItemFromlgv(<%= product.i %>); return false;" title="Remove product from invoice"><%= product.descrip %></a>
          <a href="#" onclick="removeItemFromlgv(<%= product.i %>); return false;" title="Remove product from invoice">X</a>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.fecha.strftime("%d/%m/%Y")  %>
          </td>
          
         <td class="small bordered_bottom bordered_right">
            <%= product.code %>
          </td>
        
         <td class="small bordered_bottom bordered_right">
            <%= product.td %>
          </td>
           <td class="small bordered_bottom bordered_right">
            <%= product.documento  %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.importe) %>
          </td>
         
          
          
        </tr>
      <% end %>
    
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Gastos realizados : 
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@total_pago1) %>    
      </td>      
    </tr>

  
      <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Diferencia :
      </td>
      <td class="bordered_bottom bordered_right bold right">
       <%= money(@diferencia) %>    
      </td>
      
    </tr>

    </tbody>
  </table>



