<p class="bold big">
  Viaticos 
</p>


  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Comprobante
        </th>
        <th class="small bordered_bottom bordered_right">
          Conductor 
        </th>
        <th class="small bordered_bottom bordered_right">
          Placa
        </th>
       <th class="small bordered_bottom bordered_right">
          Importe 
         </th>
        
      </tr>
    </thead>
    <tbody>
      <% for product in @lgvs %>
        <tr>
          <td class="small bordered_bottom bordered_right" style="width: 100px;">
            <a href="#" onclick="removeItemFromLgv2(<%= product.i %>); return false;" title="Eliminar desde Lgv"><%= product.code %></a>
            [<a href="#" onclick="removeItemFromLgv2(<%= product.i %>); return false;" title="
            Eliminar desde Lgv">X</a>]
          </td>
         <td class="small bordered_bottom bordered_right">
            <%= product.detalle %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.descrip %>
          </td>
        
          <td class="small bordered_bottom bordered_right">
            <%= product.importe %>
          </td>
        </tr>
      <% end %>
      
      <tr>
      <td colspan="3" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@total_inicial) %>    
      </td>      
    </tr>

    </tbody>
  </table>
