<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @lgv.company.name, @lgv.company %> &raquo;
  <%= link_to "lgvs", "/companies/customer_payments/#{@lgv.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @lgv.identifier %>
</h1>

<%= hr() %>

<% if @lgv.location %>
  <p>
    <b>Location:</b>
    <%= link_to @lgv.location.name, @lgv.location %>
  </p>
<% end %>

<% if @lgv.division %>
  <p>
    <b>Division:</b>
    <%= link_to @lgv.division.name, @lgv.division %>
  </p>
<% end %>

<p>
  <b>Code:</b>
  <%= @lgv.code %>
</p>

<p>
    <b>Fecha entrega:</b>
    <%= @lgv.fecha.strftime("%d/%m/%Y") %>   
</p>
 
<p>
    <b>Estado: </b>
    <%= @lgv.get_processed   %>   
</p>


<%= hr() %>

<h3>
  Informacion LGV
</h3>
<p>
  <b>Commprobante </b>  
  <%= link_to @lgv.compro.code %>
   
</p>
<p>
  <b>Detalle Comprobante </b>  
  </p>
  <p>
   <%=@lgv.compro.tranportorder.employee.full_name %>
   </p>
   <p>
   <%= @lgv.compro.tranportorder.truck.placa %>
  </p>
    <p>    
    <b> Fecha 1</b>
   <%= @lgv.compro.tranportorder.fecha1.strftime("%d/%m/%Y") %>
    </p>
    <p>
      <b> Fecha 2</b>
      <%= @lgv.compro.tranportorder.fecha2.strftime("%d/%m/%Y") %>
    </p>


<p>
  <b>Inicial </b>  
  <%= link_to @lgv.inicial %>
</p>


<%= hr() %>

<table>
  <thead>
    <tr>
      <th>
        Cod.
      </th>
      <th>
        Gasto
      </th>
      <th>
        Fecha
      </th>
      
      <th>
        Td
      </th>
      
      <th>
        Documento 
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    

    <% for product in @lgv.get_lgvs() %>
      <tr>
          <td class="small bordered_bottom bordered_right">
            <%= product.gasto.code %>
          </td>

       <td class="small bordered_bottom bordered_right">
            <%= product.gasto.descrip %>
          </td>
          
         <td class="small bordered_bottom bordered_right">
            <%= product.fecha %>
          </td>
       
         <td class="small bordered_bottom bordered_right">
            <%= product.td %>
          </td>
           <td class="small bordered_bottom bordered_right">
              <%=product.documento %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.total) %>
          </td>

      </tr>
    <% end %>
    
    
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Total Egresos
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@lgv.total_ing) %>
      </td>
    </tr>
    
   <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Peajes
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@lgv.total_egreso) %>
      </td>
    </tr>
   <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Saldo
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@lgv.saldo) %>
      </td>
    </tr>
    
  </tbody>
</table>


<br />

<%= hr() %>


<br />


<p>
  <strong>Seller:</strong>
  <%= link_to @lgv.user.username, @lgv.user %>
</p>

<%= hr() %>

<div class="button">
  
  
 <% if @lgv.processed == "1" %> 

 <% %>

 <% else %>

  <%= link_to 'Procesar', "/lgvs/do_process/#{@lgv.id}" %>

 <% end %> 
  
  <%= link_to 'Regresar', "/companies/lgvs/#{@lgv.company.id}" %>
</div>

