<p id="notice"><%= notice %></p>

<p>
  <strong>Td:</strong>
  <%= @ventum.td %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ventum.fecha %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @ventum.turno %>
</p>

<p>
  <strong>Cod emp:</strong>
  <%= @ventum.cod_emp %>
</p>

<p>
  <strong>Caja:</strong>
  <%= @ventum.caja %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @ventum.serie %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @ventum.numero %>
</p>

<p>
  <strong>Cod cli:</strong>
  <%= @ventum.cod_cli %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @ventum.ruc %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @ventum.placa %>
</p>

<p>
  <strong>Odometro:</strong>
  <%= @ventum.odometro %>
</p>

<p>
  <strong>Cod prod:</strong>
  <%= @ventum.cod_prod %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ventum.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @ventum.precio %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @ventum.importe %>
</p>

<p>
  <strong>Igv:</strong>
  <%= @ventum.igv %>
</p>

<p>
  <strong>Fpago:</strong>
  <%= @ventum.fpago %>
</p>

<p>
  <strong>Dolat:</strong>
  <%= @ventum.dolat %>
</p>

<p>
  <strong>Implista:</strong>
  <%= @ventum.implista %>
</p>

<p>
  <strong>Cod tar:</strong>
  <%= @ventum.cod_tar %>
</p>

<p>
  <strong>Km:</strong>
  <%= @ventum.km %>
</p>

<p>
  <strong>Chofer:</strong>
  <%= @ventum.chofer %>
</p>

<p>
  <strong>Tk devol:</strong>
  <%= @ventum.tk_devol %>
</p>

<p>
  <strong>Cod sucu:</strong>
  <%= @ventum.cod_sucu %>
</p>

<p>
  <strong>Isla:</strong>
  <%= @ventum.isla %>
</p>

<p>
  <strong>Dni cli:</strong>
  <%= @ventum.dni_cli %>
</p>

<%= link_to 'Edit', edit_ventum_path(@ventum) %> |
<%= link_to 'Back', venta_path %>
