<p class="bold big">
  Producto|s:
</p>


  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Producto
        </th>
        <th class="small bordered_bottom bordered_right">
          Precio 
        </th>
        <th class="small bordered_bottom bordered_right">
          Puntos 
        </th>
        
        <th class="small bordered_bottom bordered_right">
          Cantidad
        </th>
        <th class="small bordered_bottom bordered_right">
          Dscto
        </th>
        <th class="small bordered_bottom bordered_right">
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      <% for product in @products %>
        <tr>
          <td class="small bordered_bottom bordered_right" style="width: 220px;">
            <a href="#" onclick="removeItemFromInvoice(<%= product.i %>); return false;" title="Remove product from invoice"><%= product.full_name %></a>
            [<a href="#" onclick="removeItemFromInvoice(<%= product.i %>); return false;" title="Remove product from invoice">X</a>]
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.price) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.punto) %>
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= product.quantity %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.discount) %>%
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.CurrTotal) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
