<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @truck.code %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @truck.placa %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @truck.clase %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @truck.marca_id %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @truck.modelo_id %>
</p>

<p>
  <strong>Certificado:</strong>
  <%= @truck.certificado %>
</p>

<p>
  <strong>Ejes:</strong>
  <%= @truck.ejes %>
</p>

<p>
  <strong>Licencia:</strong>
  <%= @truck.licencia %>
</p>

<p>
  <strong>Neumatico:</strong>
  <%= @truck.neumatico %>
</p>

<p>
  <strong>Config:</strong>
  <%= @truck.config %>
</p>

<p>
  <strong>Carroceria:</strong>
  <%= @truck.carroceria %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @truck.anio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @truck.estado %>
</p>

<p>
  <strong>Propio:</strong>
  <%= @truck.propio %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
