<%= simple_form_for(@tirad) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <div class="field">
    <label class="bold">Empleado *</label><br />      
        
             <%= f.collection_select :employee_id, @employees, :id, :full_name :prompt => true %>
    </div>   
    
    
    
    
      
        <div class="field">
           <label class="bold">Turno *</label><br />      
          <%=  f.number_field :turno  %>
        </div>
    
     
    
    <div class="field">
    <%= f.label :fecha ,"Fecha: "%><br />
    <%= f.date_field :fecha %>
    </div>
        
        
    
    <div class="field">
    <%= f.label :documento ,"documento: "%><br />
    <%= f.text_field :documento  %>
    </div>
    
   <div class="field">
    <%= f.label :importe ,"Importe: "%><br />
    <%= f.number_field :importe,class: :text_field, step: :any %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
