<p id="notice"><%= notice %></p>

<h1>Listing Remisions</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @remisions.each do |remision| %>
      <tr>
        <td><%= remision.code %></td>
        <td><%= remision.name %></td>
        <td><%= link_to 'Show', remision %></td>
        <td><%= link_to 'Edit', edit_remision_path(remision) %></td>
        <td><%= link_to 'Destroy', remision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remision', new_remision_path %>
