<p id="notice"><%= notice %></p>

<h1>Bonificaciones</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Importe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payrollbonis.each do |payrollboni| %>
      <tr>
        <td><%= payrollboni.code %></td>
        <td><%= payrollboni.descrip %></td>
        <td><%= payrollboni.importe %></td>
        <td><%= link_to 'Show', payrollboni %></td>
        <td><%= link_to 'Edit', edit_payrollboni_path(payrollboni) %></td>
        <td><%= link_to 'Destroy', payrollboni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payrollboni', new_payrollboni_path %>
