<p id="notice"><%= notice %></p>

<p>
  <strong>Planilla:</strong>
<br>
  <strong>Code:</strong>
  <%= @payrollboni.payroll.code %>
  <br>
  <strong>Fecha Inicial:</strong>
  <%= @payrollboni.payroll.fecha_inicial %>
  <br>
  <strong>Fecha Final:</strong>
  <%= @payrollboni.payroll.fecha_final %>
</p>


<p>
  <strong>Code:</strong>
  <%= @payrollboni.code %>
</p>

<p>
  <strong>Descrpción:</strong>
  <%= @payrollboni.descrip %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @payrollboni.importe %>
</p>

<%= link_to 'Editar', edit_payrollboni_path(@payrollboni) %> |
<%= link_to 'Regresar', payrollbonis_path %>
