<p id="notice"><%= notice %></p>

<h1>Cuentas Bancos </h1>

<table>
  <thead>
    <tr>
      <th>Bank acount</th>
      <th>Fecha</th>
      <th>Saldo inicial</th>
      <th>Total abono</th>
      <th>Total cargo</th>
      <th>Saldo final</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bankdetails.each do |bankdetail| %>
      <tr>
        <td><%= bankdetail.bank_acount_id %></td>
        <td><%= bankdetail.fecha %></td>
        <td><%= bankdetail.saldo_inicial %></td>
        <td><%= bankdetail.total_abono %></td>
        <td><%= bankdetail.total_cargo %></td>
        <td><%= bankdetail.saldo_final %></td>
        <td><%= link_to 'Ver', bankdetail %></td>
        <td><%= link_to 'Editar', edit_bankdetail_path(bankdetail) %></td>
        <td><%= link_to 'Eliminar', bankdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bankdetail', new_bankdetail_path %>
