



<% if params[:field].blank? || params[:field] == "" %>
<p>

    <%= f.label :fecha1, "Fecha 1 *", :class => "bold" %>
    <%= f.date_field :fecha1 %>

    <%= f.label :qty1, "Cantidad 1 *", :class => "bold" %>
    <%= f.number_field :qty1 ,:step => 0.01 %><br />
  
    <%= f.label :fecha2, "Fecha 2 *", :class => "bold" %>
    <%= f.date_field :fecha2 %>

    <%= f.label :qty2, "Cantidad 2 *", :class => "bold" %>
    <%= f.number_field :qty2 ,:step => 0.01 %><br />
  

    <%= f.label :fecha3, "Fecha 3 *", :class => "bold" %>
    <%= f.date_field :fecha3  %>

    <%= f.label :qty3, "Cantidad 3 *", :class => "bold" %>
    <%= f.number_field :qty3  ,:step => 0.01%><br />


    <%= f.label :fecha4, "Fecha 4*  ", :class => "bold" %>
    <%= f.date_field :fecha4 %>

    <%= f.label :qty4, "Cantidad 4 *", :class => "bold" %>
    <%= f.number_field :qty4 ,:step => 0.01 %><br />
  
    <%= f.label :fecha5, "Fecha 5 *", :class => "bold" %>
    <%= f.date_field :fecha5 %>

    <%= f.label :qty5, "Cantidad 5 *", :class => "bold" %>
    <%= f.number_field :qty5 ,:step => 0.01 %><br />
  

    <%= f.label :fecha6, "Fecha 6 *", :class => "bold" %>
    <%= f.date_field :fecha6  %> 

    <%= f.label :qty6, "Cantidad 6 *", :class => "bold" %>
    <%= f.number_field :qty6  ,:step => 0.01%><br />

    
    <%= f.label :fecha7, "Fecha 7 *", :class => "bold" %>
    <%= f.date_field :fecha7  %> 

    <%= f.label :qty7, "Cantidad 7 *", :class => "bold" %>
    <%= f.number_field :qty7  ,:step => 0.01%><br />

    <%= f.label :fecha8, "Fecha 8 *", :class => "bold" %>
    <%= f.date_field :fecha8  %> 

    <%= f.label :qty8, "Cantidad 8 *", :class => "bold" %>
    <%= f.number_field :qty8  ,:step => 0.01%><br />
 

    <%= f.label :fecha9, "Fecha 9*", :class => "bold" %>
    <%= f.date_field :fecha9  %> 

    <%= f.label :qty9, "Cantidad 9*", :class => "bold" %>
    <%= f.number_field :qty9  ,:step => 0.01%><br />
        P

    <%= f.label :fecha10, "Fecha 10*", :class => "bold" %>
    <%= f.date_field :fecha10  %> 

    <%= f.label :qty10, "Cantidad 10*", :class => "bold" %>
    <%= f.number_field :qty10  ,:step => 0.01%><br />

    
    
</p>


<% end %>

