<p class="bold big">
  Products:
</p>


  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Product
        </th>
        <th class="small bordered_bottom bordered_right">
          Price
        </th>
        <th class="small bordered_bottom bordered_right">
          Quantity
        </th>
        <th class="small bordered_bottom bordered_right">
          Discount
        </th>
        <th class="small bordered_bottom bordered_right">
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      <% total_1 = 0%>
      <% total_2 = 0%>
      <% total_3 = 0%>
      
      <% for product in @products %>
        <tr>
          <td class="small bordered_bottom bordered_right" style="width: 220px;">
            <a href="#" onclick="removeItemFromInvoice2(<%= product.i %>); return false;" title="Remove product from invoice"><%= product.name %></a>
            [<a href="#" onclick="removeItemFromInvoice2(<%= product.i %>); return false;" title="Remove product from invoice">X</a>]
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= money(product.price) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.quantity %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= (product.discount) %>%
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.currtotal) %>
          </td>
        </tr>
        <% total_1 += product.currtotal %>
        
      <% end %>
      
      <% total_3 = total_1 / 1.18 %>
      <% total_2 = total_1 - total_3 %>
      
    </tbody>
    
        <tr>
          <td >
          </td>
          
          <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td>
          <td class="small bordered_bottom bordered_right">
            Op.Gravada
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(total_3) %>
          </td>
        </tr>
    
    <tr>
          <td >
          </td>
          
          <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td>
          <td class="small bordered_bottom bordered_right">
           I.G.V.
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(total_2) %>
          </td>
        </tr>
    <tr>
          <td >
          </td>
          
          <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td>
          <td class="small bordered_bottom bordered_right">
            Op.Gravada
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(total_1) %>
          </td>
        </tr>
    
    
  </table>
  
