<html>
<body>
    
  <h4 ><center> Documento emitidos Desde: <%= @fecha1 %>  Hasta: <%= @fecha2 %>   </center>   </h4>
    
  
  
  <font size="2" face="Courier New" >  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> DOCUMENTOS EMITIDOS *</td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="5%"> TD </td>
    <td width="5%"> Serie  </td>
    <td width="10%"> Numero  </td>
    <td width="10%"> Fecha </td>
    <td width="10%"> Ruc </td>
    <td width="24%"> Cliente </td>
    <td width="5%"> Mon. </td>
    <td width="8%"> V.Venta</td>
    <td width="8%"> IGV </td>
    <td width="8%"> IMPORTE </td>
    
    
    
  </tr>
  </table>

  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      <% subtotal  =  0%>
      <% tax   =  0%>
      <% total =  0%>
      
       <% for  detalle in @facturas_rpt  %>
       
                    <tr>
                    <td width= "5%" ><%= detalle.document.descripshort  %></td>
                    <td width= "5%" ><%=  detalle.serie %>   </td>
                    <td width= "10%" ><%=  detalle.numero %>   </td>
                    <td width = "10%" align ="center"><%= detalle.fecha.strftime("%d/%m/%Y")     %></td>
                    <td width = "10%" align ="left"><%= detalle.ruc   %> </td>
                    
                    <td width = "24%" align ="left"><%= detalle.name   %> </td>
                    <% if detalle.moneda_id == 1 %>
                    <td width = "5%" align ="center"> USD </td>
                    <% else %>
                    <td width = "5%" align ="center"> S/. </td>
                    <% end %>
                    
                    
                <% if detalle.document_id == 2 %>
                  <% lcsubtotal = detalle.subtotal * -1 %>
                  <% lctax =  detalle.tax * -1 %>
                  <% lctotal = detalle.total* -1 %>
                <% else %> 
                  <% lcsubtotal = detalle.subtotal %>
                  <% lctax =  detalle.tax %>
                  <% lctotal = detalle.total %>
                <% end %>
                <td width = "8%" align ="right"><%= sprintf("%.2f",lcsubtotal)   %></td>
                <td width = "8%" align ="right"><%= sprintf("%.2f",lctax)   %></td>
                <td width = "8%" align ="right"><%= sprintf("%.2f",lctotal)   %></td>
                </tr>
                <% subtotal += lcsubtotal %>
                <% tax += lctax %>
                <% total += lctotal  %>
                
            
         <% end %>


    
      
      <hr>  
     </table>
     
     <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
     <tr bgcolor="#B4D7F7">
          <td width = "76%" align ="center">Totales  </td>
          <td width = "8%" align ="right"><%= sprintf("%.2f",subtotal)   %></td>
          <td width = "8%" align ="right"><%= sprintf("%.2f",tax)   %></td>
          <td width = "8%" align ="right"><%= sprintf("%.2f",total)   %></td>
    </tr>
   </table>

    
    </body>
      
      </html>
      