<html>
<body>
    
  <h4 ><center> REGISTRO DE VENTAS DEL PERIODO  <%= @fecha1 %>  Hasta: <%= @fecha2 %>   </center>   </h4>
    
  
  
  <font size="2" face="Courier New" >  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> REGISTRO DE VENTAS DEL PERIODO   *</td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
    
  <tr bgcolor="#B4D7F7">
    
    <td width="2%" rowspan="2" >Nro.</td>
    <td width="4%" rowspan="2"> Fecha de Emision del Comprobante   </td>
    <td width="4%" rowspan="2" > Fecha de Vcmto.</td>
    <td width="4%" colspan="4"> Comprobante de Pago </td>
    
    <td width="4%" colspan="2"> Documento de identidad</td>
    <td width="20%">Informacion Cliente </td>
    
    <td width="4%"  rowspan="2"> Valor Facturado de la Exportacion   </td>
    
    
    <td width="4%" rowspan="2">  Base imponible de la Operacion Gravada </td>
    <td width="4%" colspan="2"> Importe Total de la Operacion Exonerada o Inafecta   </td>
    
    <td width="4%" rowspan="2" >  ISC </td>
    <td width="4%" rowspan="2">   IGV y/o IPM</td>
    <td width="4%" rowspan="2" align ="center">  Otros Tributos y Cargos que no forman parte de la Base Imponible </td>
    <td width="4%" rowspan="2" align="center">Importe Total del Comprobante de Pago    </td>
    <td width="4%"rowspan="2" align="center"> Tipo Cambio    </td>
    
    <td width="4%" colspan="4"> Referencia del Comprobante de Pago o Doc Orig que se modifica</td>
    
    <td width="4%"> </td>
    <td width="4%" rowspan="2">   Ref.Transf. Gratuita </td>
    
    
  </tr>
  
    
  <tr bgcolor="#B4D7F7">
    
    
    <td width="4%"> Tipo <br> (Tabla 10)</td>
    <td width="3%"> Nro <br>Serie</td>
    <td width="4%"> Numero	 </td>
    <td width="4%"> Numero </td >
    
    <td width="2%"> Tipo <br>(Tabla 2) </td>
    <td width="4%"> Numero</td >
    
    <td width="15%"> Apellidos y Nombre, Razon Social </td>
    
    <td width="4%">  Exonerada </td>
    <td width="4%">  Inafecto  </td>
    
    
    <td width="4%">   Fecha </td>
    <td width="4%">   Tipo<br>  (Tabla 10) </td>
    <td width="4%">   Nro <br>Serie </td>
    <td width="4%">   Numero  </td>
    
    <td width="4%">Fecha Trabajo    </td>
    
    
    
  </tr>
  </table>

  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      <% subtotal  =  0%>
      <% tax   =  0%>
      <% total =  0%>
      
       <% for  detalle in @facturas_rpt  %>
                   
                    <tr>
                    <td width= "2%" align="right"><%= nroitem  %></td>  
                    <td width = "4%" align ="center"><%= detalle.fecha.strftime("%d/%m/%Y")     %></td>
                    <td width= "4%" > </td>  
                    <%if detalle.document != nil %>
                    <td width= "4%" ><%= detalle.document.tiposunat  %></td>
                    <%else %>
                    <td width= "4%" > 12 </td>
                    <% end %>
                    
                    <td width= "3%" ><%=  detalle.serie %>   </td>
                    <td width= "4%"><%=  detalle.numero %>   </td>
                    <td width= "4%"><%=  detalle.numero2 %>   </td>
                    
                    <%if detalle.ruc != ""%>
                    
                    <td width = "2%" align ="left"> 6 </td>
                    <td width = "4%" align ="left"><%= detalle.ruc   %> </td>
                    <td width = "15%" align ="left"><%= detalle.name   %> </td>
                    <%else %>
                    <td width = "2%" align ="left"> 0 </td>
                    <td width = "4%" align ="left">  </td>
                    <td width = "15%" align ="left">CLIENTE GENERICO </td>
                    <%end %>
                    
                    
                    <td width = "2%" align ="left"> </td>
                    
                    
                    
                <% if detalle.document_id == 2 %>
                  <% lcsubtotal = detalle.subtotal * -1 %>
                  <% lctax =  detalle.tax * -1 %>
                  <% lctotal = detalle.total* -1 %>
                <% else %> 
                  <% lcsubtotal = detalle.subtotal %>
                  <% lctax =  detalle.tax %>
                  <% lctotal = detalle.total %>
                <% end %>
                
                <td width = "4%" align ="right"><%= sprintf("%.2f",lcsubtotal)   %></td>
                <td width = "4%" align ="left"></td> </td> 
                <td width = "4%" align ="left"></td> </td>     
                <td width = "4%" align ="left"></td> </td> 
                <td width = "4%" align ="right"><%= sprintf("%.2f",lctax)   %></td>
                <td width = "4%" align ="left"></td> </td> 
                <td width = "4%" align ="right"><%= sprintf("%.2f",lctotal)   %></td>
                <td width = "4%" align ="left"></td> </td> 
                <td width = "4%" align ="left"></td> </td> 
                <td width = "4%" align ="left"></td> </td> 
                <td width = "4%" align ="left"></td> </td> 
                <td width = "4%" align ="left"></td> </td> 
                <td width = "4%" align ="left"></td> </td> 
                <td width = "4%" align ="left"></td> </td> 
                
                </tr>
                <% subtotal += lcsubtotal %>
                <% tax += lctax %>
                <% total += lctotal  %>
                <% nroitem += 1 %>
            
         <% end %>


    
      
      <hr>  
     </table>
     
     <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
     <tr bgcolor="#B4D7F7">
          <td width = "48%" align ="center">Totales  </td>
          
          <td width = "5%" align ="right"><%= sprintf("%.2f",subtotal)   %></td>
          <td width = "10%" align ="right"></td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",tax)   %></td>
          <td width = "4%" align ="right"></td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",total)   %></td>
          <td width = "23%" align ="right"></td>
    </tr>
   </table>

    
    </body>
      
      </html>
      