<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @invoice.company.name, @invoice.company %> &raquo;
  <%= link_to "Facturas", "/companies/facturas/#{@invoice.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @invoice.identifier %>
</h1>

<%= hr() %>

<% if @invoice.location %>
  <p>
    <b>Location:</b>
    <%= link_to @invoice.location.name, @invoice.location %>
  </p>
<% end %>

<% if @invoice.division %>
  <p>
    <b>Division:</b>
    <%= link_to @invoice.division.name, @invoice.division %>
  </p>
<% end %>

<% if @invoice.payment %>
  <p>
    <b>Payment:</b>
    <%= link_to @invoice.payment.descrip, @invoice.payment %>
  </p>
<% end %>

<% if @invoice.document %>
  <p>
    <b>Documento:</b>
    <%= link_to @invoice.document.description, @invoice.description %>
  </p>
<% end %>


<p>
  <b>Code:</b>
  <%= @invoice.code %>
</p>

<p>
  <b>Fecha :</b>
  <%= @invoice.fecha %>
</p>


<p>
  <b>Moneda :</b>
  <%= @invoice.moneda.description  %>
</p>

<%= hr() %>

<h3>
  Informacion Cliente 
</h3>

<p>
  <b>Name:</b>
  <%= link_to @customer.name, @customer %>
</p>

<%= render "customers/show" %>

<%= hr() %>
<% if @invoice.descuento == '0'%>

<h3>
  Detalle servicios
</h3>

<table>
  <thead>
    <tr>
      <th>
        Servicio
      </th>
      <th>
        Precio
      </th>
      <th>
        Cantidad
      </th>
      <th>
        Dscto
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    
    <% for productItem in @invoice.get_products() %>
      <tr>
        <td class="bordered_bottom bordered_right">
          <%= link_to productItem.name   %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.price) %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= productItem.quantity %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.discount) %>%
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.total) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Subtotal:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.subtotal) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Tax:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.tax) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.total) %>
      </td>
    </tr>
  </tbody>
</table>
<br />


<h3>
  Detalle guias
</h3>

<table>
  <thead>
    <tr>
      <th>
        Guias Transportista.
       </th>
      <th>
        Guias Remision 
       </th>
        
    </tr>
  </thead>
  <tbody>
    <% for productItem in @invoice.get_guias() %>
      <tr>
        <td class="bordered_bottom bordered_right">
          <%= link_to productItem.code   %>
        </td>
      </tr>

      <% for guias in  @invoice.get_guias_remision(productItem.id) %>
      <tr>
        <td>
        </td>
        <td>
          <%= guias.delivery.code  %>
        <td>
      </tr>    
      <%end %>


    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    
  </tbody>

</table>
<table>
  <thead>
    <tr>
      <th>
        Guias Remision....
       </th> 
    </tr>
  </thead>

    <tbody>
    <% for productItem in @invoice.get_guiasremision() %>
      <tr>
        <td class="bordered_bottom bordered_right">
          <%= link_to productItem.code   %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    
  </tbody>

</table>
<br />

<%= hr() %>

<% if @invoice.description != "" %>
  <div>
    <b>Description:</b>
    <br />
    <br />
    <%= format_text(@invoice.description) %>
  </div>
  <%= hr() %>
<% end %>

<% else%>
<div class="button">
  <%= link_to "Agregar Item","/facturas/newfactura2/#{@invoice.id}" %>
</div> 

 
  <tbody>
    <table>
      
      <tr>
        <th> Codigo</th>
        <th> Descripcion</th>
        <th> Precio </th>
        <th> Cantidad</th>
        <th> Total </th>
      </tr>
      
    <%  @factura_details.each do |quote| %>
      <tr>
        <td class="bordered_bottom bordered_right">
          <%= link_to quote.product.code   %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= quote.product.name  %>
        </td>
        
        <td class="bordered_bottom bordered_right">
          <%= quote.price %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(quote.quantity) %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(quote.total) %>
        </td>
        
        
          
          <td><%= link_to 'Eliminar',[@invoice,quote], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Subtotal:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.subtotal) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Tax:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.tax) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.total) %>
      </td>
    </tr>
    
</table>
</tbody>


<% end %>


<% if @invoice.comments != "" %>
  <div>
    <b>Comments:</b>
    <br />
    <br />
    <%= format_text(@invoice.comments) %>
  </div>
  <%= hr() %>
<% end %>

<br />

<div>
  <strong><%= @invoice.get_processed %></strong>
  <% if @invoice.processed == "1" and @invoice.date_processed %>
    <%= doDate(@invoice.date_processed) %>
  <% end %>
</div>

<p>
  <b>Return:</b>
  <%= @invoice.get_return %>
</p>

<p>
  <strong>Seller:</strong>
  <%= link_to @invoice.user.username, @invoice.user %>
</p>

<%= hr() %>



<img src=<%="https://chart.googleapis.com/chart?chs=120x120&cht=qr&chl=#{@invoice.code}&choe=UTF-8"%> alt="QR code">

<%= hr() %>
<div class="button">
  
   
			<%= form_tag print_facturas_path do %>
     	    <%= submit_tag  "Imprimir  ",  :"data-no-turbolink" => true  %>
			<% end %>		
	
  
  
  <%= link_to 'Enviar factura via email', "/facturas/email/#{@invoice.id}" %>
  
<% if @invoice.processed =="0" || @invoice.processed==nil %>
  <%= link_to 'Procesar factura', "/facturas/do_process/#{@invoice.id}" %>
  <%= link_to 'Editar', edit_factura_path(@invoice) %>
<% elsif @invoice.processed =="1" %>  

  <%= link_to 'Anular', "/facturas/do_anular/#{@invoice.id}" %>
  
<% end %>
<%= link_to 'Regresar', "/companies/facturas/#{@invoice.company.id}" %>
</div>