<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @invoice.company.name, @invoice.company %> &raquo;
  <%= link_to "Facturas", "/companies/facturas/#{@invoice.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @invoice.identifier %>
</h1>

<%= hr() %>

<% if @invoice.location %>
  <p>
    <b>Location:</b>
    <%= link_to @invoice.location.name, @invoice.location %>
  </p>
<% end %>

<% if @invoice.division %>
  <p>
    <b>Division:</b>
    <%= link_to @invoice.division.name, @invoice.division %>
  </p>
<% end %>

<% if @invoice.payment %>
  <p>
    <b>Payment:</b>
    <%= link_to @invoice.payment.descrip, @invoice.payment %>
  </p>
<% end %>


<% if @invoice.document %>
  <p>
    <b>Documento:</b>
    <%= link_to @invoice.document.description, @invoice.description %>
  </p>
<% end %>

  <p>
    <b>Tipo Venta:</b>
    <%= @invoice.get_tipoventa(@invoice.tipoventa_id) %>
  </p>


<p>
  <b>Code:</b>
  <%= @invoice.code %>
</p>

<p>
  <b>Fecha Emision :</b>
  <%= @invoice.fecha.strftime("%d/%m/%Y")  %>
</p>

<% if @invoice.fecha2 %>

<p>
  <b>Fecha Vencimiento :</b>

  <%= @invoice.fecha2.strftime("%d/%m/%Y") %>
</p>

<% end %>

<p>
  <b>Moneda :</b>
  <%= @invoice.moneda.description  %>
</p>

<%= hr() %>

<h3>
  Informacion Cliente 
</h3>

<p>
  <b>Name:</b>
  <%= link_to @customer.name, @customer %>
</p>

<%= render "customers/show" %>

<%= hr() %>
<% if @invoice.descuento == '0'%>

<h3>


  Detalle servicios
</h3>
 



<% if @invoice.texto1 %>
 Local:
  <p>
    <b> Local:</b>
    <%=  @invoice.texto1 %>
  </p>
<% end %>



<% if @invoice.texto2 %>
 
  <p>
    <b> Servicio:</b>
    <%=  @invoice.texto2 %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>
        Servicio
      </th>
      <th>
        Precio
      </th>
      <th>
        Cantidad
      </th>
      <th>
        Dscto
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    
    <% for productItem in @invoice.get_products() %>
      <tr>
        <td class="bordered_bottom bordered_right">
          <%= link_to productItem.name   %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.price) %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= productItem.quantity %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.discount) %>%
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.total) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Subtotal:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.subtotal) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Tax:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.tax) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.total) %>
      </td>
    </tr>
  </tbody>
</table>
<br />


<h3>
  Detalle guias
</h3>

<table>
  <thead>
    <tr>
      <th>
        Guias Transportista.
       </th>
      <th>
        Guias Remision 
       </th>
        
    </tr>
  </thead>
  <tbody>
    <% for productItem in @invoice.get_guias() %>
      <tr>
        <td class="bordered_bottom bordered_right">
          <%= link_to productItem.code   %>
        </td>
      </tr>

      <% for guias in  @invoice.get_guias_remision(productItem.id) %>
      <tr>
        <td>
        </td>
        <td>
          <%= guias.delivery.code  %>
        <td>
      </tr>    
      <%end %>


    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    
  </tbody>

</table>
<table>
  <thead>
    <tr>
      <th>
        Guias Remision....
       </th> 
    </tr>
  </thead>

    <tbody>
    <% for productItem in @invoice.get_guiasremision() %>
      <tr>
        <td class="bordered_bottom bordered_right">
          <%= link_to productItem.code   %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    
  </tbody>

</table>
<br />

<%= hr() %>
<% if @invoice.guia != nil %>
  <div>
    <b>Guia :</b>
    <br />
    <br />
    <%= format_text(@invoice.guia) %>
  </div>
  <%= hr() %>
<% end %>



<% if @invoice.description != "" %>
  <div>
    <b>Description:</b>
    <br />
    <br />
    <%= format_text(@invoice.description) %>
  </div>
  <%= hr() %>
<% end %>

<% else%>

<% if @invoice.processed  != "1" %>

<%= form_tag(newfactura2_facturas_path, method: "get") do %>

 <div class="field">
      <input type="date" name="fecha1" value="2019-11-01" style = "width: 150px" >
    </div>

  <div class="field">
    <input type="date" name="fecha2" value="2019-11-30" style = "width: 150px" >
  </div>


<div>
  <%= select_tag(:customer_id,options_from_collection_for_select(@customers,'id','name') ) %>
</div>


  <%= hidden_field_tag "factura_id" , @invoice.id %>


  
  <%= submit_tag("Agregar Vale") %>
<% end %>



 <div class="field">
    
 </div>
 <div class= "button">


 
 </div>
  
 

<% end %>


<% if @invoice.texto1 %>

  <p>
    <b> Local:</b>
    <%=  @invoice.texto1 %>
  </p>
<% end %>



<% if @invoice.texto2 %>
 
  <p>
    <b> Servicio:</b>
    <%=  @invoice.texto2 %>
  </p>
<% end %>
 
  <tbody>
    <table>
<thead>
        
      <tr>
        <th> Id</th>
        <th> Codigo</th>
        <th> Descripcion</th>
        <th> Precio 
        Cliente  </th>
        <th> Precio </th>
        <th> Cantidad</th>
        <th> Total </th>
      </tr>
  </thead>

    <%  @factura_details.each do |quote| %>
      <tr>
        <td class="bordered_bottom bordered_right">
          <%=  quote.id   %>
        </td>
        
        <td class="bordered_bottom bordered_right">
          <%= quote.product.code   %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= quote.product.name  %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(quote.price_discount) %>
        </td>

        <%if quote.preciosigv %>
        <td class="bordered_bottom bordered_right">
          <%= quote.preciosigv.round(3) %>
        </td>
        <% else %>
  <td class="bordered_bottom bordered_right">
          <%= quote.price.round(3) %>
        </td>
        <%end %>
        <td class="bordered_bottom bordered_right">
          <%= money(quote.quantity) %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(quote.total) %>
        </td>
        
          <% if @invoice.processed  != "1" %>
          <td><%= link_to 'Eliminar',[@invoice,quote], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
          <% end %>
          
      </tr>
    <% end %>
    
    <tr>
      <td colspan="6" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Subtotal:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.subtotal) %>
      </td>
    </tr>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Tax:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.tax) %>
      </td>
    </tr>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.total) %>
      </td>
    </tr>
    
</table>
</tbody>


<% end %>


<% if @invoice.comments != "" %>
  <div>
    <b>Comments:</b>
    <br />
    <br />
    <%= format_text(@invoice.comments) %>
  </div>
  <%= hr() %>
<% end %>

<br />

</td>
</table>

<table> 
<thead>

<tr> 
  
    <th> Cuota </th>
    <th> Fecha </th>
    <th> Importe </th>
    
  </tr>
</thead>
<tbody>
  <tr>
      <td class="bordered_bottom bordered_right bold">
        <%= @invoice.cuota1  %>
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= @invoice.fecha_cuota1.strftime("%d/%m/%Y")  %>
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= @invoice.importe_cuota1  %>
      </td>

    </tr>

  <tr>
      <td  class="bordered_bottom bordered_right bold">
        <%= @invoice.cuota2 %>
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= @invoice.fecha_cuota2.strftime("%d/%m/%Y")  %>
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= @invoice.importe_cuota2  %>
      </td>

    </tr>

  <tr>
      <td class="bordered_bottom bordered_right bold">
        <%= @invoice.cuota3  %>
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= @invoice.fecha_cuota3.strftime("%d/%m/%Y") %>
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= @invoice.importe_cuota3  %>
      </td>

    </tr>
</tbody>

</table>


<table>

<tr>
  <td>     
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>. 
  </td>

</tr>

  <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        % Detraccion :
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.detraccion_percent) %>
      </td>
    </tr>


  <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Monto de Detraccion :
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.detraccion_importe ) %>
      </td>
    </tr>

   <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Detraccion cuenta :
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= @invoice.detraccion_cuenta %>
      </td>
    </tr>

<tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
    
      </td>
      <td class="bordered_bottom bordered_right bold right">
      
      </td>
    </tr>


  <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Retencion cuenta :
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@invoice.retencion_importe) %>
      </td>
    </tr>




  </tbody>
</table>



<div>
  <strong><%= @invoice.get_processed %></strong>
  <% if @invoice.processed == "1" and @invoice.date_processed %>
    <%= doDate(@invoice.date_processed) %>
  <% end %>
</div>

<p>
  <b>Return:</b>
  <%= @invoice.get_return %>
</p>

<p>
  <strong>Seller:</strong>
  <%= link_to @invoice.user.username, @invoice.user %>
</p>

<%= hr() %>



<img src=<%="https://chart.googleapis.com/chart?chs=120x120&cht=qr&chl=#{@invoice.code}&choe=UTF-8"%> alt="QR code">

<%= hr() %>
<div class="button" >
  
	<table>
	  
		 <% if current_user.level=='admin' || current_user.level=='parte'  %>
		  <tr>
			 <%= link_to 'Anular ', "/facturas/do_anular/#{@invoice.id}" %> 

      </tr>
      
		</table>
		<% end %>
    

	
<% if @invoice.processed =="0" || @invoice.processed==nil %>-->
  <%= link_to 'Procesar factura', "/facturas/do_process/#{@invoice.id}" %> 



<% end %>


 <%= link_to 'Reenviar nubefact', "/facturas/do_process2/#{@invoice.id}" %> 


<%= link_to 'Regresar', "/companies/facturas/#{@invoice.company.id}" %>
</div>

<%= render 'layouts/autocomplete' %>


<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/facturas/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      $("#ac_customer_id").html(data[2]);
      $("#selected_customer").html(data[0]);
    });        
    
    $("#ac_user").autocomplete("/facturas/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });
    

    $("#ac_item3").autocomplete("/facturas/ac_guias/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item3").result(function(event, data, formatted) {
      $("#ac_item_guia").val(data[2]);    
      $("#selected_guia").html(data[0]);      
    });
    

    $("#ac_item_quantity").bind("keyup", function() {
      updateItemTotal();
    });
    
    $("#ac_item_price").bind("keyup", function() {
      updateItemTotal();
    });
    
    $("#ac_item_discount").bind("keyup", function() {
      updateItemTotal();
    });
    
    <% if @products_lines %>
    alert 'holas products_lines';
      listItemsInvoice2();
    <% end %>

   <% if @guias_lines %>
    alert 'holas guias_lines';
      listItemsdelivery2();
    <% end %>

  });
</script>