<% if @viatico.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@viatico.errors.count, "error") %> prohibited this viatico from being saved:</h2>
    <ul>
    <% @viatico.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>

<div class="mid_box bordered_right">

  <%= form_for(@viatico) do |f| %>
    <h4>
       Informacion
    </h4>
    <td>
   <div class="field">
      <%= f.label :caja_id, "CAJA : " %><br />
      <%= f.select :caja_id,options_from_collection_for_select(@cajas,'id','descrip') %>
    </div>  
     
    </td>
    
        <td>
        <div class="field">
          <%= f.label :fecha1, "Fecha*", :class => "bold" %><br />
          <%= f.date_field :fecha1, value: Time.now.strftime("%d/%m/%Y") ,:class => "input.tf_short" %>
        </div>

        </td>
        
        <td>
        <div class="field">
          <%= f.label :code, "Code*", :class => "bold" %><br />
          <%= f.text_field :code, :onclick => "$(this).select();" %>
        </div>
        </td>
  
        <div class="field">
          <%= f.label  :inicial,"Inicial:  " , :class => "bold"%><br />
            <%= f.number_field :inicial , step: :any  %>
        </div>
   
        <%= hr() %>
  
    
    <div class="field" id="list_items">
      <p class="bold big">Productos:</p>
    </div>
    
    <%= hr() %>
      
        <div class="field">
          <%= f.label  :comments,"Comentarios  " , :class => "bold"%><br />
          <%= f.text_area :comments  %>
        </div>
   
        <%= hr() %>
      
   


    <div class="field">
      <label for="ac_user" class="bold">Seller*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
      
      </div>
      <br />

      <div class="small">
        <strong>Selected seller:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>

    </div>
  
    <%= hr() %>
    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @viaticos_lines %><%= @viaticos_lines %><% end %>" />
      <%= f.hidden_field :user_id, :id => "ac_user_id" %>
      <%= f.hidden_field :company_id %>

      <%= f.submit %>
    </div>
    
    <div class="small">
      Once you're done adding customers, don't forget to <strong><%= @action_txt %></strong> your viatico.
    </div>

  <% end %>
</div>


<div class="mid_box">
  <h5>
    Agregar informacion comprobante 
  </h5>
  

                                                  
  <form method="get" action="/viaticos" onsubmit="addItemToViatico(); return false;">   
  
  <input type="hidden" name="ac_item_id" id="ac_item_id" value="" />  
  
    <div class="field">
    
    <br />
    
      <strong>Orden de servicio :</strong><br />
    <input type="text" name="ac_item" id="ac_item" value="" />
    
    
    <div class="small">
      Ingrese un termino de busqueda para encontrar un documento 
    </div>
    
    <%= hr() %>
    
    <div >
    <strong>Gasto  :</strong><br />
    <br />
      <%= select_tag :gasto_id, options_from_collection_for_select(@gastos,'id','descrip')%>  
    <br />
    </div >
    <td>
      
      <label for="ac_supplier" class="bold">Proveedor*</label><br />
      <input type="text" name="ac_supplier" id="ac_supplier" value="<% if @ac_supplier %><%= @ac_supplier %><% end %>" />
      
      <div class="small">
      <a href="#" onclick="createSupplierPurchase(); return false;">+ Crear nuevo proveedor</a>
      </div>

      <div class="small">
        Ingrese una termino de busqueda para encontrar un proveedor
      </div>
    </td>
    
      <br />


      <div class="small">
        <strong>Seleccionar proveedor:</strong>

        <span id="selected supplier"><% if @ac_supplier %><%= @ac_supplier %><% else %><!-- i --><% end %></span>

      </div>
      
      <strong>Documento:</strong><br />
    <br />
      <%= select_tag :tm, options_from_collection_for_select(@documents,'id','description')%>  
    <br /> 
    
    <strong>Comprobante :</strong><br />
    <input type="text" name="ac_item_compro" id="ac_item_compro" value="" />
    <div class="small">
      Ingrese un termino de busqueda para encontrar un documento 
    </div>
    
    
      
    <td>
      <strong> Fecha :</strong><br />
      <input type="date" name="ac_item_fecha" id="ac_item_fecha" min="2017-01-01"><br> 
    </td>
    
    
    
    <br />  

    <div >
      <strong>Total:</strong><br />    
    <input type="text" name="ac_item_total" id="ac_item_total" value="0.00" class="tf_short" />
    </div>
    <div class="small">
     Total 
    </div>

    <br />
    
    <strong>Detalle :</strong><br />
    <input type="text" name="ac_item_detalle" id="ac_item_detalle" value="" />
    <div class="small">
      Ingrese un termino de busqueda para encontrar un documento 
    </div>
    <br />  
    
    <input type="submit" value="Agregar item a Comprobante" />
      
  </form>
  
  <%= hr() %>
  
  
</div>

<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {

    $("#ac_supplier").autocomplete("/purchases/ac_suppliers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_supplier").result(function(event, data, formatted) {
      $("#ac_supplier_id").val(data[2]);
      $("#selected_supplier").html(data[0]);
    });
    
    
    $("#ac_item").autocomplete("/viaticos/ac_osts/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_id").val(data[2]);
      
      updateItemTotalViaticos();
    });
    
    $("#ac_customer").autocomplete("/viaticos/ac_customers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      $("#ac_customer_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });    
    
    
    $("#ac_user").autocomplete("/viaticos/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });    
    
    
    $("#ac_item_total").bind("keyup", function() {
      updateItemTotalCP();
    });
    
    <% if @viaticos_lines %>
      listItemsViatico();
    <% end %>
  });
</script>