<% if @viaticos.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
         Orden
        </th>
        <th class="bordered_right bordered_bottom">
          Cliente 
        </th>
        <th class="bordered_right bordered_bottom">
          Total 
        </th>
        <th class="bordered_right bordered_bottom">
          Fecha 
        </th>
        
        <th class="bordered_right bordered_bottom">
          Aprobado 
        </th>
        <th class="bordered_right bordered_bottom" colspan="3">
          Opciones 
        </th>
      </tr>
    </thead>
    <tbody>
    
      <% for viatico  in @viatico %>
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= link_to viatico.code, viatico, :title => "Ir a factura" %>
          </td>
          <td class="bordered_right bordered_bottom ">
            <%=  viatico.get_cliente_customer_payment(viatico.id) %>            
          </td>

          <td class="bordered_right bordered_bottom right">
            <%= money(viatico.total) %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= viatico.fecha1.strftime("%d/%m/%Y")  %>
          </td>
          <td class="bordered_right bordered_bottom <%= viatico.processed_color %>">
            <%= viatico.get_processed_short %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Ver", viatico %>
          </td>
          <td class="bordered_right bordered_bottom">  
            
          <%= link_to 'Eliminar', viatico, :data=> {:confirm => 'Esta seguro ?'}, :method => :delete  %>           
                  
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    We couldn't find any viatico.
  </p>
<% end %>