<% if @viaticos.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
         Orden
        </th>
<th class="bordered_right bordered_bottom" style="width: 100px;">
          Nombre 
        </th>


        <th class="bordered_right bordered_bottom">
          Saldo Inicial 
        </th>
        <th class="bordered_right bordered_bottom">
          Total Ingreso
        </th>
        <th class="bordered_right bordered_bottom">
          Total Egreso
        </th>
        <th class="bordered_right bordered_bottom">
          Saldo Final 
        </th>
        
        <th class="bordered_right bordered_bottom">
          Fecha 
        </th>
        <th class="bordered_right bordered_bottom">
          Aprobado 
        </th>
        
        <th class="bordered_right bordered_bottom" colspan="3">
          Opciones 
        </th>
        
      </tr>
    </thead>
    <tbody>
    
      <% for viatico  in @viaticos %>
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= link_to viatico.code, viatico, :title => "Ir a factura" %>
          </td>
           <td class="small bordered_bottom bordered_right">
            <%= viatico.caja.descrip %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(viatico.inicial) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(viatico.total_ing) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(viatico.total_egreso) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(viatico.saldo) %>
          </td>

          
          <td class="bordered_right bordered_bottom">
            <%= viatico.fecha1.strftime("%d/%m/%Y")  %>
          </td>
          <td class="bordered_right bordered_bottom <%= viatico.processed_color %>">
            <%= viatico.get_processed_short %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Ver", viatico %>
          </td>
          <td class="bordered_right bordered_bottom">  
            <%= link_to 'Editar',edit_viatico_path(viatico) %>
          </td>
          <td class="bordered_right bordered_bottom">  
          <%= link_to 'Eliminar', viatico, :data=> {:confirm => 'Esta seguro ?'}, :method => :delete  %>           
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    We couldn't find any viatico.
  </p>
<% end %>