<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "viaticos", "/companies/viaticos/#{@company.id}" %> &raquo;
  <%= link_to @viatico.identifier, @viatico %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Editing viatico
</h1>

<p>
  To modify the viatico, please fill out the following form.  Fields marked with <strong>*</strong> are required.
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Show', @viatico %>
  <%= link_to 'Back', "/companies/viaticos/#{@company.id}" %>
</div>