<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "viaticos", "/companies/customer_payments/#{@company.id}" %> &raquo;
  <%= link_to @viatico.identifier, @viatico %>
</div>

<h1>
  <%= image_tag("viatico_48.png", :class => "vmiddle") %>
  Send viatico via email
</h1>

<%= hr() %>

<h3>
  <%= link_to @viatico.identifier, @viatico %>
</h3>

<%= hr() %>

<form method="post" action="/customer_payments/do_email/<%= @viatico.id %>">
  <strong>Email:</strong>
  <input type="text" name="email" value="<%= @viatico.customer.email %>" onclick="$(this).select();" />
  <input type="submit" value="Send" class="bold" />
</form>

<%= hr() %>

<div class="button">
  <%= link_to 'Ver', @viatico %>
  <%= link_to 'Regresa', "/companies/customer_payments/#{@company.id}" %>
</div>