<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("orders_48.png", :class => "vmiddle") %>
  
  Arqueo de Liquidacion de Cajas 
  
  <% if @customer %>
    for customer: <%= @customer.name %>
  <% end %>
</h1>



<br />
<%= render "viaticos/list" %>

<br />

<div class="button">
  <%= link_to 'Nueva Comprobante', "/viaticos/new/#{@company.id}" %>
  
</div>

<%= will_paginate @viaticos %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/viaticos/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>