<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "facturas", "/companies/facturas/#{@company.id}" %>
</div>

<h4>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
 Registrar cobranza

<p>


</p>

<%= hr() %>

    <form method="get" action="/companies/customer_payments/registrar/<%= @company.id %>">
    	<h4>
           Informacion Orden de Pago 
	    </h4>
      
        

		<div class="field">

    		<%= select_tag(:customer_id,options_from_collection_for_select(@customers,'id','name') ) %>
        
    	</div>	

     
        <input type="submit" value="Buscar"  />
    </form> 

<%= hr() %>
