<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @viatico.company.name, @viatico.company %> &raquo;
  <%= link_to "viaticos", "/companies/customer_payments/#{@viatico.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @viatico.identifier %>
</h1>

<%= hr() %>

<% if @viatico.location %>
  <p>
    <b>Location:</b>
    <%= link_to @viatico.location.name, @viatico.location %>
  </p>
<% end %>

<% if @viatico.division %>
  <p>
    <b>Division:</b>
    <%= link_to @viatico.division.name, @viatico.division %>
  </p>
<% end %>

<p>
  <b>Code:</b>
  <%= @viatico.code %>
</p>
<p>
  
  <strong> <%= @viatico.caja.descrip %></strong>
</p>

<p>
    <b>Fecha entrega:</b>
    <%= @viatico.fecha1.strftime("%d/%m/%Y") %>   
</p>
 
<p>
    <b>Estado: </b>
    <%= @viatico.get_processed   %>   
</p>


<%= hr() %>

<h3>
  Informacion Pago
</h3>

<p>
 <h4 >Inicial:   <%=  @viatico.inicial.round(2) %>  </h4>
</p>


<div class="button">
<%= link_to 'Agregar Item', new_viatico_viatico_detail_path(@viatico) %>
</div> 

<br> 
 <strong>Fecha </strong>



<table>
  <thead>
    <tr>
      <th>
      ITEM
      </th>
      <th>
        FECHA
      </th>
      
      <th>
        Compro.
      </th>
   
     
      
      <th>
       TIPO OPE
      </th>
      
      <th>
        Descrip
      </th>
      
      <th>
        Detalle  
      </th>
      <th>
        Ingreso 
      </th>
      
      <th>
        Egreso 
      </th>

      <th colspan= "2" >
        Opciones 
      </th>
      
    </tr>
  </thead>
  <tbody>
    
<%= hr() %>
<% nroitem = 1 %>
    <%  @viatico_detail.each do |product| %>
    
      <tr>
        <td>

          <%= nroitem%>

          <% nroitem += 1 %>
        </td>

         <td class="small bordered_bottom bordered_right">
             <%if product.gasto %>  
             
             <%=product.fecha.strftime("%d/%m/%Y") %>
             
               <%else%>

              <%end %>

          </td>
          

           <td class="small bordered_bottom bordered_right">

            <% lccompro =  product.document.descripshort << "-" << product.numero  %>
      
            <%= lccompro %>
          </td>

          <td class="small bordered_bottom bordered_right">

           <% if product.tipomov_id == 1 %>
                 I 
            <%else%>
                 E 
           <% end%> 
         </td>
          <td class="small bordered_bottom bordered_right">
            
            <%=product.supplier.name  %>

         

         </td>
           <td class="small bordered_bottom bordered_right">
              <%=product.detalle %>
          </td>
          <% if product.tipomov_id == 1%>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.importe) %>
          </td>
          <td class="small bordered_bottom bordered_right">
           0.00
          </td>
          
          <%else%>
          <td class="small bordered_bottom bordered_right">
           0.00
          </td>
          
          
          <td class="small bordered_bottom bordered_right">
            <%= money(product.importe) %>
          </td>
          
          <% end %>
          
          <td><%= link_to 'Editar',  edit_viatico_viatico_detail_path(viatico_id: @viatico.id,id: product.id ) %></td>          
          <td><%= link_to 'Eliminar',[@viatico,product], method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          
      </tr>
    <% end %>
   <tr>
      <td colspan="9" class="bordered_bottom bordered_right bold">
        Total Ingresos
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@viatico.get_total_ingreso)%>
      </td>
    </tr>
    
   <tr> 
    
    
   <tr>
      <td colspan="9" class="bordered_bottom bordered_right bold">
        Total Egresos
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@viatico.get_total_egreso)%>
      </td>
    </tr>
    
   <tr>
      <td colspan="9" class="bordered_bottom bordered_right bold">
        Saldo
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@viatico.saldo) %>
      </td>
    </tr>
    
   
   
  </tbody>
</table>
<br />


<br />


<p>
  <strong>Seller:</strong>
  <%= link_to @viatico.user.username, @viatico.user %>
</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Exportar to PDF', "/viaticos/pdf/#{@viatico.id}.pdf" %>  
  
 <% if @viatico.processed == "1" %> 

 <% %>

 <% else %>

  <%= link_to 'Procesar', "/viaticos/do_process/#{@viatico.id}" %>

 <% end %> 
  
  <%= link_to 'Regresar', "/companies/viaticos/#{@viatico.company.id}" %>
</div>

