<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @viatico.company.name, @viatico.company %> &raquo;
  <%= link_to "viaticos", "/companies/customer_payments/#{@viatico.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @viatico.identifier %>
</h1>

<%= hr() %>

<% if @viatico.location %>
  <p>
    <b>Location:</b>
    <%= link_to @viatico.location.name, @viatico.location %>
  </p>
<% end %>

<% if @viatico.division %>
  <p>
    <b>Division:</b>
    <%= link_to @viatico.division.name, @viatico.division %>
  </p>
<% end %>

<p>
  <b>Code:</b>
  <%= @viatico.code %>
</p>

<p>
    <b>Fecha entrega:</b>
    <%= @viatico.fecha1.strftime("%d/%m/%Y") %>   
</p>
 
<p>
    <b>Estado: </b>
    <%= @viatico.get_processed   %>   
</p>


<%= hr() %>

<h3>
  Informacion Pago
</h3>

<p>
  <b>Inicial </b>  
  <%= link_to @viatico.inicial %>
</p>



<%= hr() %>

<table>
  <thead>
    <tr>
      <th>
        Cod.
      </th>
      <th>
        Gasto
      </th>
      <th>
        Fecha
      </th>
      
      <th>
        Td
      </th>
      
      <th>
        Documento 
      </th>
      <th>
        Detalle
      </th>
      
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    
<%= hr() %>

    <% for product in @viatico.get_viaticos() %>
      <tr>
       <td class="small bordered_bottom bordered_right">
            <%= product.tranportorder.employee.full_name %>
          </td>
          
         <td class="small bordered_bottom bordered_right">
            <%= product.tranportorder.truck.placa %>
          </td>
         <td class="small bordered_bottom bordered_right">
            <%= product.tranportorder.code %>
          </td>

         <td class="small bordered_bottom bordered_right">
            <%= product.tranportorder.get_punto(product.tranportorder.ubication_id) %>
          </td>
          <td class="small bordered_bottom bordered_right">
              <%=product.tm << "-"<< product.descrip %>
          </td>
           <td class="small bordered_bottom bordered_right">
              <%=product.detalle %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.importe) %>
          </td>

      </tr>
    <% end %>
   <tr>
      <td colspan="6" class="bordered_bottom bordered_right bold">
        Total Egresos
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@viatico.total_ing) %>
      </td>
    </tr>
    
   <tr>
      <td colspan="6" class="bordered_bottom bordered_right bold">
        Saldo
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@viatico.saldo) %>
      </td>
    </tr>
    
   
   
  </tbody>
</table>
<br />

<%= hr() %>


<br />


<p>
  <strong>Seller:</strong>
  <%= link_to @viatico.user.username, @viatico.user %>
</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Exportar to PDF', "/customer_payments/pdf/#{@viatico.id}.pdf" %>  
  
 <% if @viatico.processed == "1" %> 

 <% %>

 <% else %>

  <%= link_to 'Procesar', "/viaticos/do_process/#{@viatico.id}" %>

 <% end %> 
  
  <%= link_to 'Regresar', "/companies/viaticos/#{@viatico.company.id}" %>
</div>

