<%= simple_form_for(@gasto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
     <div class="field">
    <%= f.input :code %>
    </div>
    <div class="field">
    <%= f.input :descrip %>
    </div>
    <div class="field">
    <%= f.input :cuenta %>
    </div>
    <div class="field">
    <%= f.input :grupo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
