<p id="notice"><%= notice %></p>

<h1>Listado Gastos</h1>

<div class="small">
  <form method="get" action="/companies/gastos/<%= @company.id %>">
    <strong>Buscar :</strong>
    <input type="text" name="search" value="<% if @q_org %><%= @q_org %><% end %>" class="small" style="width: 250px;" onclick="$(this).select();" />
    <input type="submit" value="Buscar" class="bold small_btn" />
    <a href="/companies/gastos/<%= @company.id %>" > Limpiar</a>
  </form>
</div>
  

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Code</th>
      <th>Descrip</th>
      <th>Cuenta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gastos.each do |gasto| %>
      <tr>
        <td><%= gasto.codigo %></td>
        <td><%= gasto.code %></td>
        <td><%= gasto.descrip %></td>
        <td><%= gasto.cuenta %></td>
        <td><%= link_to 'Ver', gasto %></td>
        <td><%= link_to 'Editar', edit_gasto_path(gasto) %></td>
        <% if @current_user.level = "admin" %>
        <td><%= link_to 'Eliminar', gasto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @gastos %>  
<br>

<%= link_to 'New Gasto', new_gasto_path %>

<h2>Importar Archivo "*.csv"</h2>

<%= form_tag import_gastos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>