<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipotrabajador.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tipotrabajador.name %>
</p>

<%= link_to 'Edit', edit_tipotrabajador_path(@tipotrabajador) %> |
<%= link_to 'Back', tipotrabajadors_path %>
