<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tank.code %>
</p>

<p>
  <strong>Product:</strong>
  <%= @tank.product_id %>
</p>

<p>
  <strong>Saldo inicial:</strong>
  <%= @tank.saldo_inicial %>
</p>

<p>
  <strong>Varilla:</strong>
  <%= @tank.varilla %>
</p>

<p>
  <strong>Product:</strong>
  <%= @tank.product_id %>
</p>

<%= link_to 'Edit', edit_tank_path(@tank) %> |
<%= link_to 'Back', tanks_path %>
