<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @tank.comments %>
</p>

<p>
  <strong>Product:</strong>
  <%= @tank.product %>
</p>

<p>
  <strong>Company:</strong>
  <%= @tank.company %>
</p>

<%= link_to 'Edit', edit_tank_path(@tank) %> |
<%= link_to 'Back', tanks_path %>
