<p id="notice"><%= notice %></p>

<p>
  <strong>Anio:</strong>
  <%= @fiveparameter.anio %>
</p>

<p>
  <strong>Valor uit:</strong>
  <%= @fiveparameter.valor_uit %>
</p>

<p>
  <strong>Hasta 5:</strong>
  <%= @fiveparameter.hasta_5 %>
</p>

<p>
  <strong>Tasa1:</strong>
  <%= @fiveparameter.tasa1 %>
</p>

<p>
  <strong>Exceso 5:</strong>
  <%= @fiveparameter.exceso_5 %>
</p>

<p>
  <strong>Y hasta 20:</strong>
  <%= @fiveparameter.y_hasta_20 %>
</p>

<p>
  <strong>Exceso 20:</strong>
  <%= @fiveparameter.exceso_20 %>
</p>

<p>
  <strong>Y hasta 35:</strong>
  <%= @fiveparameter.y_hasta_35 %>
</p>

<p>
  <strong>Exceso 35:</strong>
  <%= @fiveparameter.exceso_35 %>
</p>

<p>
  <strong>Y hasta 45:</strong>
  <%= @fiveparameter.y_hasta_45 %>
</p>

<p>
  <strong>Exceso 45:</strong>
  <%= @fiveparameter.exceso_45 %>
</p>

<%= link_to 'Edit', edit_fiveparameter_path(@fiveparameter) %> |
<%= link_to 'Back', fiveparameters_path %>
