<html>
<body>
  <h6 ><center>  Venta   Desde: <%= @fecha1 %> Hasta: <%= @fecha2 %> </center>   </h6>
  
    <font size="2" face="Courier New" >  
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> Venta Contometros x Griero </td>
    
  </tr>
  
  </table>


  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    
    
   <td width= "23%"> Empleado  </td>
    <td width= "3%" >    </td>
    <td width = "5%" align ="right"><% %></td>
    <td width = "3%" align ="right"><% %> </td>
    <td width = "10%" align ="left">Producto</td>
    
    <td width = "5%" align ="right">Turno</td>
    <td width = "8%" align ="right">Cantidad</td>
    <td width = "8%" align ="right"><%   %></td>
    <td width = "8%" align ="right"><%    %></td>
    <td width = "8%" align ="right">Importe </td>
  
    
  </tr>
  </table>

  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      <% total_3 =  0%>
      
      
       <% for  contado in @contado_rpt  %>
  
                  <tr>
                    <td width= "23%">    </td>
                    <td width= "3%" >    </td>
                    <td width = "5%" align ="right"><% %></td>
                    <td width = "3%" align ="right"><% %> </td>
                    <td width = "10%" align ="left"><%= contado.get_product2(contado.cod_prod) %> </td>
                    
                    <td width = "5%" align ="right"></td>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.quantity)%></td>
                    <td width = "8%" align ="right"><%   %></td>
                    <td width = "8%" align ="right"><%    %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",contado.total)   %></td>
                    </tr>

                    <% total_1 +=  contado.quantity  %>
                    <% total_2 +=  contado.total  %>
      <% end %>       
  </table>
  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
     <tr bgcolor="#B4D7F7">
          <td width = "60%" align ="right">Total </td>

          <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %> </td>
          <td width = "10%" align ="right"></td>
          <td width = "10%"  align ="right"></td>
          <td width = "10%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
    </tr>
   </table>
   
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
  
    <td width="5%"> </td>
    <td width="42%"> Liquidacion  </td>
    <td width="10%" align="center"></td>
    <td width="10%" align="center"></td>
    <td width="10%" align="right"></td>
    <td width="10%" align="right"> </td>
    <td width="10%" align="right"> </td>
    
    
  </tr>
  </table>
      
      <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'> 
      
      
       <% for  contado in @detalle_ventas_grifero  %>
  
                  <tr>
                    <td width= "23%"> <%=  contado.get_nombre_empleado(contado.cod_emp) %>   </td>
                    <td width = "5%" > </td>
                    <td width = "8%" > </td>
                    <td width = "8%" > </td>
                    <td width = "5%" align ="right"></td>
                    <td width = "36%" align ="left"> </td>
                   
                    <td width = "15%" align ="right"> </td>
                    
                    
                  </tr>
                  
                  <tr>
                    <td width = "23%" align ="right"> Total Vta Soles :</td>
                    
                    <td width = "5%" align ="right"><%= contado.turno %></td>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.quantity)%></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",contado.total)   %></td>
                    <td width = "5%" align ="right"></td>
                      <td width = "36" align ="left"> </td>
                      
                      
                      <td width = "15%" align ="right"></td>
                    
                   </tr>
                    <% a1 = 0 %>
              <% a3 = 0 %>
              <% a4 = 0 %>
              <% a5 = 0 %>  
              <% tot_depo = 0 %>
                   
              <%   a1 = contado.get_ventas_forma_pago_grifero_turno(@fecha1,contado.cod_emp, contado.turno,"98") %>

              <%   a2 = contado.get_ventas_forma_pago_grifero_turno(@fecha1,contado.cod_emp, contado.turno,"05") %>

              <%   a20 =  contado.get_ventas_forma_pago_grifero_turno(@fecha1,contado.cod_emp, contado.turno,"01")  %>


                  <%a2 += a20 %>

              <%      a3 = contado.get_ventas_forma_pago_grifero_turno(@fecha1,contado.cod_emp, contado.turno,"06")  %>

              <%      @a30 = contado.get_ventas_forma_pago_grifero_turno_detalle(@fecha1,contado.cod_emp, contado.turno,"06")  %>
              

              <%      a4 = contado.get_ventas_forma_pago_grifero_turno(@fecha1,contado.cod_emp, contado.turno,"07")  %>
              <%      a5 = 0   %>
              <%      a6 = contado.get_ventas_contometros_descuento_factura_efe2(@fecha1,contado.cod_emp) * -1  %>

              

              
              <%      @tot_depo = contado.get_ventas_tirada_grifero_turno(@fecha1,contado.get_code_empleado(contado.cod_emp), contado.turno)   %>   
              <%      tot_lub = contado.get_ventas_lubricantes_creditos_grifero_turno(@fecha1,contado.cod_emp, contado.turno)   %>   
              
           
              <%puts "a1"%>
              <% puts a1 %>
                   <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> Efectivo : </td>
                     
                      <td width = "15%" align ="right"> <%= sprintf("%.2f",a1)   %></td>
                   </tr>
                   <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> Tarj. Credito : </td>
                       
                      <td width = "15%" align ="right"> <%= sprintf("%.2f",a2)   %></td>
                   </tr>
                   

                   <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left" > Vales Credito </td>
                      
                      <td width = "15%" align ="right"></td>
                   </tr>
                   
                   <% for creditos in @a30 %>
                        <tr>
                          <td width = "23%" align ="right"> </td>
                          <td width = "5%" align ="right"></td>
                          <td width = "8%" align ="right"></td>
                          <td width = "8%" align ="right"></td>
                          <td width = "5%" align ="right"></td>
                          <td width = "36%" align ="left"> <%=  creditos.get_customer_name(creditos.cod_cli) %> </td>

                        
                          
                          <td width = "15%" align ="right"> <%= sprintf("%.2f",creditos.importe)   %></td>
                       </tr>

                   <% end %> 


                   <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> Vales Credito : </td>
                       
                      <td width = "15%" align ="right"> <%= sprintf("%.2f",a3)   %></td>
                   </tr>
                   
                  
                    
                     
                   <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> Serafin : </td>
                   
                      <td width = "15%" align ="right"> <%= sprintf("%.2f",a4)   %></td>
                   </tr>

                   <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> Descuento : </td>
                   
                      <td width = "15%" align ="right"> <%= sprintf("%.2f",a6)   %></td>
                   </tr>

                     <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> Total x Liquidar </td> : </td>
                      
                      <td width = "15%" align ="right"> <%= sprintf("%.2f", a1)   %></td>
                   </tr>
                   
                   </tr>
                     <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> DETALLE REMITOS  </td> : </td>
    
                      <td width = "15%" align ="right"> </td>
                   </tr>
                   
                     <% for  deposito  in @tot_depo %>
                     
                       <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> <%= deposito.documento %></td> : </td>
                      
                      <td width = "15%" align ="right"> <%= sprintf("%.2f",deposito.importe )   %></td>
                      <% tot_depo += deposito.importe %>
                     </tr>
                   
  
                    <% end %>
                   
                     <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> Total Depositado</td> : </td>
                   
                      <td width = "15%" align ="right"> <%= sprintf("%.2f",tot_depo)   %></td>
                   </tr>
                   
                   
                    <tr>
                      <td width = "23%" align ="right"> </td>
                      <td width = "5%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      <td width = "8%" align ="right"></td>
                      
                      <td width = "5%" align ="right"></td>
                      <td width = "36%" align ="left"> ** Diferencia : </td>
                       
                      <td width = "15%" align ="right"> <%= sprintf("%.2f", tot_depo - a1  )   %></td>
                   </tr>
                   
                   
                
      <% end %>                    
                  
               
        <hr>  
     </table>
     <br>
     
     
   
  
    
    </body>
      
      </html>
      