<p id="notice"><%= notice %></p>

<h1>Listing Varillajes</h1>

<table>
  <thead>
    <tr>
      <th>Tanque</th>
      <th>Product</th>
      <th>Inicial</th>
      <th>Compras</th>
      <th>Directo</th>
      <th>Consumo</th>
      <th>Transfe</th>
      <th>Saldo</th>
      <th>Varilla</th>
      <th>Dife dia</th>
      <th>Fecha</th>
      <th>Documento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @varillajes.each do |varillaje| %>
      <tr>
        <td><%= varillaje.tanque.code %></td>
        <td><%= varillaje.tanque.product.name %></td>
        <td><%= varillaje.inicial %></td>
        <td><%= varillaje.compras %></td>
        <td><%= varillaje.directo %></td>
        <td><%= varillaje.consumo %></td>
        <td><%= varillaje.transfe %></td>
        <td><%= varillaje.saldo %></td>
        <td><%= varillaje.varilla %></td>
        <td><%= varillaje.dife_dia %></td>
        <td><%= varillaje.fecha %></td>
        <td><%= varillaje.documento %></td>
        <td><%= link_to 'Show', varillaje %></td>
        <td><%= link_to 'Edit', edit_varillaje_path(varillaje) %></td>
        <td><%= link_to 'Destroy', varillaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Varillaje', new_varillaje_path %>
