<html>
<body>
  <h6 ><center> Parte Diario - Tarjeta Desde: <%= @fecha1 %> Hasta: <%= @fecha2 %> </center>   </h6>
  
    <font size="2" face="Courier New" >  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="5%"> Fecha</td>
    <td width="5%">Cod.Emp</td>
    <td width="32%">Cliente</td>
    <td width="3%"> Serie</td>
    <td width="5%"> Numero  </td>
    <td width="3%">Cod. </td>
    <td width="10%"> Producto </td>
    <td width = "5%" >Nro.Vale</td>
    
    <td width="8%"> Cantidad </td>
    <td width="8%"> Precio</td>
    <td width="8%"> Importe </td>
    <td width="8%"> Importe Lista </td>
    
    
  </tr>
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> TARJETA DE  CREDITO *Todos*</td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      <% total_3 =  0%>
      
       <% for  contado in @contado_rpt  %>
       
       <%if contado.importe.to_f > 0 %>
                  <tr>
                    <td width= "5%" ><%=  contado.fecha.strftime("%d/%m/%Y")  %></td>
                    <td width= "5%" ><%=  contado.fecha.cod_emp  %></td>
                    <td width= "32%" > <%=  contado.get_customer_name(contado.cod_cli) %>   </td>
                    <td width= "3%" > <%=  contado.serie %>   </td>
                    <td width = "5%" align ="right"><%= contado.numero    %></td>
                    <td width = "3%" align ="right"><%= contado.cod_prod    %> </td>
                    <td width = "10%" align ="left"><%= contado.get_product_name(contado.cod_prod)    %> </td>
                    <td width = "5%" align ="right"><%= contado.get_tarjeta_name(contado.fpago) %></td>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.cantidad.to_s)%></td>
                    <td width = "8%"  align ="right"><%= sprintf("%.2f",contado.precio)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.3f",contado.importe)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",contado.implista.to_s)   %></td>
                    
                    </tr>
                    
            <% end %>        
                    <% total_1 +=  contado.importe.to_f %>
                    <% total_2 +=  contado.implista  %>
                    <% total_3 +=  contado.cantidad  %>
                    
         <%end %>
         
                  
                  
               
        <hr>  
     </table>
      <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
     <tr bgcolor="#B4D7F7">
          <td width = "68%" align ="right">Total tarjetas </td>
          <td width = "8%" align ="right"><%= sprintf("%.3f",total_3)   %></td>
          <td width = "8%"  align ="right"></td>
          <td width = "8%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
          <td width = "8%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
          
    </tr>
   </table>

    
    </body>
      
      </html>
      