<html>
<body>
    
  
  <h4 ><center> Parte Diario:  <%= @fecha %>   </center>   </h4>
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="5%"> Tanque  </td>
    <td width="10%"> Producto  </td>
    <td width="10%"> Inicial</td>
    <td width="10%">  Compras </td>
    <td width="4%"> Directo</td>
    <td width="10%"> Venta</td>
    <td width="10%"> Stock Final </td>
    <td width="10%"> Medicion</td>
    <td width="8%"> Dife_dia </td>
    <td width="8%"> Dife_mes </td>
    <td width="8%"> Dife_cont </td>
    <td width="10%"> Ventas S/.</td>
    
  </tr>
  </table>
  
  <% total_1 = 0 %>
  <% total_2 = 0 %>
  <% total_3 = 0 %>
  <% total_4 = 0 %>
  <% total_5 = 0 %>
  <% total_6 = 0 %>
  <% total_7 = 0 %>
  <% total_8 = 0 %>
  <% total_9 = 0 %>
  <% total_10 = 0 %>
  <% venta_soles_total  = 0 %>
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
       <% for  product0 in @parte_rpt %>
                   <%  producto_value = product0.tanque.product.id%>
                   <% compras = product0.get_compras(@fecha,producto_value) %>
                   <% ventas_qty = product0.get_ventas(@fecha,product0.tanque.product.id) %>
                   <% venta_directa_qty = 0 %>
                   <% afericion = product0.get_afericion_total_dia_producto_qty(@fecha,product0.tanque.id) %>
                   <% venta_neta = ventas_qty - afericion %>
                   <tr>
                    <td width = "5%" ><%=  product0.tanque.code %></td>
                    <td width = "10%" ><%=  product0.tanque.product.name %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",product0.inicial.to_s)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",compras )   %></td>
                    <td width = "4%" align ="right"><%= sprintf("%.2f",venta_directa_qty)   %> </td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",venta_neta  )  %></td>
                    <% saldo =  product0.inicial + compras - ventas_qty - venta_directa_qty + afericion %>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",saldo.to_s)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",product0.varilla.to_s)   %></td>
                    <% dife =  product0.varilla - saldo %>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",dife.to_s)   %></td>
                    <% dife_soles = product0.get_ventas_importe(@fecha,product0.tanque.product.id) - product0.get_ventas_contometros_producto_todo(@fecha,product0.tanque.product.code.to_s)-  product0.get_ventas_contometros_descuento_producto(@fecha,product0.tanque.product.code.to_s)  - product0.get_afericion_total_dia_producto(@fecha,product0.tanque.id)   %>
                    
                    <% dife_mes = product0.get_saldo_final_combustible(@fecha,product0.tanque.product.id,product0.tanque.product.code.to_s,product0.tanque.id) %>
                    
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",dife_mes.to_s)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",dife_soles.to_s)  %></td>
                    <% venta_soles_total = product0.get_ventas_contometros_producto_todo(@fecha,product0.tanque.product.code.to_s) + product0.get_ventas_contometros_descuento_producto(@fecha,product0.tanque.product.code.to_s) %>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",venta_soles_total)   %></td>
                    </tr>
                        
                    
                    <% nroitem  +=  1 %>
                    <% total_1  +=  product0.inicial %>
                    <% total_2  +=  compras %>
                    <% total_3  +=  venta_directa_qty %>
                    <% total_4  +=  venta_neta %>
                    <% total_5  +=  saldo %>
                    <% total_6  +=  product0.varilla %>
                    <% total_7  +=  dife %>
                    <% total_8  +=  dife_mes %>
                    <% total_9  +=  dife_soles %>
                    <% total_10 +=  venta_soles_total %>
                                      
                    
         <%end %>
         
         <tr bgcolor="#B4D7F7">
           
                    <td width = "5%" >  </td>
                    <td width = "10%" > Total : </td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",total_1) %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",total_2)    %></td>
                    <td width = "4%" align ="right"><%= sprintf("%.2f",total_3)    %> </td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",total_4) %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",total_5)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",total_6)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",total_7)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",total_8)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",total_9)  %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",total_10)   %></td>
                    </tr>
                        
         
               
        <hr>  
        
        
     </table>
     
     <% a= @parte_rpt.first %>
     <% venta_1 =  a.get_ventas_contometros(@fecha)  %>
     
     <% venta_2 =  a.get_ventas_contometros_efectivo(@fecha) %>
     
     <% venta_3 =  a.get_ventas_contometros_tarjeta(@fecha)  %> 
     
     <% venta_4 =  a.get_ventas_contometros_creditos(@fecha) %>
     <% venta_4_1 =  a.get_ventas_contometros_creditos_productos(@fecha) %>
     
     <% venta_18 =  a.get_ventas_contometros_adelantado(@fecha) %>
     
     <% bancos  =  a.get_customer_payments_1(@fecha) %>
     <% bancos2  =  a.get_customer_payments_2(@fecha) %>
     
     <% venta_7 =  a.get_ventas_contometros_descuento(@fecha) %>
     
      <% venta_descuentos_facturas = a.get_ventas_contometros_tarjeta_factura(@fecha) %>
      <% venta_descuentos_facturas_efe = a.get_ventas_contometros_descuento_factura_efe(@fecha) %>
      
      
     
     <% venta_9 =  a.get_ventas_vale_contado(@fecha)  %>
     <% venta_10 = 0 %>
     
     <% venta_12 =  a.get_afericion_total_dia(@fecha) %>
     <% venta_13 =  a.get_faltante_total_dia(@fecha,"1") %>
     <% venta_14 =  a.get_faltante_total_dia(@fecha,"2") %>
     
     
     <% venta_15 =  a.get_ventas_market(@fecha) + a.get_ventas_colaterales_efe(@fecha,"2") + a.get_ventas_colaterales_tar(@fecha,"2")  %>
     <% venta_16 =  a.get_ventas_restaurant(@fecha)  + a.get_ventas_colaterales_efe(@fecha,"3") + a.get_ventas_colaterales_tar(@fecha,"3") %>
     
     
     <% venta_19 =  a.get_ventas_market_tarjeta(@fecha) + a.get_ventas_colaterales_tar(@fecha,"2") %>
     <% venta_20 =  a.get_ventas_restaurant_tarjeta(@fecha) + a.get_ventas_colaterales_tar(@fecha,"3")%>
     
     
     <% venta_17 =  venta_15 + venta_16  %>
     
     <% venta_5 =  venta_2 + venta_3 + venta_4 + venta_9  +venta_17 + venta_18 - venta_descuentos_facturas - venta_descuentos_facturas_efe %>
     
     <% venta_8 =  venta_1 + venta_17 - venta_12 - venta_descuentos_facturas  - venta_descuentos_facturas_efe %>
     <% venta_6 =  venta_5 - venta_8 %>
     <% venta_11 = venta_1 - venta_12  %>
     
     <% total_gastos = a.get_gastos_varios(@fecha) %>
     
     
     <hr>
     
     <%= venta_20  %>
     <%= a.get_ventas_colaterales_tar(@fecha,"3")  %>
     
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    
    <td width="100%"> VENTAS DEL DIA  </td>
    
  </tr>
  </table>
  
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <tr>
            <td width= "25%" align ="left">** CONTOMETROS            : </td>
            <td width= "25%" > <%=  sprintf("%.2f",venta_1) %></td>
            
            <td width = "25%" align ="left">  &#9475;   CREDITO COMBUSTIBLES        :  </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_4)   %></td>
            
          </tr>
          
            <tr>
            <td width= "25%" align ="left">   AFERICION            : </td>
            <td width= "25%" > <%= sprintf("%.2f",venta_12) %> (-) </td>
            
            <td width = "25%" align ="left">  &#9475;   CREDITO PRODUCTOS        :  </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_4_1)   %></td>
            
            </tr>
            <tr>
            <td width= "25%" align ="left">   CONSUMO INTERNO            : </td>
            <td width= "25%" >                                 (-)</td>
            
            <td width = "25%" align ="left">  &#9475;   VALE CONTADO        :  </td>
            <td width = "25%" align ="right"> <%= sprintf("%.2f",venta_9 - venta_descuentos_facturas -venta_descuentos_facturas_efe)    %></td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">   DIFERENCIA PRECIO            : </td>
            <td width= "25%" >   <%= sprintf("%.2f",venta_7)  %>             </td>
            
            <td width = "25%" align ="left">  &#9475;   TARJETA COMBUSTIBLES    :  </td>
            <td width = "25%" align ="right">  <%= sprintf("%.2f",venta_3)  %></td>
            
            </tr>
            
            
            <tr>
            <td width= "25%" align ="left">   DESCUENTO       : </td>
            <td width= "25%" >  0.00       </td>
            
            <td width = "25%" align ="left">  &#9475;   TARJETA PRODUCTOS    :  </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_19 + venta_20 )  %> </td>
            
            
            </tr>
            <tr>
            <td width= "25%" align ="left">   VENTA COMBUSTIBLES        S/.  : </td>
            <td width= "25%" align= "right">          <%=    sprintf("%.2f",venta_11)  %>                   </td>
            
            <td width = "25%" align ="left">  &#9475;   EFECTIVO SOLES    :  </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_2 + venta_17 - venta_19 - venta_20 - venta_4_1  ) %> </td>
            
            
            
            </tr>
            <tr>
            <td width= "25%" align ="left">   DESCUENTO            : </td>
            <td width= "25%" align ="right">(-)<%= sprintf("%.2f",venta_descuentos_facturas + venta_descuentos_facturas_efe)  %></td>
            
            <td width = "25%" align ="left">  &#9475;   EFECTIVO DOLAR    :  </td>
            <td width = "25%" align ="right"> </td>
            
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">** PRODUCTOS            : </td>
            <td width= "25%" >                                </td>
            
            <td width = "25%" align ="left">  &#9475; VENTAS DIRECTAS      </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_10)   %> </td>
            
            
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">  RESTAURANTE            : </td>
            <td width= "25%" >  <%=   sprintf("%.2f",venta_16)  %>                              </td>
            
            <td width = "25%" align ="left">  &#9475;  VENTA ADELANTADA :  </td>
            <td width = "25%" align ="right">   <%=   sprintf("%.2f",venta_18)  %>                              </td>
            
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">  MARKET            : </td>
            <td width= "25%" >  <%=   sprintf("%.2f",venta_15)  %>                              </td>
            
            <td width = "25%" align ="left">  &#9475;   </td>
            <td width= "25%" >   </td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">  PROMOCION            : </td>
            <td width= "25%" >                                </td>
            <td width = "25%" align ="left">  &#9475;   </td>
            <td width = "25%" align ="right">              </td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">      VENTA PRODUCTOS    S/. : </td>
            <td width= "25%" align="right" ><%=    sprintf("%.2f",venta_15 + venta_16 ) %>          </td>
            
            <td width = "25%" align ="left">  &#9475;  :  </td>
            <td width = "25%" align ="right"> </td>
            
            </tr>
    </table>
    
    
    <hr>
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
            
            <tr>
            <td width= "25%" align ="left">  TOTAL VENTAS            : </td>
            <td width= "25%" align ="right" ><%= sprintf("%.2f",venta_8) %>                                </td>
            
            <td width = "25%" align ="left">  &#9475; TOTAL SUSTENTOS :  </td>
            <td width = "25%" align ="right"> <%= sprintf("%.2f",venta_5) %>                                </td>
            
            </tr>
            <tr>
            <td width= "25%" align ="right">   DIFERENCIA       S/. : </td>
            <td width= "25%" >                                </td>
            
            <td width = "25%" align ="left">  &#9475;  :  </td>
            <td width = "25%" align ="left">  <%=    sprintf("%.2f",venta_6) %>                   </td>
            
            </tr>
    </table>
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="100%"> FALTANTE/SOBRANTE  </td>
  </tr>
  </table>
  
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
    
    
    
      <tr>
            <td width = "50%" align ="left">
            <td width = "25%" align ="left">  &#9475;   FALTANTES    :  </td>
            <td width = "25%" align ="right"> <%=    sprintf("%.2f",venta_13)  %> </td>
      </tr>
      <tr>
            <td width = "50%" align ="left">
            <td width = "25%" align ="left">  &#9475;   SOBRANTES  :  </td>
            <td width = "25%" align ="right"><%=   sprintf("%.2f",venta_14)  %>  </td>
        
      </tr>
      
      <tr>
            <td width = "50%" align ="left">
            <td width = "25%" align ="left">  &#9475;   TOTALES :  </td>
            <td width = "25%" align ="right"><%=   sprintf("%.2f",venta_14+venta_13)  %>  </td>
        
      </tr>
      
    </table>    
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="100%"> PAGO ADELANTADO </td>
  </tr>
  </table>
  
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
    <% total_pago_adelantado = 0 %>
    <%venta_adelantada_parte = a.get_ventas_adelantada(@fecha) %>
    
    <%  for item in venta_adelantada_parte  %>
       
      <tr>
            <td width = "10%" align ="left">  &#9475;   VENTAS:  </td>
            
            <td width = "15%" align ="left"> <%= item.code.strip %> </td>
            <td width = "25%" align ="left"> <%= item.customer.name.lstrip  %> </td>
            
            <td width = "25%" align ="left">&#9475; <%= item.get_nombretarjeta(item.tarjeta_id)  %>  </td>
            <td width = "25%" align ="right"> <%=  sprintf("%.2f",item.total)  %> </td>
      </tr>
      
      
      <% total_pago_adelantado += item.total   %>
  
      <% end %>
      
      
    </table>    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
    <tr>
            <td width = "50%" align ="left">
            <td width = "25%" align ="left">  &#9475;   TOTALES :  </td>
            <td width = "25%" align ="right"><%=   sprintf("%.2f",total_pago_adelantado)  %>  </td>
        
    </tr>
    </table>      
     
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> COBRANZAS  </td>
  </tr>
  
  </table>
     
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  INGRESOS DEL DIA           : </td>
      </tr>
        
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>        
      <% total_bancos_soles1 = 0 %>
      <% total_bancos_dolar = 0 %>
      
       <% for productItem in bancos %>
       
      <tr>
        <td width= "50%" align ="left">
        
        </td>
        
        <td width= "20%" align ="left">
          <%=  productItem.document.description    %>
        </td>
         
        <td width= "10%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        
        <%  if productItem.bank_acount.moneda_id == "1"%>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          <% total_bancos_soles1 += productItem.total %>
        <% end %>
        
      </tr>
    <% end %>
   
    </table>
    
    <%  bancos1= a.get_deposito(@fecha) %>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>        
      
       <% for productItem in bancos1 %>
       
      <tr>
        <td width= "50%" align ="left">
        
        </td>
        
        <td width= "20%" align ="left">
          <%=  productItem.document.description    %>
        </td>
         
        <td width= "10%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        
        <%  if productItem.bank_acount.moneda_id == "1"%>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          <% total_bancos_soles1 += productItem.total %>
        <% end %>
        
      </tr>
    <% end %>
   
    </table>
    
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  INGRESOS ANTERIOR           : </td>
      </tr>
      
    
    
      <% total_bancos_soles = 0 %>
      <% total_bancos_dolar = 0 %>
      
      <%  @customerpayment = @company.get_customer_payments_2(@fecha,@fecha)  %>
      
       <% for productItem in  @customerpayment %>
       
    <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>           
      <tr>
        <td width= "10%" align ="left">
          <%=  productItem.code_liq %>
        </td>
        
        <td width= "10%" align ="left">
          <%=  productItem.fecha1.strftime("%d/%m/%Y")      %>
        </td>
         
        <td width= "15%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        <% @cliente_obs = productItem.get_cliente(productItem.customer_id) %>
        <td width= "10%" align ="left">
              <%= @cliente_obs.ruc %>
        </td>      
        <td width= "25%" align ="left">
              <%= @cliente_obs.name %>
        </td>          
         <td width= "10%" align ="left">
              <%= sprintf("%.2f",productItem.factory.to_s) %>
        </td>          
        <% monedabanco= productItem.get_banco_moneda(productItem.bank_acount_id) %>
        
        <%  if monedabanco == "1" %>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          
          <% total_bancos_soles += productItem.total %>
        <% end %>
      </tr>  
        
      <% end %>
        
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
      
      <tr>
            <td width="80%" align ="left">  GASTOS VARIOS           : </td>
            <td width="10%" align='right'> <%= sprintf("%.2f",total_gastos) %>   </td>
            <td width="10%" align='right'> 0.00   </td>
      </tr>
      
        
    </table>
    
  <table style='font-family:"Courier New", Courier, monospace; font-size:100% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="80%"> TOTAL A BANCOS   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",total_bancos_soles1) %>   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",total_bancos_dolar) %>   </td>
  </tr>
  
  </table>
  
  <% diferencia = total_bancos_soles1 + total_gastos - ( venta_9 +venta_2 + venta_17 -venta_19- venta_20 - venta_4_1) - venta_13 - venta_14 + venta_descuentos_facturas + venta_descuentos_facturas_efe  %>
     
  <% if diferencia !=  0%>   
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="80%"> DIFERENCIA :   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",diferencia) %>   </td>
    <td width="10%" align='right'>    </td>
  </tr>
  
  
  </table>
  <% end %>   
      </body>
    
</html>

      