<html>
<body>
  <h6 ><center>  Desde: <%= @fecha1 %> Hasta: <%= @fecha2 %> </center>   </h6>

  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> REPORTE DE CONSUMOS CLIENTES PAGOS ADELANTADOS </td>
  </tr>
  
  
  </table>
  <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
    <tr bgcolor="#B4D7F7">
        
        <td width= "5%" >Fecha</td>
        <td width= "3%" > Td  </td>
        <td width= "8%" > Documento  </td>
        <td width= "3%" > Cod.   </td>
        <td width = "10%" align ="left">Producto </td>
        <td width = "8%"  align ="right">Ingreso </td>
        <td width = "8%" align ="right">Precio</td>
        <td width = "8%" align ="right">Importe</td>
        <td width = "8%" align ="right">Salida </td></td>
        <td width = "8%" align ="right">Precio</td>
        <td width = "8%" align ="right">Pre.Dscto</td>
        <td width = "8%" align ="right">Importe</td>
        <td width = "8%" align ="right">Imp.Lista </td>
        <td width = "8%" align ="right">Saldo</td>
        <td width = "8%" align ="left">Descrip </td>
        
        
    </tr>
  </table> 
  
  
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      <% total_3 =  0%>
      
     <% lcCustomer = @contado_rpt_adelantado.first.customer_id %>
     <table style='font-family:"Courier New", Courier, monospace; font-size:60% ;width:100%'>
         <tr>
             <td width= "10%" >CLIENTE : </td>
             <td width= "5%" align ="left" ><%= @contado_rpt_adelantado.first.customer.id  %></td>
             <td width= "85%"  align ="left"><%= @contado_rpt_adelantado.first.customer.name  %></td>
             
             
        </tr>          
    </table>     
     
      
       <% for  contado in @contado_rpt_adelantado %>
       
                <%  if lcCustomer == contado.customer_id %>
                
              <table style='font-family:"Courier New", Courier, monospace; font-size:60% ;width:100%'>
                  <tr>
                    <td width= "5%" ><%=  contado.fecha.strftime("%d/%m/%Y")  %></td>
                    <td width= "3%" > <%= contado.get_document_name_short(contado.document_id)   %>   </td>
                    <td width= "8%" > <%=  contado.code %>   </td>
                    <td width= "3%" > <%=  contado.cod_prod %>   </td>
                    <td width = "10%" align ="left"><%= contado.get_product_name(contado.cod_prod)    %> </td>
                    <td width = "8%"  align ="right"><%= sprintf("%.2f",contado.abono)   %></td>
                    <% if contado.abono > 0 %>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.price) %></td>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.import) %></td>
                    <% else %>
                    <td width = "8%" align ="right">0.00</td>
                    <td width = "8%" align ="right">0.00</td>
                    <% end %>
                    
                    
                    <td width = "8%" align ="right"><%= sprintf("%.2f",contado.cargo)   %></td>
                    <% if contado.cargo > 0%>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.price) %></td>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.price_discount) %></td>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.import) %></td>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.import_lista) %></td>
                    <% else %>
                    <td width = "8%" align ="right">0.00</td>
                    <td width = "8%" align ="right">0.00</td>
                    <td width = "8%" align ="right">0.00</td>
                    <td width = "8%" align ="right">0.00</td>
                    
                    <% end %>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",contado.saldo)   %></td>
                    
                    <td width = "8%" align ="left"><%= contado.description    %> </td>
                    
                    </tr>
                 </table>               
       
                    <% total_1 +=  contado.abono  %>
                    <% total_2 +=  contado.cargo  %>
                    <% total_3 +=  contado.saldo %>
                  <%else %> 
                  
                   <% lcCustomer = contado.customer_id %>
                   table style='font-family:"Courier New", Courier, monospace; font-size:60% ;width:100%'>
         <tr>
             <td width= "35%" >CLIENTE</td>
             <td width= "65%" ><% @contado_rpt_adelantado.first.customer.name %></td>
             
             
        </tr>          
    </table>     
     
                   
                  <%end %> 
         <%end %>
         
        <hr>  
     </table>
      <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
     <tr bgcolor="#B4D7F7">
          <td width = "52%" align ="right">Total  </td>
          <td width = "8%" align ="right"><%= sprintf("%.3f",total_3)   %></td>
          <td width = "8%"  align ="right"> </td>
          <td width = "8%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
          <td width = "8%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
          <td width = "8%" align ="right"></td>
          <td width = "8%" align ="right"></td>
    </tr>
   </table>


    </body>
      
 </html>