<html>
<body>
    
  
  <h4 ><center> Parte Diario -  Auditoria </center>   </h4>
  <h5><center> Fecha: <%= @fecha %> </center></h5>
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="5%"> Serie</td>
    <td width="15%"> Numero  </td>
    <td width="10%"> Cod.Cliente</td>
    <td width="10%"> Nro.Vale </td>
    <td width="10%"> Producto </td>
    <td width="10%"> Cantidad </td>
    <td width="8%"> Precio</td>
    <td width="10%"> Importe </td>
    <td width="10%"> Importe Lista </td>
    
    
  </tr>
  </table>
<% a= @parte_rpt.first %>
  
<% bancos  =  a.get_customer_payments_1(@fecha) %>

<% creditos  =  a.get_ventas_creditos_detalle(@fecha) %>
<% contados  =  a.get_ventas_contado_detalle(@fecha) %>
<% directas  =  a.get_ventas_directa_detalle(@fecha) %>

<% efectivos  =  a.get_ventas_contometros_efectivo_sustento(@fecha) %>
<% tarjetas  =  a.get_ventas_contometros_tarjeta_sustento(@fecha) %>
<% faltantes  =  a.get_faltante_detalle_dia(@fecha,"1") %>
<% sobrantes  =  a.get_faltante_detalle_dia(@fecha,"2") %>

  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> VALES DE CREDITO  </td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      
       <% for  credito in creditos  %>
                  <tr>
                    <td width= "5%" ><%=  credito.serie %></td>
                    <td width= "10%" ><%=  credito.numero  %></td>
                    <td width = "8%" align ="right"><%= credito.cod_cli   %></td>
                    <td width = "8%" align ="right"><%= credito.odometro    %></td>
                    <td width = "10%" align ="right"><%= credito.cod_prod    %> </td>
                    <td width = "10%" align ="right"><%=  sprintf("%.2f",credito.cantidad.to_s)%></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",credito.precio)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",credito.importe)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",credito.implista.to_s)   %></td>
                    </tr>
                    
                    
                    <% total_1 +=  credito.importe.to_f %>
                    <% total_2 +=  credito.implista  %>
                    
                    
         <%end %>
         
                  
               
        <hr>  
     </table>
     
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
     <tr>
          <td width = "80%" align ="right">Total Vales Creditos</td>
          <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
          <td width = "10%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
    </tr>
   </table>
         
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> VALES DE CONTADO  </td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 = 0%>
      <% total_2 = 0%>
      
       <% for  credito in contados  %>
           <tr>
                    <td width= "5%" ><%=  credito.serie %></td>
                    <td width= "10%" ><%=  credito.numero  %></td>
                    <td width = "8%" align ="right"><%= credito.cod_cli   %></td>
                    <td width = "8%" align ="right"><%= credito.odometro    %></td>
                    <td width = "10%" align ="right"><%= credito.cod_prod    %> </td>
                    <td width = "10%" align ="right"><%=  sprintf("%.2f",credito.cantidad.to_s)%></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",credito.precio)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",credito.importe)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",credito.implista.to_s)   %></td>

                        </tr>
                    <% total_1 = total_1 + credito.importe.to_f %>
                    <% total_2 = total_2 + credito.implista  %>
                    
                    
         <%end %>
         
         
        <hr>  
     </table>
     
     <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
           <tr>
            <td width = "80%" align ="right">Total Vales Contado </td>
            <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
            <td width = "10%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
            </tr>
     </table> 
     
     
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
  <tr bgcolor="#B4D7F7">
    <td width="100%"> VENTA DIRECTA  </td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 = 0%>
      <% total_2 = 0%>
      
       <% for  credito in directas  %>
        <tr>
                    <td width= "5%" ><%=  credito.serie %></td>
                    <td width= "10%" ><%=  credito.numero  %></td>
                    <td width = "8%" align ="right"><%= credito.cod_cli   %></td>
                    <td width = "8%" align ="right"><%= credito.odometro    %></td>
                    <td width = "10%" align ="right"><%= credito.cod_prod    %> </td>
                    <td width = "10%" align ="right"><%=  sprintf("%.2f",credito.cantidad.to_s)%></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",credito.precio)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",credito.importe)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",credito.implista.to_s)   %></td>

                    <% total_1 = total_1 + credito.importe.to_f %>
                    <% total_2 = total_2 + credito.implista  %>
                    
                    
         <%end %>
         
               
        <hr>  
     </table>
     <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
         <tr>
              <td width = "80%" align ="right">Total Venta Directa </td>
              <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
              <td width = "10%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
              </tr>
     </table>
     
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
  <tr bgcolor="#B4D7F7">
    <td width="100%"> COMBUSTIBLES </td>
  </tr>
  
  </table>
     
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
  <tr bgcolor="#B4D7F7">
    <td width="100%"> EFECTIVOS SOLES </td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 = 0 %>
      
       <% for  credito in efectivos  %>
        <tr>
                    <td width= "5%" ><%=  credito.serie %></td>
                    <td width= "10%" ><%=  credito.numero  %></td>
                    <td width = "8%" align ="right"><%= credito.cod_cli   %></td>
                    <td width = "8%" align ="right"><%= credito.odometro    %></td>
                    <td width = "10%" align ="right"><%= credito.cod_prod    %> </td>
                    <td width = "10%" align ="right"><%=  sprintf("%.2f",credito.cantidad.to_s)%></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",credito.precio)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",credito.importe)   %></td>
                    

                        </tr>
                    <% nroitem = nroitem+1 %>
                    <% total_1 += credito.importe.to_f %>
         <%end %>
               
        <hr>  
        
     </table>
     
       <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
         <tr>
                    <td width = "80%" align ="right">Total Efectivos</td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
                    <td width = "10%" align ="right"></td>
                    </tr>
       </table>
     
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
  <tr bgcolor="#B4D7F7">
    <td width="100%"> TARJETA </td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 = 0%>
       <% for  credito in tarjetas  %>
        <tr>
                    <td width= "5%" ><%=  credito.serie %></td>
                    <td width= "10%" ><%=  credito.numero  %></td>
                    <td width = "8%" align ="right"><%= credito.cod_cli   %></td>
                    <td width = "8%" align ="right"><%= credito.odometro    %></td>
                    <td width = "10%" align ="right"><%= credito.cod_prod    %> </td>
                    <td width = "10%" align ="right"><%=  sprintf("%.2f",credito.cantidad.to_s)%></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",credito.precio)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",credito.importe)   %></td>
                    

                        </tr>
                    <% total_1 += credito.importe.to_f %>
         <%end %>
               
        <hr>  
     </table>
     <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
     <tr>
                    <td width = "80%" align ="right">Total Tarjetas</td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
                    <td width = "10%" align ="right"></td>
                    </tr>
     </table>    
     
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
  <tr bgcolor="#B4D7F7">
    <td width="100%"> FALTANTES </td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% total_1 = 0 %>
      
       <% for  faltante in faltantes  %>
       <tr>
                                   <td width= "5%" ></td>
                    <td width= "10%" ><%=  faltante.employee.full_name  %></td>
                    <td width = "8%" align ="right"><%=  faltante.tipofaltante.descrip    %></td>
                    <td width = "8%" align ="right"><%= credito.odometro    %></td>
                    <td width = "10%" align ="right"><%= credito.cod_prod    %> </td>
                    <td width = "10%" align ="right"></td>
                    <td width = "8%" align ="right"></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",faltante.total)   %></td>
                    <td width = "10%" align ="right"><%= faltante.descrip   %></td>

                        </tr>
                    <% total_1 += faltante.total  %>
                    
         <%end %>
             
               
        <hr>  
     </table>
     <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
       <tr>
        <td width = "80%" align ="right">Total Faltantes</td>
        <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
        <td width = "10%" align ="right"></td>
        </tr>
     </table>    
         
     
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>     
  <tr bgcolor="#B4D7F7">
    <td width="100%"> SOBRANTES </td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% total_1 = 0 %>
      
       <% for  faltante in sobrantes  %>
       <tr>
                                   <td width= "5%" ></td>
                    <td width= "10%" ><%=  faltante.employee.full_name  %></td>
                    <td width = "8%" align ="right"><%=  faltante.tipofaltante.descrip    %></td>
                    <td width = "8%" align ="right"><%= credito.odometro    %></td>
                    <td width = "10%" align ="right"><%= credito.cod_prod    %> </td>
                    <td width = "10%" align ="right"></td>
                    <td width = "8%" align ="right"></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",faltante.total)   %></td>
                    <td width = "10%" align ="right"><%= faltante.descrip   %></td>

                        </tr>
                    <% total_1 += faltante.total %>
         <%end %>
             
         
        <hr>  
     </table>
     <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
       <tr>
          <td width = "80%" align ="right">Total Sobrantes</td>
          <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
          <td width = "10%" align ="right"></td>
        </tr>
  </table>   

  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> COBRANZAS  </td>
  </tr>
  
  </table>
     
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  INGRESOS DEL DIA           : </td>
      </tr>
        
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>        
      <% total_bancos_soles = 0 %>
      <% total_bancos_dolar = 0 %>
      
       <% for productItem in bancos %>
       
      <tr>
        <td width= "50%" align ="left">
        
        </td>
        
        <td width= "20%" align ="left">
          <%=  productItem.document.description    %>
        </td>
         
        <td width= "10%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        
        <%  if productItem.bank_acount.moneda_id == "1"%>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          <% total_bancos_soles += productItem.total %>
        <% end %>
        
      </tr>
    <% end %>
    
   
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  INGRESOS ANTERIOR           : </td>
      </tr>
        
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  GASTOS VARIOS           : </td>
      </tr>
        
    </table>
    
    
    
    
    
     
    
    
    </body>
      
      </html>
      