<html>
<body>
    
  
  <h4 ><center> Parte Diario </center>   </h4>
  <h5><center> Fecha: <%= @fecha %> </center></h5>
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="5%"> Tanque  </td>
    <td width="15%"> Producto  </td>
    <td width="10%"> Inicial</td>
    <td width="10%">  Compras </td>
    <td width="10%"> Directo</td>
    <td width="10%"> Venta</td>
    <td width="10%"> Stock Final </td>
    <td width="10%"> Medicion</td>
    <td width="5%"> Dife_dia </td>
    <td width="5%"> Dife_cont </td>
    <td width="5%"> Ventas S/.</td>
    
  </tr>
  </table>
  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
       <% for  product0 in @parte_rpt %>
                   <%  producto_value = product0.tanque.product.id %>
                   <% compras = product0.get_compras2(@fecha1,@fecha2,producto_value) %>
                   <% ventas_qty = 0%>
                   <% venta_directa_qty = product0.get_ventas_vale_directo_producto2(@fecha,product0.tanque.product.code.to_s,"qty")%>
                   <% afericion = 0 %>
                   <% venta_neta = ventas_qty - afericion %>
                   
                    
                   <tr>
                    <td width= "5%" ><%=  product0.tanque.code %></td>
                    <td width= "10%" ><%=  product0.tanque.product.name %></td>
                    <td width = "8%" align ="right"><%= 0.00   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",compras )   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",venta_directa_qty)   %> </td>
                  
                    <td width = "10%" align ="right"><%= sprintf("%.2f",venta_neta  )  %></td>
                    
                    <% saldo =  product0.inicial + compras - ventas_qty - venta_directa_qty + afericion %>
                    
                    
                    <td width = "8%" align ="right"><%= sprintf("%.2f",saldo.to_s)   %></td>
                    <td width = "8%" align ="right"><%= 0.00   %></td>
                    <% dife =  0 %>
                    
                    <td width = "5%" align ="right"><%= sprintf("%.2f",dife.to_s)   %></td>
                    
                    <% dife_soles = 0  %>
              
                    
                    <td width = "5%" align ="right"><%= sprintf("%.2f",dife_soles)  %></td>
                    <td width = "5%" align ="right">0.00</td>
                    </tr>
                        
                    
                    <% nroitem = nroitem+1 %>
         <%end %>
               
        <hr>  
     </table>
     
     <% a= @parte_rpt.first %>
     <% venta_1 =  0.00 %>
     
     <% venta_2 =  0.00 %>
     
     <% venta_3 =  0.00 %>
     
     <% venta_4 =  0.00 %>
     
     <% venta_18 =  0.00 %>
     
     <% bancos  =  0.00 %>
     <% bancos2 = 0.00 %>
     
     <% venta_7 =  0.00 %>
     
     <% venta_9 =  0.00 %>
     <% venta_10 =  a.get_ventas_vale_directo2(@fecha1,@fecha2) %>
     
     <% venta_12 =  0.00 %>
     <% venta_13 =  0.00 %>
     <% venta_14 =  0.00 %>
     
     
     <% venta_15 =  0.00  %>
     <% venta_16 =  0.00 %>
     
     
     <% venta_19 =  0.00 %>
     <% venta_20 =  0.00 %>
     
     
  
     <% venta_17 =  venta_15 + venta_16  %>
     
     <% venta_5 =  venta_2 + venta_3 + venta_4 + venta_9  +venta_17 + venta_18 %>
     
     <% venta_8 =  venta_1 + venta_17 - venta_12 %>
     <% venta_6 =  venta_5 - venta_8 %>
     <% venta_11 = venta_1 - venta_12  %>
     
     
     <hr>
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    
    <td width="100%"> VENTAS DEL DIA  </td>
    
  </tr>
  </table>
  
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <tr>
            <td width= "25%" align ="left">** CONTOMETROS            : </td>
            <td width= "25%" > <%=  sprintf("%.2f",venta_1) %></td>
            
            <td width = "25%" align ="left">  &#9475;   CREDITO COMBUSTIBLES        :  </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_4)   %></td>
            
          </tr>
          
            <tr>
            <td width= "25%" align ="left">   AFERICION            : </td>
            <td width= "25%" > <%= sprintf("%.2f",venta_12) %> (-) </td>
            
            <td width = "25%" align ="left">  &#9475;   CREDITO PRODUCTOS        :  </td>
            <td width = "25%" align ="right"> </td>
            
            </tr>
            <tr>
            <td width= "25%" align ="left">   CONSUMO INTERNO            : </td>
            <td width= "25%" >                                 (-)</td>
            
            <td width = "25%" align ="left">  &#9475;   VALE CONTADO        :  </td>
            <td width = "25%" align ="right"> <%= sprintf("%.2f",venta_9)   %></td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">   DIFERENCIA PRECIO            : </td>
            <td width= "25%" >   <%= sprintf("%.2f",venta_7)  %>             </td>
            
            <td width = "25%" align ="left">  &#9475;   TARJETA COMBUSTIBLES    :  </td>
            <td width = "25%" align ="right">  <%= sprintf("%.2f",venta_3)  %></td>
            
            </tr>
            
            
            <tr>
            <td width= "25%" align ="left">   DESCUENTO       : </td>
            <td width= "25%" >       (-) </td>
            
            <td width = "25%" align ="left">  &#9475;   TARJETA PRODUCTOS    :  </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_19 + venta_20 )  %> </td>
            
            
            </tr>
            <tr>
            <td width= "25%" align ="left">   VENTA COMBUSTIBLES        S/.  : </td>
            <td width= "25%" align= "right">          <%=    sprintf("%.2f",venta_11)  %>                   </td>
            
            <td width = "25%" align ="left">  &#9475;   EFECTIVO SOLES    :  </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_2 + venta_17 - venta_19 -venta_20 ) %> </td>
            
            
            
            </tr>
            <tr>
            <td width= "25%" align ="left">   DESCUENTO            : </td>
            <td width= "25%" >                                (-) </td>
            
            <td width = "25%" align ="left">  &#9475;   EFECTIVO DOLAR    :  </td>
            <td width = "25%" align ="right"> </td>
            
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">** PRODUCTOS            : </td>
            <td width= "25%" >                                </td>
            
            <td width = "25%" align ="left">  &#9475; VENTAS DIRECTAS      </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_10)   %> </td>
            
            
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">  RESTAURANTE            : </td>
            <td width= "25%" >  <%=   sprintf("%.2f",venta_16)  %>                              </td>
            
            <td width = "25%" align ="left">  &#9475;   FALTANTES    :  </td>
            <td width = "25%" align ="right"> <%=    sprintf("%.2f",venta_13)  %> </td>
            
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">  MARKET            : </td>
            <td width= "25%" >  <%=   sprintf("%.2f",venta_15)  %>                              </td>
            <td width = "25%" align ="left">  &#9475;   SOBRANTES  :  </td>
            <td width = "25%" align ="right"><%=   sprintf("%.2f",venta_14)  %>  </td>
            
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">  PROMOCION            : </td>
            <td width= "25%" >                                </td>
            <td width = "25%" align ="left">  &#9475;  VENTA ADELANTADA :  </td>
            <td width = "25%" align ="right">   <%=   sprintf("%.2f",venta_18)  %>                              </td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">      VENTA PRODUCTOS    S/. : </td>
            <td width= "25%" align="right" ><%=    sprintf("%.2f",venta_15 + venta_16 ) %>          </td>
            
            <td width = "25%" align ="left">  &#9475;  :  </td>
            <td width = "25%" align ="right"> </td>
            
            </tr>
    </table>
    
    
    <hr>
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
            
            <tr>
            <td width= "25%" align ="left">  TOTAL VENTAS            : </td>
            <td width= "25%" align ="right" ><%= sprintf("%.2f",venta_8) %>                                </td>
            
            <td width = "25%" align ="left">  &#9475; TOTAL SUSTENTOS :  </td>
            <td width = "25%" align ="right"> <%= sprintf("%.2f",venta_5) %>                                </td>
            
            </tr>
            <tr>
            <td width= "25%" align ="right">   DIFERENCIA       S/. : </td>
            <td width= "25%" >                                </td>
            
            <td width = "25%" align ="left">  &#9475;  :  </td>
            <td width = "25%" align ="left">  <%=    sprintf("%.2f",venta_6) %>                   </td>
            
            </tr>
    </table>
     
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> COBRANZAS  </td>
  </tr>
  
  </table>
     
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  INGRESOS DEL DIA           : </td>
      </tr>
        
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>        
      <% total_bancos_soles1 = 0 %>
      <% total_bancos_dolar = 0 %>
      
       <% for productItem in bancos %>
       
      <tr>
        <td width= "50%" align ="left">
        
        </td>
        
        <td width= "20%" align ="left">
          <%=  productItem.document.description    %>
        </td>
         
        <td width= "10%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        
        <%  if productItem.bank_acount.moneda_id == "1"%>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          <% total_bancos_soles1 += productItem.total %>
        <% end %>
        
      </tr>
    <% end %>
   
    </table>
    
    <%  bancos1= a.get_deposito(@fecha) %>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>        
      
       <% for productItem in bancos1 %>
       
      <tr>
        <td width= "50%" align ="left">
        
        </td>
        
        <td width= "20%" align ="left">
          <%=  productItem.document.description    %>
        </td>
         
        <td width= "10%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        
        <%  if productItem.bank_acount.moneda_id == "1"%>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          <% total_bancos_soles1 += productItem.total %>
        <% end %>
        
      </tr>
    <% end %>
   
    </table>
    
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  INGRESOS ANTERIOR           : </td>
      </tr>
      
    
    
      <% total_bancos_soles = 0 %>
      <% total_bancos_dolar = 0 %>
      
      <%  @customerpayment = @company.get_customer_payments_3(@fecha1,@fecha2)  %>
      
       <% for productItem in  @customerpayment %>
       
    <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>           
      <tr>
        <td width= "10%" align ="left">
          <%=  productItem.code_liq %>
        </td>
        
        <td width= "10%" align ="left">
          <%=  productItem.fecha1.strftime("%d/%m/%Y")      %>
        </td>
         
        <td width= "15%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        <% @cliente_obs = productItem.get_cliente(productItem.customer_id) %>
        <td width= "10%" align ="left">
              <%= @cliente_obs.ruc %>
        </td>      
        <td width= "25%" align ="left">
              <%= @cliente_obs.name %>
        </td>          
         <td width= "10%" align ="left">
              <%= sprintf("%.2f",productItem.factory.to_s) %>
        </td>          
        <% monedabanco= productItem.get_banco_moneda(productItem.bank_acount_id) %>
        
        <%  if monedabanco == "1" %>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          
          <% total_bancos_soles += productItem.total %>
        <% end %>
      </tr>  
        
      <% end %>
        
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  GASTOS VARIOS           : </td>
      </tr>
        
    </table>
    
    
    
    
    
  <table style='font-family:"Courier New", Courier, monospace; font-size:100% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="80%"> TOTAL A BANCOS   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",total_bancos_soles1) %>   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",total_bancos_dolar) %>   </td>
  </tr>
  
  </table>
  
  
  
  <% diferencia = total_bancos_soles1 - ( venta_9 +venta_2 + venta_17 -venta_19- venta_20) + venta_13 - venta_14 %>
     
  <% if diferencia !=  0%>   
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="80%"> DIFERENCIA :   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",diferencia) %>   </td>
    <td width="10%" align='right'>    </td>
  </tr>
  
  
  </table>
  <% end %>   
      </body>
    
      </html>
      