<html>
<body>
    
  
  <h4 ><center> Parte Diario - Vales  </center>   </h4>
  <h5><center> Desde: <%= @fecha1 %> </center></h5>
  <h5><center> Hasta: <%= @fecha2 %> </center></h5>  
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="5%"> Serie</td>
    <td width="15%"> Numero  </td>
    
    <td width="10%"> Nro.Vale </td>
    <td width="10%"> Producto </td>
    <td width="10%"> Cantidad </td>
    <td width="8%"> Precio</td>
    <td width="10%"> Importe </td>
    <td width="10%"> Importe Lista </td>
    
    
  </tr>
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> VALES DE CONTADO  * PENDIENTES POR FACTURAR *</td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      
       <% for  contado in @contado_rpt  %>
       
       <%if contado.importe.to_f > 0 %>
                  <tr>
                    <td width= "10%" ><%=  contado.fecha.strftime("%d/%m/%Y")  %></td>
                    <td width= "5%" ><%=  contado.serie %>   </td>
                    
                    <td width = "8%" align ="right"><%= contado.numero    %></td>
                    
                    <td width = "10%" align ="right"><%= contado.cod_prod    %> </td>
                    
                    <td width = "10%" align ="left"><%= contado.get_product_name(contado.cod_prod)    %> </td>
                    
                    <td width = "10%" align ="right"><%=  sprintf("%.2f",contado.cantidad.to_s)%></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",contado.precio)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",contado.importe)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",contado.implista.to_s)   %></td>
                    </tr>
                    
            <% end %>        
                    <% total_1 +=  contado.importe.to_f %>
                    <% total_2 +=  contado.implista  %>
                    
                    
         <%end %>
         
                  
               
        <hr>  
     </table>
      <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
     <tr>
          <td width = "80%" align ="right">Total Vales Contado </td>
          <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
          <td width = "10%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
    </tr>
   </table>

    
    </body>
      
      </html>
      