<html>
<body>
    
  
  <h4 ><center> Parte Diario </center>   </h4>
  <h5><center> Fecha: <%= @fecha %> </center></h5>
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="5%"> Tanque  </td>
    <td width="15%"> Producto  </td>
    <td width="10%"> Inicial</td>
    <td width="10%">  Compras </td>
    <td width="10%"> Directo</td>
    <td width="10%"> Venta</td>
    <td width="10%"> Stock Final </td>
    <td width="10%"> Medicion</td>
    <td width="5%"> Dife_dia </td>
    <td width="5%"> Dife_cont </td>
    <td width="5%"> Ventas S/.</td>
    
  </tr>
  </table>
  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
       <% for  product0 in @parte_rpt %>
                   <%  producto_value = product0.tanque.product.id%>
                   
                   <tr>
    
                    <td width= "5%" ><%=  product0.tanque.code %></td>
                    <td width= "10%" ><%=  product0.tanque.product.name %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",product0.inicial.to_s)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",product0.get_compras(@fecha,producto_value))   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",product0.get_ventas_vale_directo_producto(@fecha,product0.tanque.product.code.to_s,"qty"))   %> </td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",product0.get_ventas(@fecha,product0.tanque.product.id))  %></td>
                    <% saldo =  product0.inicial + product0.get_compras(@fecha,producto_value)  - product0.get_ventas(@fecha,product0.tanque.product.id) %>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",saldo.to_s)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.3f",product0.varilla.to_s)   %></td>
                    <% dife =  product0.varilla - saldo %>
                    
                    <td width = "5%" align ="right"><%= sprintf("%.2f",dife.to_s)   %></td>
                    
                    
                    <% dife_soles = product0.get_ventas_importe(@fecha,product0.tanque.product.id) - product0.get_ventas_contometros_producto_todo(@fecha,product0.tanque.product.code.to_s)-  product0.get_ventas_contometros_descuento_producto(@fecha,product0.tanque.product.code.to_s)     %>
              
                    
                    <td width = "5%" align ="right"><%= sprintf("%.2f",dife_soles)  %></td>
                    <td width = "5%" align ="right"><%= sprintf("%.2f",product0.get_ventas_contometros_producto_todo(@fecha,product0.tanque.product.code.to_s) + product0.get_ventas_contometros_descuento_producto(@fecha,product0.tanque.product.code.to_s)   )   %></td>
                    </tr>
                        
                    
                    <% nroitem = nroitem+1 %>
         <%end %>
               
        <hr>  
     </table>
     
     <% a= @parte_rpt.first %>
     <% venta_1 =  a.get_ventas_contometros(@fecha)  %>
     
     <% venta_2 =  a.get_ventas_contometros_efectivo(@fecha) %>
     
     <% venta_3 =  a.get_ventas_contometros_tarjeta(@fecha) %>
     
     <% venta_4 =  a.get_ventas_contometros_creditos(@fecha) %>
     
     <% venta_18 =  a.get_ventas_contometros_adelantado(@fecha) %>
     
     <% bancos  =  a.get_customer_payments_1(@fecha) %>
     <% bancos2  =  a.get_customer_payments_2(@fecha) %>
     
     <% venta_7 =  a.get_ventas_contometros_descuento(@fecha) %>
     
     <% venta_9 =  a.get_ventas_vale_contado(@fecha) %>
     <% venta_10 =  a.get_ventas_vale_directo(@fecha) %>
     
     <% venta_12 =  a.get_afericion_total_dia(@fecha) %>
     <% venta_13 =  a.get_faltante_total_dia(@fecha,"1") %>
     <% venta_14 =  a.get_faltante_total_dia(@fecha,"2") %>
     
     <% venta_15 =  a.get_ventas_market(@fecha)  %>
     <% venta_16 =  a.get_ventas_restaurant(@fecha) %>
     
     <% venta_17 =  venta_15 + venta_16 %>
     
     <% venta_5 =  venta_2 + venta_3 + venta_4 + venta_9 + venta_13 + venta_14 +venta_17 + venta_18 %>
     
     <% venta_8 =  venta_1 + venta_17 %>
     <% venta_6 =  venta_5 - venta_8  %>
     <% venta_11 = venta_1 - venta_12  %>
     
     
     
     <hr>
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    
    <td width="100%"> VENTAS DEL DIA  </td>
    
  </tr>
  </table>
  
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <tr>
            <td width= "25%" align ="left">** CONTOMETROS            : </td>
            <td width= "25%" > <%=  sprintf("%.2f",venta_1) %></td>
            
            <td width = "25%" align ="left">  &#9475;   CREDITO COMBUSTIBLES        :  </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_4)   %></td>
            
          </tr>
          
            <tr>
            <td width= "25%" align ="left">   AFERICION            : </td>
            <td width= "25%" > <%= sprintf("%.2f",venta_12) %> (-) </td>
            
            <td width = "25%" align ="left">  &#9475;   CREDITO PRODUCTOS        :  </td>
            <td width = "25%" align ="right"> </td>
            
            </tr>
            <tr>
            <td width= "25%" align ="left">   CONSUMO INTERNO            : </td>
            <td width= "25%" >                                 (-)</td>
            
            <td width = "25%" align ="left">  &#9475;   VALE CONTADO        :  </td>
            <td width = "25%" align ="right"> <%= sprintf("%.2f",venta_9)   %></td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">   DIFERENCIA PRECIO            : </td>
            <td width= "25%" >   <%= sprintf("%.2f",venta_7)  %>             </td>
            
            <td width = "25%" align ="left">  &#9475;   TARJETA COMBUSTIBLES    :  </td>
            <td width = "25%" align ="right">  <%= sprintf("%.2f",venta_3)  %></td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">   DESCUENTO            : </td>
            <td width= "25%" >       (-) </td>
            
            <td width = "25%" align ="left">  &#9475;   EFECTIVO SOLES    :  </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_2 + venta_17 - venta_12)  %> </td>
            
            </tr>
            <tr>
            <td width= "25%" align ="left">   VENTA COMBUSTIBLES        S/.  : </td>
            <td width= "25%" align= "right">          <%=    sprintf("%.2f",venta_11)  %>                   </td>
            
            <td width = "25%" align ="left">  &#9475;   EFECTIVO DOLAR    :  </td>
            <td width = "25%" align ="right"> </td>
            
            </tr>
            <tr>
            <td width= "25%" align ="left">   DESCUENTO            : </td>
            <td width= "25%" >                                (-) </td>
            
            <td width = "25%" align ="left">  &#9475; VENTAS DIRECTAS      </td>
            <td width = "25%" align ="right"><%= sprintf("%.2f",venta_10)   %> </td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">** PRODUCTOS            : </td>
            <td width= "25%" >                                </td>
            
            <td width = "25%" align ="left">  &#9475;   FALTANTES    :  </td>
            <td width = "25%" align ="right"> <%=    sprintf("%.2f",venta_13)  %> </td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">  RESTAURANTE            : </td>
            <td width= "25%" >  <%=   sprintf("%.2f",venta_16)  %>                              </td>
            
            <td width = "25%" align ="left">  &#9475;   SOBRANTES  :  </td>
            <td width = "25%" align ="right"><%=   sprintf("%.2f",venta_14)  %>  </td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">  MARKET            : </td>
            <td width= "25%" >  <%=   sprintf("%.2f",venta_15)  %>                              </td>
            
            <td width = "25%" align ="left">  &#9475;  VENTA ADELANTADA :  </td>
            <td width = "25%" align ="right">   <%=   sprintf("%.2f",venta_18)  %>                              </td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">  PROMOCION            : </td>
            <td width= "25%" >                                </td>
            
            <td width = "25%" align ="left">  &#9475;  :  </td>
            <td width = "25%" align ="right"> </td>
            
            </tr>
            
            <tr>
            <td width= "25%" align ="left">      VENTA PRODUCTOS    S/. : </td>
            <td width= "25%" align="right" ><%=    sprintf("%.2f",venta_15) %>          </td>
            
            <td width = "25%" align ="left">  &#9475;  :  </td>
            <td width = "25%" align ="right"> </td>
            
            </tr>
    </table>
    
    
    <hr>
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
            
            <tr>
            <td width= "25%" align ="left">  TOTAL VENTAS            : </td>
            <td width= "25%" align ="right" ><%= sprintf("%.2f",venta_8) %>                                </td>
            
            <td width = "25%" align ="left">  &#9475; TOTAL SUSTENTOS :  </td>
            <td width = "25%" align ="right"> <%= sprintf("%.2f",venta_5) %>                                </td>
            
            </tr>
            <tr>
            <td width= "25%" align ="right">   DIFERENCIA       S/. : </td>
            <td width= "25%" >                                </td>
            
            <td width = "25%" align ="left">  &#9475;  :  </td>
            <td width = "25%" align ="left">  <%=    sprintf("%.2f",venta_6) %>                   </td>
            
            </tr>
    </table>
     
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> COBRANZAS  </td>
  </tr>
  
  </table>
     
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  INGRESOS DEL DIA           : </td>
      </tr>
        
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>        
      <% total_bancos_soles1 = 0 %>
      <% total_bancos_dolar = 0 %>
      
       <% for productItem in bancos %>
       
      <tr>
        <td width= "50%" align ="left">
        
        </td>
        
        <td width= "20%" align ="left">
          <%=  productItem.document.description    %>
        </td>
         
        <td width= "10%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        
        <%  if productItem.bank_acount.moneda_id == "1"%>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          <% total_bancos_soles1 += productItem.total %>
        <% end %>
        
      </tr>
    <% end %>
   
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  INGRESOS ANTERIOR           : </td>
      </tr>
      
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>        
      <% total_bancos_soles = 0 %>
      <% total_bancos_dolar = 0 %>
      
       <% for productItem in bancos2 %>
       
      <tr>
        <td width= "50%" align ="left">
        
        </td>
        
        <td width= "20%" align ="left">
          <%=  productItem.document.description    %>
        </td>
         
        <td width= "10%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        
        <%  if productItem.bank_acount.moneda_id == "1"%>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          <% total_bancos_soles += productItem.total %>
        <% end %>
        
      </tr>
    <% end %>
     
        
    </table>
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <tr>
            <td width= "100%" align ="left">  GASTOS VARIOS           : </td>
      </tr>
        
    </table>
    
    
    
    
    
  <table style='font-family:"Courier New", Courier, monospace; font-size:100% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="80%"> TOTAL A BANCOS   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",total_bancos_soles1) %>   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",total_bancos_dolar) %>   </td>
  </tr>
  
  </table>
  
  
  <% diferencia = total_bancos_soles1 - venta_9 - venta_2 - venta_17 -  venta_13 - venta_14  %>
     
  <% if diferencia >  0%>   
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="80%"> DIFERENCIA :   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",diferencia) %>   </td>
    <td width="10%" align='right'>    </td>
  </tr>
  
  
  </table>
  <% end %>   
      </body>
    
      </html>
      