<html>
<body>
  <h6 ><center>  Desde: <%= @fecha1 %> Hasta: <%= @fecha2 %> </center>   </h6>

  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> TODOS DOCUMENTOS </td>
  </tr>
  
  </table>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      <% total_3 =  0%>
      
       <% for  contado in @contado_rpt %>
       
       <%if contado.importe.to_f > 0 %>
                  <tr>
                    <td width= "5%" ><%=  contado.fecha.strftime("%d/%m/%Y")  %></td>
                    <td width= "23%" > <%= truncate(contado.get_customer_name(contado.cod_cli), :length => 30)  %>   </td>
                    <td width= "3%" > <%=  contado.td %>   </td>
                    <td width= "3%" > <%=  contado.serie %>   </td>
                    <td width = "5%" align ="right"><%= contado.numero    %></td>
                    <td width = "3%" align ="right"><%= contado.cod_prod    %> </td>
                    <td width = "10%" align ="left"><%= contado.get_product_name(contado.cod_prod)    %> </td>
                    <td width = "5%" align ="right"><%= contado.odometro %></td>
                    <td width = "5%" align ="right"><%= contado.placa %></td>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",contado.cantidad.to_s)%></td>
                    <td width = "8%"  align ="right"><%= sprintf("%.2f",contado.precio)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.3f",contado.importe)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",contado.implista.to_s)   %></td>
                    <td width = "10%" align ="left"><%= contado.get_vale_facturado   %> </td>
                    <td width = "10%" align ="left"><%= contado.id   %> </td>
                    </tr>
                    
            <% end %>        
                    <% total_1 +=  contado.importe.to_f %>
                    <% total_2 +=  contado.implista  %>
                    <% total_3 +=  contado.cantidad %>
                  
         <%end %>
         
        <hr>  
     </table>
      <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
     <tr bgcolor="#B4D7F7">
          <td width = "58%" align ="right">Total  </td>
          <td width = "8%" align ="right"><%= sprintf("%.3f",total_3)   %></td>
          <td width = "8%"  align ="right"> </td>
          <td width = "8%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
          <td width = "8%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
          <td width = "10%" align ="right"></td>
    </tr>
   </table>


    </body>
      
 </html>