<html>
<body>
    
  
  <h4 ><center> Parte Diario - Venta Directas </center>   </h4>
  <h5><center> Desde: <%= @fecha1 %> Hasta <%= @fecha2 %> </center></h5>
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="5%"> Tanque  </td>
    <td width="10%"> Producto  </td>
    <td width="8%"> Inicial</td>
    <td width="8%">  Compras </td>
    <td width="8%"> Otros Ing</td>
    <td width="8%"> Otros Sal</td>
    <td width="10%"> Vta.Directa</td>
    <td width="8%"> Stock Final </td>
    
    <td width="5%"> Ventas S/.</td>
    
  </tr>
  </table>
  <% total_compras =0 %>
  <% total_compras2 =0 %>
  <% venta_neta0  = 0 %>
  <% total_directa = 0 %>
  <% venta_neta0 = 0 %>
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
      <% nroitem = 1%>
       <% for  product0 in @parte_rpt %>
                   <%  producto_value = product0.tanque.product.id %>
                   <% inicial = product0.get_inicial(@fecha1,producto_value,product0.tanque.product.code.to_s)  %>
                   
                   <% compras = product0.get_compras4(@fecha1,@fecha2,producto_value) %>
                   <% compras_otros = product0.get_compras3(@fecha1,@fecha2,producto_value) %>
                   
                   <% salidas = product0.get_salidas(@fecha1,@fecha2,producto_value) %>
                   
                   <% ventas_qty = 0%>
                   <% venta_directa_qty = product0.get_ventas_vale_directo_producto2(@fecha1,@fecha2,product0.tanque.product.code.to_s,"qty") - product0.get_ventas_nota_credito(@fecha1,@fecha2,product0.tanque.product.id) %>
                   <% afericion = 0 %>
                   <% venta_neta =product0.get_ventas_vale_directo_producto2(@fecha1,@fecha2,product0.tanque.product.code.to_s,"soles")%>
                   <% saldo =  inicial + compras + compras_otros - ventas_qty - venta_directa_qty -salidas %>
                   
                   
                   <tr>
                    <td width= "5%" ><%=  product0.tanque.code %></td>
                    <td width= "10%" ><%=  product0.tanque.product.name %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",inicial )    %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",compras )   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",compras_otros)   %> </td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",salidas) %> </td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",venta_directa_qty  )  %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",saldo.to_s)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",venta_neta.to_s)   %></td>
                    <% dife =  0 %>
                    </tr>
                        
                    
                    <% nroitem = nroitem+1 %>
                    <% total_compras += compras %>
                    <% total_compras2 += compras_otros %>
                    <% total_directa += venta_directa_qty %>
                    <% venta_neta0 += venta_neta %>
         <%end %>
               
      </table>
     
     <hr>
     <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
  
  
     <tr>
                   <td width= "5%" ></td>
                    <td width= "10%" > TOTAL </td>
                    <td width = "8%" align ="right"></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",total_compras )   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",total_compras2)   %> </td>
                    <td width = "8%" align ="right"> 0.00 </td>
                    <td width = "10%" align ="right"><%= sprintf("%.2f",total_directa  )  %></td>
                    <td width = "8%" align ="right"></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",venta_neta0.to_s)   %></td>
                    
    </tr>
  
  </table>
  
     
     <% a= @parte_rpt.first %>
     <% venta_1 =  0.00 %>
     
     <% venta_2 =  0.00 %>
     
     <% venta_3 =  0.00 %>
     
     <% venta_4 =  0.00 %>
     
     <% venta_18 =  0.00 %>
     
     <% bancos  =  0.00 %>
     <% bancos2 = 0.00 %>
     
     <% venta_7 =  0.00 %>
     
     <% venta_9 =  0.00 %>
     <% venta_10 =  a.get_ventas_directa_detalle2(@fecha1,@fecha2) %>
     
     <% venta_12 =  0.00 %>
     <% venta_13 =  0.00 %>
     <% venta_14 =  0.00 %>
     
     
     <% venta_15 =  0.00  %>
     <% venta_16 =  0.00 %>
     
     
     <% venta_19 =  0.00 %>
     <% venta_20 =  0.00 %>
     
     
  
     <% venta_17 =  venta_15 + venta_16  %>
     
     <% venta_5 =  venta_2 + venta_3 + venta_4 + venta_9  +venta_17 + venta_18 %>
     
     <% venta_8 =  venta_1 + venta_17 - venta_12 %>
     <% venta_6 =  venta_5 - venta_8 %>
     <% venta_11 = venta_1 - venta_12  %>
     
     
     <hr>
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    
    <td width="100%"> VENTAS DEL DIA  </td>
    
  </tr>
  </table>
  
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
      <% total0 = 0 %>
      <% total1 = 0 %>
      <% total2 = 0 %>
      <% total_0 = 0 %>
      <% total_1 = 0 %>
      <% total_2 = 0 %>
      <% xcod = venta_10.first.cod_prod  %>
      
      <% for  credito in venta_10  %>
      
                    <tr>
                    <td width = "5%" ><%=  credito.fecha.strftime("%d/%m/%Y")  %></td>
                    <td width = "5%" ><%=  credito.serie %></td>
                    <td width = "5%" ><%=  credito.numero  %></td>
                    <td width = "28%" align ="left"><%= credito.get_cliente(credito.cod_cli)   %></td>
                    <td width = "8%" align ="left"><%= credito.odometro    %></td>
                    <td width = "2%" align ="left"><%= credito.cod_prod    %> </td>
                    <td width = "15%" align ="left"><%= credito.get_product_name(credito.cod_prod)    %> </td>
                    
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",credito.cantidad.to_s)%></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",credito.precio)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",credito.importe)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",credito.implista.to_s)   %></td>

                    </tr>
                    
                    <% total_0 += credito.cantidad %>
                    <% total_1 = total_1 + credito.importe.to_f %>
                    <% total_2 = total_2 + credito.implista  %>
                    <% xcod = credito.cod_prod %>
                    
                    
         <%end %>
      
    </table>
    
  
   
    <hr>
    
    <% total0 += total_0 %>
    <% total1 += total_1 %>
    <% total2 += total_2 %>
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
            
            <tr>
            <td width= "76%" align ="right">  TOTAL VENTAS            : </td>
            <td width= "8%" align ="right" ><%= sprintf("%.2f",total0) %> </td>
            <td width= "8%" align ="right" ><%= sprintf("%.2f",total1) %> </td>
            <td width= "8%" align ="right" ><%= sprintf("%.2f",total2) %> </td>
            
              </tr>
            
    </table>
    
    
    
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      
      <% totalf_1 =  0%>
      <% totalf_2 =  0%>
      <% totalf_3 =  0%>
      
      <% fecha10 = "#{@fecha1}" %>
      <% fecha20 = "#{@fecha2}" %>
      
       <% for  contado in @total_factura_out_fecha_detalle2 %>
       
       <%if contado.total > 0 %>
       
        <%@factura_details = contado.factura_details %>
         
       <%  @factura_details.each do |quote| %>
       
       <% if quote.sellvale != nil %>
       
       <% fecha_factura =  quote.sellvale.fecha  %>
       
       <% if fecha_factura != "" %>
       <% if fecha_factura != nil%>
       
               <% if fecha_factura.to_date < fecha10.to_date or fecha_factura.to_date > fecha20.to_date %>       
                  <tr>
                    <td width= "5%" ><%=  quote.sellvale.fecha.strftime("%d/%m/%Y")  %></td>
                    <td width= "23%" > <%= truncate(quote.sellvale.get_customer_name(quote.sellvale.cod_cli), :length => 30)  %>   </td>
                    <td width= "3%" > <%=  quote.sellvale.serie %>   </td>
                    <td width = "5%" align ="right"><%= quote.sellvale.numero    %></td>
                    <td width = "3%" align ="right"><%= quote.sellvale.cod_prod    %> </td>
                    <td width = "10%" align ="left"><%= quote.sellvale.get_product_name(quote.sellvale.cod_prod)    %> </td>
                    <td width = "5%" align ="right"><%= quote.sellvale.odometro %></td>
                    <td width = "5%" align ="right"><%= quote.sellvale.placa %></td>
                    
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",quote.sellvale.cantidad.to_s)%></td>
                    <td width = "8%"  align ="right"><%= sprintf("%.2f",quote.sellvale.precio)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.3f",quote.sellvale.importe)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",quote.sellvale.implista.to_s)   %></td>
                    <td width = "10%" align ="left"><%= quote.sellvale.get_vale_facturado   %> </td>
                    <td width = "10%" align ="left"><%= quote.sellvale.id   %> </td>
                    
                    <% if quote.sellvale.get_vale_facturado_fecha != ""%>
                    <td width = "10%" align ="left"><%= quote.sellvale.get_vale_facturado_fecha.strftime("%d/%m/%Y")   %> </td>
                    
                    <%end %>
                    </tr>
            
                    <% totalf_1 +=  quote.sellvale.importe.to_f %>
                    <% totalf_2 +=  quote.sellvale.implista  %>
                    <% totalf_3 +=  quote.sellvale.cantidad %>
         <%end %>         
         <%end %>
         <%end %>
         <%end %>
         <%end %>
         <%end %>
         <%end %>
         <% @total_factura_out = totalf_1 %>
         
        <hr>  
     </table>
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="80%"> TOTAL  :   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",totalf_3) %>   </td>
    <td width="10%" align='right'>   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",totalf_1) %>   </td>
    <td width="10%" align='right'><%= sprintf("%.2f",totalf_2) %>    </td>
  </tr>
  
  
  </table>
     
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="100%"> COBRANZAS  </td>
  </tr>
  
  </table>
     
  
    <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
      
      <% total_bancos_soles = 0 %>
      <% total_bancos_soles1 = 0 %>
      <% total_bancos_dolar = 0 %>
      
      <%  @customerpayment = @company.get_customer_payments_3(@fecha1,@fecha2)  %>
      
       <% for productItem in  @customerpayment %>
       
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>           
      <tr>
        <td width= "5%" align ="left">
          <%=  productItem.code_liq %>
        </td>
        <td width= "10%" align ="left">
          <%=  productItem.bank_acount.number  %>
        </td>
        
        <td width= "10%" align ="left">
          <%=  productItem.fecha1.strftime("%d/%m/%Y")      %>
        </td>
         
        <td width= "8%" align ="left">
          <%=  productItem.code    %>
        </td>
        
        <% @cliente_obs = productItem.get_cliente(productItem.customer_id) %>
        <td width= "25%" align ="left">
              <%= @cliente_obs.name %>
        </td>          
        
        <% monedabanco= productItem.get_banco_moneda(productItem.bank_acount_id) %>
        
        <%  if monedabanco == "1" %>  
        
          <td  width= "10%" align ="right">
            0.00
          </td>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <% total_bancos_dolar += productItem.total %>
        <% else%>
          <td  width= "10%" align ="right">
            <%= sprintf("%.2f",productItem.total) %>
          </td>
          <td  width= "10%" align ="right">
            0.00
          </td>
          
          <% total_bancos_soles += productItem.total %>
        <% end %>
      </tr>  
        
      <% end %>
        
    </table>
    
  <table style='font-family:"Courier New", Courier, monospace; font-size:100% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width="80%"> TOTAL A BANCOS   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",total_bancos_soles) %>   </td>
    <td width="10%" align='right'> <%= sprintf("%.2f",total_bancos_dolar) %>   </td>
  </tr>
  
  </table>
  
  
      </body>
    
      </html>
      