<p id="notice"><%= notice %></p>

<p>
  <strong>Tanque:</strong>
  <%= @varillaje.tanque_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @varillaje.product_id %>
</p>

<p>
  <strong>Inicial:</strong>
  <%= @varillaje.inicial %>
</p>

<p>
  <strong>Compras:</strong>
  <%= @varillaje.compras %>
</p>

<p>
  <strong>Directo:</strong>
  <%= @varillaje.directo %>
</p>

<p>
  <strong>Consumo:</strong>
  <%= @varillaje.consumo %>
</p>

<p>
  <strong>Transfe:</strong>
  <%= @varillaje.transfe %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @varillaje.saldo %>
</p>

<p>
  <strong>Varilla:</strong>
  <%= @varillaje.varilla %>
</p>

<p>
  <strong>Dife dia:</strong>
  <%= @varillaje.dife_dia %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @varillaje.fecha %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @varillaje.documento %>
</p>

<%= link_to 'Edit', edit_varillaje_path(@varillaje) %> |
<%= link_to 'Back', varillajes_path %>
