<html>
<body>
    
  
  <h5 ><center> Venta Detallado     Fecha: <%= @fecha1  %>  Hasta <%= @fecha2 %></center></h5>
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <td width="5%"> Fecha </td>
    <td width="5%"> Serie</td>
    <td width="5%"> Numero  </td>
    <td width="5%"> Cod.Cliente</td>
    <td width="25%"> Cliente</td>
    <td width="5%"> Nro.Vale </td>
    <td width="5%"> Producto </td>
    <td width="8%"> Cantidad </td>
    <td width="8%"> Precio</td>
    <td width="8%"> Importe </td>
   
    
  </tr>
  </table>


  
  <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      
       <% for  credito in @facturas   %>
                  <tr>
                    <td width = "5%" ><%=  credito.fecha.strftime("%d/%m/%Y")%>
                    <td width = "5%" ><%=  credito.serie   %></td>
                    <td width = "5%" ><%=  credito.numero  %></td>
                    <td width = "5%" align ="left"><%= credito.cod_cli   %></td>
                    <td width = "25%" align ="left"><%= credito.get_cliente(credito.cod_cli)   %></td>
                    <td width = "5%" align ="left"><%= credito.odometro    %></td>
                    <td width = "2%" align ="left"><%= credito.cod_prod    %> </td>
                    <td width = "8%" align ="left"><%= credito.get_product_name(credito.cod_prod)    %> </td>
                    <td width = "8%" align ="right"><%=  sprintf("%.2f",credito.cantidad.to_s)%></td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",credito.precio)   %></td>
                    <td width = "8%" align ="right"><%= sprintf("%.3f",credito.importe)   %></td>
                  
                    </tr>
                    <% total_1 +=  credito.importe.to_f %>
                    <% total_2 +=  0 %>
                    
                    
         <%end %>
         
                  
               
        <hr>  
     </table>
     
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
     <tr>
          <td width = "80%" align ="right">Total Ventas</td>
          <td width = "10%" align ="right"><%=%></td>
          <td width = "10%" align ="right"><%= sprintf("%.2f",total_1)   %></td>
    </tr>
   </table>
         
    
    
    </body>
      
      </html>
      