<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "supplierpayments", "/companies/supplierpayments/#{@company.id}" %> &raquo;
  <%= link_to @supplierpayment.identifier, @supplierpayment %>
</div>

<h1>
  <%= image_tag("supplierpayment_48.png", :class => "vmiddle") %>
  Editing supplierpayment
</h1>

<p>
  To modify the supplierpayment, please fill out the following form.  Fields marked with <strong>*</strong> are required.
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Show', @supplierpayment %>
  <%= link_to 'Back', "/companies/supplierpayments/#{@company.id}" %>
</div>