<p id="notice"><%= notice %></p>

<h1>Listing Type Payrolls</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Descrip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_payrolls.each do |type_payroll| %>
      <tr>
        <td><%= type_payroll.code %></td>
        <td><%= type_payroll.descrip %></td>
        <td><%= link_to 'Show', type_payroll %></td>
        <td><%= link_to 'Edit', edit_type_payroll_path(type_payroll) %></td>
        <td><%= link_to 'Destroy', type_payroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type payroll', new_type_payroll_path %>
