<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @type_payroll.code %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @type_payroll.descrip %>
</p>

<%= link_to 'Edit', edit_type_payroll_path(@type_payroll) %> |
<%= link_to 'Back', type_payrolls_path %>
