<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h3>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Resumen planilla 
</h3  >

<%= form_tag(reporte_asistencia3_facturas_path, :method => "get") do %>

<table>
    <tr>
      <td>
        <div class="field">
            <input id="check_empleado" name="check_empleado" type="checkbox" value="true" checked />
          <div class="small">
            Todos los empleados 
          </div>
        </div>
      </td>
     
     <td>
    
      <div class="field">

        <h5>  Empleado</h5>

        <%= select_tag(:employee_id,options_from_collection_for_select(@employees,'id','full_name2'),
        :id => "empleado_select"  ) %>
      
       

      </div>

    </td>

  </tr>
</table>




  <div class="field">
    <input type="date" name="fecha1" value="2020-01-01" style = "width: 150px" >
  </div>
  <div class="field">
    <input type="date" name="fecha2" value="2020-01-01" style = "width: 150px" >
  </div>

  
<br> 


 <%= submit_tag "To PDF", :name => "print" %>
 <%= submit_tag "To Excel", :name => "print" %>

<% end %>



<br />


<div class="button">
  <%= link_to 'Regresar', "/companies/faqs/#{@company.id}" %>


</div>


<script>

$(document).ready(function() {

 if ($('#check_empleado').is(":checked")) {
      $('#empleado_select').attr('disabled', true); //disable input
   }
   else {
      $('#empleado_select').removeAttr('disabled'); //enable input
   }
   
   
   $('#check_empleado').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#empleado_select').attr('disabled', true); //disable input

        } else {
             $('#empleado_select').removeAttr('disabled'); //enable input
            
        }
    });


  });

  
  </script>
  
