<html>
<body>
  <h6 ><center>  Desde: <%= @fecha1 %> Hasta: <%= @fecha2 %> </center>   </h6>

  <table style='font-family:"Courier New", Courier, monospace; font-size:60% ;width:100%'>
    <tr bgcolor="#B4D7F7">
    <td width="5%"> Tanque  </td>
    <td width="10%"> Producto  </td>
    <td width="10%"> Inicial</td>
    <td width="10%">  Compras </td>
    <td width="4%"> Directo</td>
    <td width="10%"> Venta</td>
    <td width="10%"> Stock Final </td>
    <td width="10%"> Medicion</td>
    <td width="8%"> Dife_dia </td>
    <td width="8%"> Dife_mes </td>
    <td width="8%"> Dife_cont </td>
    <td width="10%"> Ventas S/.</td>
    
  </tr>
  </table>

  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:60% ;width:100%'>
      <% nroitem = 1%>
      <% @cantidad1 =  0%>
      <% @cantidad2 =  0%>
      <% @cantidad3 =  0%>
      <% @cantidad4 =  0%>
      <% @cantidad5 =  0%>
      <% @cantidad6 =  0%>
      
      <% if @tanques %>

          <% for tanques  in @tanques %>

            <tr bgcolor="#B4D7F7">
             <td width= "8%" > <%= tanques.product.code   %></td>
             <td width= "4%" > <%= tanques.product.name  %> </td>
             
            </tr>
          <% @varillas = @varillaje.first.get_varilla(@fecha1,@fecha2,tanques.id ) %> 
             <%if @varillas %>      
            <% for  varillas  in @varillas %>

              <%total1 = 0 %>

               <td width= "8%" > <%= varillas.fecha.strftime("%d-%m-%Y") %></td>                
               <td width= "4%" > <%= varillas.get_varilla(varillas.date2,tanques.id ) %></td>
               <td width= "6%" >  </td> 
               <td width= "10%" >  </td>                           
               
               <td width= "6%" > <%=  %> </td>
                <% qty_ingreso = varillas.get_ingresos(varillas.date2,varillas.tanque.id) %>    

                <td width= "7%" align="right" > <%= sprintf("%.2f",qty_ingreso.to_s)  %> </td>
                <td width= "7%" align="right"><%= %> </td>

                <% total1 = varillas.varilla - qty_ingreso  %>

                <td width= "7%" align="right"> <%=sprintf("%.2f",total1.to_s)%> </td>
                <td width= "7%" align="right"> </td>
                <td width= "7%" align="right"> </td>
                <td width= "7%" align="right"> </td>
                <%total2 = 0%>

             <% end %>
            
            <% end  %>
            <% end  %>
            
        <%end  %>
       
     </table>
      
    </body>
      
 </html>