<html>
<body>
  
<% for  b in @planilla %>    
<div style="width:800px;height:575px;border:1px solid #000;">

<table style='font-family:"Arial", Courier, monospace; font-size:80% ;width:100%'>
  <tr>
    <td style=  'width:30%'>TRANSPORTES PEREDA SRL</td>
    <td style=  'width:40%'> </td>
    <td style=  'width:30%' style='font-weight:bold;font-size:75%' >D.S.N.020-2008</td>
  </tr>      
  <tr>
    <td style='font-weight:bold;font-size:75%;width:30%' >Jr.Victor Reinel Nro.187 Lima</td>
    <td style=  'width:40%'> </td>
    <td style=  'width:30%'> </td>
  </tr>      
  
  <tr >
    <td style='font-weight:bold;font-size:75%;width:30%' >Ruc 20424092941</td>
    <td style='font-weight:bold;font-size:100%;width:30% '>BOLETA DE REMUNERACIONES</td>
    <td style='font-weight:bold;font-size:70%;width:30% '>Fecha de Pago: </td>
  </tr>
  
  </table>
  
  
  <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
      
  <tr >
    <td style='font-weight:bold;width:16%'>Codigo : </td>
    <td style='width:16%' > <%=  b.employee.idnumber %> </td>
    <td style='font-weight:bold;width:16%'>Fecha Ingreso : </td>
    <td style='width:16%'><%= b.employee.fecha_ingreso.strftime("%d/%m/%Y") %> </td>
    <td style='font-weight:bold;width:10%'>Dias Lab.: </td>
    <td style='width:10%' ><%= b.totaldia %> </td>    
  </tr>
  <tr >
    <td style='font-weight:bold;width:8%'>Trabajador</td>
    <td style='width:22%;font-size:80%'><%= b.employee.lastname << " " << b.employee.firstname %> </td>
    <td style='font-weight:bold;width:16%'>Fecha Cese : </td>
    <% if b.employee.fecha_cese != nil %>
    <td style='width:16%' > <%= b.employee.fecha_cese.strftime("%d/%m/%Y") %></td>
    <% else %>
    <td style='width:16%' >  </td>
    <% end %>
    <td style='font-weight:bold;width:10%'>Dias subs. </td>
    <td style='width:10%' > <% b.subsidio %> </td>    
  </tr>
  <tr >
    <td style='font-weight:bold;width=16%'>Tipo/Categoria Trab. : </td>
    <td style='width:16%' > Empleado </td>
    <td style='font-weight:bold'>Periodo Vacacional : </td>
    <td style='width:16%' >  </td>
    <td style='font-weight:bold'>Dias no Lab. </td>
    <td style='width:16%' > <%= b.falta %> </td>    
  </tr>
  <tr >
    <td style='font-weight:bold'>Area</td>
    <td style='width:16%;font-size:80%'> <%= b.employee.division.name%>  </td>
    <td style='font-weight:bold'> Inicio Vac. </td>
    <td style='width:16%' > </td>
    <td style='font-weight:bold'>Dias Vac. </td>
    <td style='width:10%' > <%= b.vaca %> </td>    
  </tr>
  <tr >
    <td  style='font-weight:bold'>Centro de Costos</td>
    <td style='width:16%' >  </td>
    <td style='font-weight:bold'>Fin.Vacac.</td>
    <td style='width:16%'></td>
    <td  style='font-weight:bold'>Nro.Horas ord. </td>
    <td style='width:16%' > </td>    
  </tr>
  <tr >
    <td style='font-weight:bold'>Cargo</td>
    <td style='width:16%;font-size:80%' > <%= b.employee.ocupacion.name %> </td>
    <td style='font-weight:bold'>Reg.Pensionario </td>
    <td style='width:16%' > </td>
    <td style='font-weight:bold'>N.Hs.Ext.25% : </td>
    <td style='width:16%'><%= b.hextra0 %> </td>    
  </tr>
  <tr >
    <td style='font-weight:bold'>Tipo Documento </td>
    <td style='width:16%' > DNI: <%= b.employee.idnumber %>  </td>
    <td style='font-weight:bold'>CUSSPP </td>
    <td style='width:16%'> <%= b.employee.carnet_seguro %></td>
    <td style='font-weight:bold'>N.Hs.Ext.35% </td>
    <td style='width:16%' ></td>    
  </tr>
  <tr >
    <td style='font-weight:bold'>Fec.Nacimiento </td>
    <td style='width:16%' ><%= b.employee.fecha_nacimiento.strftime("%d/%m/%Y")%> </td>
    <td style='font-weight:bold'> </td>
    <td style='width:16%' >  </td>
    <td style='font-weight:bold'>N.Hs.Ext.100% </td>
    <td style='width:16%' > </td>    
  </tr>
  
  <tr >
    <td style='font-weight:bold'>Regimen Laboral </td>
    <td style='width:16%;font-size:80%'> PRIVADO GENERAL - D. LEG. N.728 </td>
    <td style='font-weight:bold'>Sit.Especial </td>
    <td style='width:16%' >  NINGUNO</td>
    <td style='font-weight:bold'>Rem.Mensual : </td>
    <td style='width:16%' > <%= b.remuneracion %> </td>    
  </tr>
  
  </table>
  
  <hr>
  <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
  	<tr>
  	<td width ="33%" align="center"> INGRESOS</td>
  	<td width ="33%" align="center"> DESCUENTOS</td>
  	<td width ="33%" align="center"> APORTACIONES EMPLEADOR</td>
  	</tr>
  </table>
  <hr>     
  
     <% if b.employee.onp == "1"%>
        
       <% $lcOnp = b.calc5.to_s %>
      <%else%>
      
        <% $lcAporteAfp0   = b.aporte0.to_s %>
        <% $lcSeguroAfp0   = b.seguro0.to_s %>
        <% $lcComisionAfp0 = b.comision0.to_s %>
      
        <% $lcAporteAfp   = b.aporte.to_s %>
        <% $lcSeguroAfp   = b.seguro.to_s %>
        <% $lcComisionAfp = b.comision.to_s %>
        
      <% end %>
         
         <!--#fila 2-->
         
      <% if b.calc1 > 0 %>
      
      <% $lcAsignacionFamiliar = b.calc1.to_s %>
      <% else %>
      
      <% $lcAsignacionFamiliar = ""  %>
      <% end %>
      
      <%  if b.hextra0 > 0 %>
        
         <% $lcHorasExtras = b.hextra0.to_s %>
      <%  else %>
         <% $lcHorasExtras = 0    %>
      <%  end %>
            
      <!--#fila 4-->
     
     
        
        <% if b.vaca > 0 %>
          <% $lcVaca = b.vacaciones %>
        <% else %>
          <% $lcVaca = 0 %>
        <% end %>
         
        <% if b.calc4 > 0 %>
        <%  $lcQuinta =  b.calc4 %>
        <% else%>
        <% $lcQuinta = 0 %>
        <% end %>
        
        
        <% if b.desmed > 0 %>
          <% $lcDesMed = b.desmedico %>
        <% else %>
        <% $lcDesMed = 0%>
          
        <% end %>
        <% if b.faltas >0       %>
           <% $lcFaltas = b.faltas %>
        <% else %>
           <% $lcFaltas = 0 %>
        <% end %>
        
      <!--#fila 6-->
      
        
        <% if b.subsidio > 0 %>
          <% $lcSubsidio = b.subsidio0 %>
        <% else %>
          <% $lcSubsidio = 0 %> 
        <% end%>
        <% if b.reintegro > 0 %>
          <% $lcReintegro = b.reintegro %>
        <% else %>
          <% $lcReintegro = 0%> 
        <% end%>
        
        
        <% if b.calc7 > 0 %>
          <% $lcAdelanto =  b.calc7 %>
        <% else%>
          <% $lcAdelanto =  0%>
        <% end %>
        
      <!--#fila 7-->
      
        
        <% if b.otros > 0 %>
          <% $lcOtros = b.otros %>
        <% else%>
          <% $lcOtros = 0 %>
        <% end %>
          
      
    
    <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
    	      
    <tr>
    <td width = "16.5%">Remuneraci&oacuten B&aacutesica </td>
    <td width = "16.5%" align="right"><%= sprintf("%.2f",b.basico) %></td>
    
    <% if b.employee.onp == "0"%>
    <td width = "20%" >AFP. Aportaci&oacuten Obligator  </td>
    <td width = "10%"><%= sprintf("%.2f",$lcAporteAfp0) %> </td>
    <td width = "10%" align="right"><%= sprintf("%.2f",$lcAporteAfp) %></td>
    <%else%>    
    <td width = "20%" > O.N.P.  </td>
    <td width = "10%"> </td>
    <td width = "10%" align="right"><%= sprintf("%.2f",$lcOnp) %></td>
    
    <% end %>
    <td width = "20%">EsSalud </td>
    <td width = "10%">9%</td>
    <td width = "10%" align="right"><%= sprintf("%.2f",b.total3) %></td>
    </tr>
    
	<tr>
	  <% if b.calc1 > 0 %>
    <td width = "16.5%">Asignaci&oacuten Familiar </td>
    <td width = "16.5%" align="right"><%= sprintf("%.2f",b.calc1)  %> </td>
    <% else %>
    <td width = "16.5%">  </td>
    <td width = "16.5%" align="right"> </td>
    
    
    <% end  %>
    <% if b.employee.onp == "0"%>
    <td width = "20%" >AFP. Seguro de Vida  </td>
    <td width = "10%"><%=  sprintf("%.2f",$lcSeguroAfp0) %></td>
    <td width = "10%" align="right"><%=  sprintf("%.2f",$lcSeguroAfp)  %></td>
    <% else %>
    <td width = "20%" >   </td>
    <td width = "10%"> </td>
    <td width = "10%" align="right"> </td>
    
      <% end %>    
    <td width = "20%"> </td>
    <td width = "10%"> </td>
    <td width = "10%"> </td>
    </tr>
    
    
    <tr>
    <% if $lcVaca > 0 %>  
    <td width = "16.5%"> Vacaciones </td>
    <td width = "16.5%" align="right" ><%=  sprintf("%.2f",$lcVaca.to_s) %></td>
    <% else%>  
    <td width = "16.5%"> </td>
    <td width = "16.5%" align="right" > </td>
    
    <% end%>  
      <% if b.employee.onp == "0"%>
    <td width = "20%">AFP. Comisi&oacuten sobre la RA  </td>
    <td width = "10%"> <%= sprintf("%.2f",$lcComisionAfp0) %></td>
    <td width = "10%" align="right"> <%= sprintf("%.2f",$lcComisionAfp) %></td>
        <% end %>  
    <td width = "20%"> </td>
    <td width = "10%"> </td>
    <td width = "10%"> </td>
    </tr>
    
    <tr>
    <% if $lcDesMed > 0%>  
    <td width = "16.5%"> Descanso Medico </td>
    <td width = "16.5%" align="right"> <%= sprintf("%.2f",$lcDesMed.to_s) %>  </td>
    <%else%>
    <td width = "16.5%">  </td>
    <td width = "16.5%" align="right">   </td>
    
    <%end %>
    
    <% if b.faltas > 0%>  
    <td width = "20%" >Inasistencia  </td>
    <td width = "10%"></td>
    <td width = "10%" align="right"><%= sprintf("%.2f",b.faltas.to_s) %> </td>
    <%else%>
    <td width = "20%" > </td>
    <td width = "10%"> </td>
    <td width = "10%" align="right"> </td>
    
    <%end %>
    <td width = "20%"> </td>
    <td width = "10%"> </td>
    <td width = "10%"> </td>
    </tr>
    <tr>
    <% if  $lcSubsidio > 0%>  
    <td width = "16.5%">Subsidio </td>
    <td width = "16.5%" align="right"><%= sprintf("%.2f",$lcSubsidio.to_s) %></td>
    <% else %>
    <td width = "16.5%"> </td>
    <td width = "16.5%" align="right"> </td>
    
    <% end %>
    
    <% if  $lcQuinta > 0%>  
    <td width = "20%" >Quinta Categoria  </td>
    <td width = "10%"> </td>
    <td width = "10%" align="right"> <%= sprintf("%.2f",$lcQuinta.to_s) %></td>
      <% else %>
    <td width = "20%" >   </td>
    <td width = "10%"> </td>
    <td width = "10%" align="right">  </td>
    
    <% end %>
    <td width = "20%"> </td>
    <td width = "10%"> </td>
    <td width = "10%"> </td>
    </tr>
    <tr>
      
    <% if  $lcReintegro > 0%>    
    <td width = "16.5%"> Reintegro</td>
    <td width = "16.5%" align="right"><%= sprintf("%.2f",$lcReintegro.to_s) %> </td>
    <% else %>
    <td width = "16.5%"> </td>
    <td width = "16.5%" align="right">  </td>
    
    <% end %>
    <% if  $lcAdelanto > 0%>  
    <td width = "20%" >Adelantos  </td>
    <td width = "10%"> </td>
    <td width = "10%" align="right"><%= sprintf("%.2f",$lcAdelanto.to_s) %> </td>
    <% else %>
    <td width = "20%" >  </td>
    <td width = "10%"> </td>
    <td width = "10%" align="right">  </td>
    
    <% end %>
    <td width = "20%"> </td>
    <td width = "10%"> </td>
    <td width = "10%"> </td>
    </tr>
    
    <tr>
    <td width = "16.5%"> </td>
    <td width = "16.5%"> </td>
    <% if  $lcOtros > 0 %>    
    <td width = "20%" >Otros  </td>
    <td width = "10%"> </td>
    <td width = "10%"align="right"><%= sprintf("%.2f",$lcOtros) %> </td>
    <% else %>    
    <td width = "20%" >   </td>
    <td width = "10%"> </td>
    <td width = "10%"align="right">  </td>
    
    <% end %>
    <td width = "20%"> </td>
    <td width = "10%"> </td>
    <td width = "10%"> </td>
    </tr>
    
    <tr>
    <td width = "16.5%"> </td>
    <td width = "16.5%"> </td>
    
    <td width = "20%" >   </td>
    <td width = "10%"> </td>
    <td width = "10%">  </td>
        
    <td width = "20%"> </td>
    <td width = "10%"> </td>
    <td width = "10%"> </td>
    </tr>
  </table>
  <hr>
  <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
  	<tr>
  	<td width ="33%" align="center"> TOTAL INGRESOS S/.<%= sprintf("%.2f",b.totingreso.to_s) %> </td>
  	<td width ="33%" align="center"> TOTAL DESCUENTOS S/.<%= sprintf("%.2f",b.total2.to_s) %></td>
  	<td width ="33%" align="center"> TOTAL APORTACIONES S/.<%= sprintf("%.2f",b.total3.to_s) %></td>
  	</tr>  	
  </table>
  <hr>   
  <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
  	<tr>
  	<td width ="33%" align="center"> </td>
  	<td width ="33%" style='font-weight:bold' align="center"> NETO A PAGAR S/. <%=sprintf("%.2f",b.remneta.to_s) %> </td>
  	<td width ="33%" align="center"></td>
  	</tr>  	
  </table>
  
  <table style='font-family:"Arial", Courier, monospace; font-size:60% ;width:100%'>
  	<tr>
  	<td width ="33%" align="center"> _______________</td>
  	<td width ="33%" align="center"> </td>
  	<td width ="33%" align="center"> _______________ </td>  	
  	</tr>  	
  	<tr>
  	<td width ="33%" align="center"> EMPLEADOR  </td>
  	<td width ="33%" align="center"> </td>
  	<td width ="33%" align="center"> RECIBI CONFORME </td>  	
  	</tr>  	
  	<tr>
  	<td width ="33%" align="center">  </td>
  	<td width ="33%" align="center"> </td>
  	<td width ="33%" align="center"> TRABAJADOR </td>  	
  	</tr>  	
  	
  	
  	<tr>
  	 <td> </td>
  	 <td> </td>
  	 <td> . </td>
  	</tr>
  	<tr>
  	 <td> </td>
  	 <td> </td>
  	 <td> . </td>
  	</tr>
  	
  </table>
    
</div>

<p> 






</p>
<% end %>
</body>

</html>
