<p id="notice"><%= notice %></p>

<h1>Planillas </h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Planilla </th>
      
      <th>Fecha</th>
      <th>Fecha inicial</th>
      <th>Fecha Final </th>
      <th>Fecha Pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payrolls.each do |payroll| %>
      <tr>
        <td><%= payroll.code %></td>
        <td><%= payroll.type_payroll %></td>
        
        <td><%= payroll.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= payroll.fecha_inicial.strftime("%d/%m/%Y") %></td>
        <td><%= payroll.fecha_final.strftime("%d/%m/%Y") %></td>
        <td><%= payroll.fecha_pago.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Ver', payroll %></td>
        <td><%= link_to 'Editar', edit_payroll_path(payroll) %></td>
        <td><%= link_to 'Eliminar', payroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Planilla', new_payroll_path %>
<%= link_to 'Regresar', "/companies/planilla/1" %>