
<%= form_tag  editmultiple_payroll_payroll_details_path(@payroll.id), method: :put do %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @payroll.code %>
</p>

<p>
  <strong>Type payroll:</strong>
  <%= @payroll.type_payroll %>
</p>


<p>
  <strong>Fecha registro:</strong>
  <%= @payroll.fecha.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Fecha inicial :</strong>
  <%= @payroll.fecha_inicial.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Fecha final :</strong>
  <%= @payroll.fecha_final.strftime("%d/%m/%Y") %>
  </p>

<p>
  <strong>Fecha pago :</strong>
  <%= @payroll.fecha_pago.strftime("%d/%m/%Y") %>
</p>
<div class="button">
<%= link_to 'Generar', "/payrolls/do_process/#{@payroll.id}" %> 
<%= link_to 'Actualizar.', "/payrolls/do_update/#{@payroll.id}" %> 
<%= link_to 'Resumen - Pdf', "/payrolls/do_pdf2/#{@payroll.id}" %>
<%= link_to 'Boletas - Pdf', "/payrolls/do_pdf3/#{@payroll.id}" %>

<%= link_to 'Editar', edit_payroll_path(@payroll) %> 
<%= link_to 'Regresar', payrolls_path %>

<%= select_tag :field, options_for_select([["Dias Laborados", ""], ["Falta", "falta"], ["Vacaciones", "vaca"], ["Descanso Medico", "desmed"], ["Subsidio", "subsidio"]]), style: 'width: 120px'  %>
<%= submit_tag "Editar solo marcados" %>


  
</div>

<h3>
  Detalle
</h3>

<table>
  <thead>
    <tr>
      <th>
        Editar 
      </th>  
      <th   style="width: 15%">
        Empleado 
      </th>
      <th>
        Sueldo.<br>
        Bruto
      </th>
        <th>
        Horas.<br>
        Extras
      </th>
      
      <th>
        Dias<br>
      </th>
      <th>
        Sueldo.<br>
        Basico
      </th>
      
      
      <th>
         Asign.<br>
         Familiar
      </th>
      <th>
        Horas<br>
        Extras
        
      </th>
      <th>
        Vacac.<br>
        
      </th>
      <th>
        Descanso.<br>
        Medico
      </th>
      <th>
        Subsidio<br>
        
      </th>
      
      <th>
        Reintegro.<br>
        
      </th>
      
      <th>
        Total.<br>
        Ingreso
      </th>
      
      <th>
        Total<br>
        Remun.
      </th>
      
      <th>
        ONP.<br>
        
      </th>
      <th>
        Aporte<br>
        
      </th>
      <th>
        Seguro<br>
        
      </th>
      <th>
        Comision<br>
        
      </th>
      
      <th>
        Renta.<br>
        Quinta
      </th>
      <th>
        Faltas.<br>
        
      </th>
      
      <th>
        Adelanto<br>
        
      </th>
      <th>
        Otros <br>
      </th>
      
      <th>
        Total<br>
      
      </th>
      <th>
        Remun.<br>
        Neta
      </th>
      <th>
        ESSALUD.<br>
        
      </th>
    
      
      <th>
        Total<br>
        Aporte 
      </th>
    
      
    </tr>
  </thead>
  <tbody>


    <%  @payroll_details.each do |detalle| %>
    <tr>
          
           <td class="bordered_right bordered_bottom right">
            <%= check_box_tag "planilla_ids[]", detalle.id  %>
          </td>  
          
          <td class="small bordered_bottom bordered_right">
            <%= link_to detalle.employee.full_name, detalle.employee, :title => "Ir a Empleado"  %>
            
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= detalle.remuneracion %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.hextra %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.dias %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.basico %>              
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= detalle.calc1 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.hextra0 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.vacaciones %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.desmedico %>                
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.subsidio0 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.reintegro %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.totingreso %>              
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= detalle.total1 %>              
          </td>
          
          <td class="small bordered_bottom <bordered></bordered>_right">
            <%= detalle.calc5 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.aporte %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.seguro %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.comision %>              
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= detalle.calc4 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.faltas %>              
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= detalle.calc7 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.otros %>              
          </td>
          
          
          <td class="small bordered_bottom bordered_right">
            <%= detalle.total2 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.remneta %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= detalle.calc8 %>              
          </td>
          
         
          <td class="small bordered_bottom bordered_right">
            <%= detalle.total3 %>              
          </td>
          
          
          
          
          
    </td>
    
    <% end %>

</tbody>
</table>


<br />


<%end %>
