<div class="mid_box bordered_right">
  <%= form_for(@purchase) do |f| %>
    <h3>
       Informacion Factura 
    </h3>

    <div class="field">
    
      <label for="ac_supplier" class="bold">Proveedor*</label><br />
      <input type="text" name="ac_supplier" id="ac_supplier" value="<% if @ac_supplier %><%= @ac_supplier %><% end %>" />
      
      <div class="small">
      <a href="#" onclick="createSupplierPurchase(); return false;">+ Crear nuevo proveedor</a>
      </div>

      <div class="small">
        Ingrese una termino de busqueda para encontrar un proveedor
      </div>

      <br />

      <div class="small">
        <strong>Seleccionar proveedor:</strong>

        <span id="selected supplier"><% if @ac_supplier %><%= @ac_supplier %><% else %><!-- i --><% end %></span>

      </div>
    </div>
    <div class="field">
      <%= f.label :document_id,"Documento" %><br />
      <%= f.select :document_id, options_from_collection_for_select(@documents,'id','description')%>
    </div>
    <div class="field">
      <%= f.label :tiponota,"Tipo Movimiento" %><br />
      <%= select_tag(:tiponota, options_for_select([["Normal",1],["Anulacion Factura",2],["Descuento por item",3]], params[:option] ), class:"select") %>
    </div>
    
      
    <div class="field">
      <%= f.label :documento, "Nro Documento *", :class => "bold" %><br />
      <%= f.text_field :documento %>
    </div>
    <div class="field">
      <%= f.label :date1, "Fecha Emision*", :class => "bold" %><br />
      <%= f.date_field :date1 , value: Date.today.strftime("%d/%m/%Y") , min: Date.new($yy, $mm, $dd) %>
    </div>

    <div class="field">
      <%= f.label :date2, "Fecha Entrega*", :class => "bold" %><br />
      <%= f.date_field :date2, value: Date.today.strftime("%d/%m/%Y") %>
    </div>


    <div class="field">
      <%= f.label :payment_id,"Forma de Pago " %><br />
      <%= f.select :payment_id, options_from_collection_for_select(@payments,'id','descrip')%>
    </div>
    <div class="field">
      <%= f.label :date3, "Fecha Vmto*", :class => "bold" %><br />
      <%= f.date_field :date3, value: Time.now.strftime("%d/%m/%Y")  %>
    </div>quit    


    <div class="field">
      <%= f.label :moneda_id ,"  "%><br />
      <%= f.select :moneda_id, options_from_collection_for_select(@monedas,'id','description'),selected: '1' %>
    </div>
    <div class="field">
      <%= f.label :participacion ,"  "%><br />
      <%= f.number_field :participacion, class: :text_field, step: :any %>
    </div>
    
      
    <%= hr() %>
    
    <div class="field" id="list_items">
      <p class="bold big">Productos:</p>
    </div>
    
    <%= hr() %>
  
    <div class="field">
      <%= f.check_box :processed %>
      <%= f.label :processed, "Procesar Factura", :class => "bold" %>
      <div class="small">
        Marcas de tiempo o no esta factura se ha pagado y que pueden deducir las cantidades de productos y contar hacia el total del mes.
      </div>
    </div>
  
    <div class="field">
      <%= f.check_box :return %>
      <%= f.label :return, :class => "bold" %>
      <div class="small">
        Es una orden de devolución?
      </div>
    </div>
    
    <%= hr() %>
    
    <div class="field">
      <label for="ac_user" class="bold">Vendedor*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
        Introduzca un término de búsqueda para encontrar a un usuario .
      </div>
      <br />

      <div class="small">
        <strong>Seleccionar vendedor:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>
    </div>
  
    <%= hr() %>
  

    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @products_lines %><%= @products_lines %><% end %>" />
      <%= f.hidden_field :user_id, :id => "ac_user_id" %>
      <%= f.hidden_field :supplier_id, :id => "ac_supplier_id" %>
      <%= f.hidden_field :company_id %>
      <%= f.submit %>
    </div>
    
    <div class="small">
      Una vez que haya terminado la adición de productos , no olvide <strong><%= @action_txt %></strong> tu factura.
    </div>
  <% end %>
</div>

<div class="mid_box">
  <h4>
    Agregar Productos  a la factura 

  </h4>
  
  <form method="get" action="/products" onsubmit="addItemToPurchase(); return false;">

    <input type="hidden" name="ac_item_id" id="ac_item_id" value="" />
    
    <strong>Producto:</strong><br />
    <input type="text" name="ac_item" id="ac_item" value="" />
    <div class="small">
      Ingrese un termino de busqueda para encontrar un producto.
    </div>
    <br />
    
    <strong>Precio:</strong><br />
    <input type="text" name="ac_item_price" id="ac_item_price" value="" class="tf_short" />
    <div class="small">
      Precio del  producto para agregar una factura.
    </div>
    <br />
    
    <div class="small">
      Precio S/IGV del  producto para agregar una factura.
    </div>

    <br />
    
    <strong>Cantidad:</strong><br />
    <input type="text" name="ac_item_quantity" id="ac_item_quantity" value="1" class="tf_short" />
    <div class="small">
     Cantidad del producto para agregar una factura.
    </div>
    <br />
    
    <strong>Discount %:</strong><br />
    <input type="text" name="ac_item_discount" id="ac_item_discount" value="0" class="tf_short" />
    <div class="small">
      Descuento % del producto para agregar una factura.
    </div>
    <br />
    

    <div>
      <strong>Total:</strong><br />
      <span id="ac_item_total">0.00</span>
    </div>

    
    <br />
    <input type="submit" value="Agregar item a Factura" />
  </form>
  
  <%= hr() %>
    
</div>
  </form>
  
  <%= hr() %>
  

  


<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_supplier").autocomplete("/purchases/ac_suppliers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_supplier").result(function(event, data, formatted) {
      $("#ac_supplier_id").val(data[2]);
      $("#selected_supplier").html(data[0]);
    });
    
    $("#ac_user").autocomplete("/purchases/ac_user/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });
    
    $("#ac_item").autocomplete("/purchases/ac_products/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_id").val(data[2]);
      $("#ac_item_price").val(data[4]);
      updateItemTotal();
    });

    
    $("#ac_item_quantity").bind("keyup", function() {
      updateItemTotal();
    });
    
    $("#ac_item_price").bind("keyup", function() {
      updateItemTotal();
    });
    
    $("#ac_item_discount").bind("keyup", function() {
      updateItemTotal();
    });
    
    <% if @products_lines %>
    alert 'holas products_lines';
      listItemsPurchase();
    <% end %>
  });
</script>