<% if @purchases.count > 0 %>


<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Documento</th>
      <th>Proveedor </th>
      <th>Fec.Emision</th>
      <th>Fec.Vmto </th>
    
      
      <th>Moneda</th>
      <th>Dscto</th>
      
      <th>V.Venta </th>
      <th>IGV</th>
      <th>Importe</th>
      <th>Procesado </th>
      
      <th>Orden Compra</th>
      
      <th class="bordered_right bordered_bottom" colspan="3">
          Opciones
        </th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.document.description %></td>
        <td><%= purchase.documento %></td>
        <td><%= purchase.supplier.name  %></td>         
        <td><%= purchase.date1.strftime("%d/%m/%Y") %></td>
        <td><%= purchase.date3.strftime("%d/%m/%Y") %></td>
        <td><%= purchase.moneda.symbol %></td>            

        <td><%= money(purchase.discount) %></td>      
        <td><%= money(purchase.payable_amount) %></td>      
        <td><%= money(purchase.tax_amount) %></td>
        <td><%= money(purchase.total_amount) %></td>

        <td class="bordered_right bordered_bottom <%= purchase.processed_color %>">
            <%= purchase.get_processed_short %>
        </td>
        <td class="bordered_right bordered_bottom ">
            <%= purchase.get_purchaseorder %>
        </td>
            
        <td><%= link_to 'Ver', purchase %></td>
         <%if @current_user.level == 'admin' %>
          
       <% if purchase.processed != "1" %>
        <td>
          <%= link_to 'Eliminar', purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <% end %> 
        <% end %> 
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% else %>
  <p class="error">
    Nosotros no podemos encontrar ninguna factura
  </p>
<% end %>


