<% if @purchases.count > 0 %>

<h1>Compras Proveedores </h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Documento</th>
      <th>Fec.Emision</th>
      <th>Fec.Vmto </th>
      <th>T.Cambio</th>
      
      <th>Moneda</th>
      <th>Dscto</th>
      
      <th>V.Venta </th>
      <th>IGV</th>
      <th>Importe</th>
      <th>Status </th>
      
      <th>Cargos</th>
      <th>Pagos</th>
      <th>Saldo</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.document_type_id %></td>
        <td><%= purchase.document %></td>
        <td><%= purchase.date1 %></td>
        <td><%= purchase.date2 %></td>
        <td><%= purchase.exchange %></td>
      
        <td><%= purchase.discount %></td>      
        <td><%= purchase.payable_amount %></td>

        <td><%= money(purchase.tax_amount) %></td>
        <td><%= money(purchase.total_amount) %></td>
        <td <%= money(purchase.processed_color) %></td>
      
        <td><%= purchase.charge %></td>
        <td><%= purchase.payment %></td>
        <td><%= purchase.balance %></td>
      
        <td><%= link_to 'Ver', purchase %></td>
        <td><%= link_to 'Editar', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Eliminar', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>

<% else %>
  <p class="error">
    Nosotros no podemos encontrar ninguna factura
  </p>
<% end %>


