<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Documentos 
  <% if @supplier  %>
    for supplier: <%= @supplier.name %>
  <% end %>
</h1>

<div class="small">
  <form method="get" action="/companies/purchases/<%= @company.id %>">
    <strong>Search:</strong>
    <input type="text" name="search" value="<% if @q_org %><%= @q_org %><% end %>" class="small" onclick="$(this).select();" />
    <input type="submit" value="Find" class="bold small_btn" />
    <a href="/companies/purchases/<%= @company.id %>" class="small_btn">Clear</a>
  </form>
</div>


<br />
<%= render "purchases/list" %>

<br />

<div class="button">
  <%= link_to 'Nueva Factura', "/purchases/new/#{@company.id}" %>

  <%= link_to "Cargar Orden de servicio","/purchases/cargar2/#{@company.id}" %>
  <%= link_to 'Cargar Orden de compra', "/purchases/cargar/#{@company.id}" %>
  
</div>

<%= will_paginate @invoices %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_suppliers").autocomplete("/purchases/ac_suppliers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
  });
</script>