<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Facturas
  <% if @supplier  %>
    for supplier: <%= @supplier.name %>
  <% end %>
</h1>

<div>
  <a href="#" onclick="toggle('filters'); return false;">Filters</a>
</div>

<div id="filters" class="filters" style="display: <%= @filters_display %>;">
  <div>
    <div class="small">
      <form method="get" action="/companies/purchases/<%= @company.id %>">
        <strong>Search:</strong>
        <input type="text" name="q" value="<% if @q_org %><%= @q_org %><% end %>" class="small" style="width: 250px;" onclick="$(this).select();" />
        <input type="submit" value="Find" class="bold small_btn" />
      </form>
    </div>
  </div>

  <div>
    <form method="get" action="/companies/purchases/<%= @company.id %>">
      <div class="small">
        <strong>Location:</strong>
        <select name="location" class="small">
          <option value=""></option>
          <% for location in @locations %>
            <option value="<%= location.id %>" <% if(@sel_location.to_i == location.id) %>selected="selected"<% end %>><%= location.name %></option>
          <% end %>
        </select>
    
        <strong>Division:</strong>
        <select name="division" class="small">
          <option value=""></option>
          <% for division in @divisions %>
            <option value="<%= division.id %>" <% if(@sel_division.to_i == division.id) %>selected="selected"<% end %>><%= division.name %></option>
          <% end %>
        </select>
    
        <input type="submit" value="Filter" class="bold small_btn" />
      </div>
    </form>
  </div>
  
  <div>
    <form method="get" action="/companies/purchases/<%= @company.id %>">
      <div class="small">
        <strong>Proveedor:</strong>
        <input type="text" name="ac_customer" id="ac_suppliers" value="<% if @customer %><%= @customer.name %><% end %>" class="small" style="width: 235px;" />
        <input type="submit" value="Find" class="bold small_btn" />
      </div>
    </form>
  </div>
  
  <div class="button">
    <a href="/companies/purchases/<%= @company.id %>" class="small_btn">Borrar filtros</a>
  </div>
</div>

<br />
<%= render "purchases/list" %>

<br />

<div class="button">
  <%= link_to 'Nueva Factura', "/purchases/new/#{@company.id}" %>
  <%= link_to "Cargar Orden de servicio ", "/companies/serviceorders/receive_orderservice/#{@company.id}" %>
</div>

<%= will_paginate @invoices %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_suppliers").autocomplete("/purchases/ac_suppliers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
  });
</script>