<% if @deliveries.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          Guia
        </th>
        <th class="bordered_right bordered_bottom" style="width: 10px;">
          Tipo
        </th>
        
        <th class="bordered_right bordered_bottom" style="width: 350px;">
          Cliente
        </th>
        <th class="bordered_right bordered_bottom">
          Total
        </th>
        <th class="bordered_right bordered_bottom">
          Fecha
        </th>
        <th class="bordered_right bordered_bottom">
          Procesado
        </th>
        <th class="bordered_right bordered_bottom" colspan="3">
          Opciones 
        </th>
      </tr>
    </thead>
    <tbody>
    
      <% for delivery in @deliveries %>
        <tr>

          <td class="bordered_right bordered_bottom">
            <%= delivery.code %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= delivery.remision %>
          </td>
        
          <td class="bordered_right bordered_bottom">
            <%= link_to delivery.customer.name, delivery.customer, :title => "Go to customer" %>
          </td>
          <td class="bordered_right bordered_bottom right">
            <%= money(delivery.total) %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= doDate(delivery.created_at) %>
          </td>
          <td class="bordered_right bordered_bottom <%= delivery.processed_color %>">
            <%= delivery.get_processed_short %>
          </td>
          <td class="bordered_right bordered_bottom">
          
          <%= link_to "Ver",delivery %>                        
          
          <% if delivery.processed =="" || delivery.processed == nil %>
          <%= link_to "Edit", edit_delivery_path(delivery) %>                      
          <%= link_to 'Eliminar', delivery,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>            
          <% elsif delivery.processed =="1"%>  
          <%= "** Aprobado **" %>
          <%= link_to 'Eliminar', delivery,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>          
          <% elsif delivery.processed =="2"%>  
          <%= "** Anulado **" %>
          <%= link_to 'Eliminar', delivery,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>          
          
          <% elsif delivery.processed =="0"%>  
          <%= link_to "Edit", edit_delivery_path(delivery) %>                                        
          <%= link_to 'Eliminar', delivery,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>          
          </tr>
          <%end%>

      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    We couldn't find any deliveries.
  </p>
<% end %>