
<%= form_tag  editmultiple_deliveries_path, method: :put do %>

<% if @deliveries.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 60px;">
          Guia
        </th>
        <th class="bordered_right bordered_bottom" style="width: 10px;">
          Tipo
        </th>
        <th class="bordered_right bordered_bottom" style="width: 200px;">
          Cliente
        </th>
        
        <th class="bordered_right bordered_bottom" style="width: 200px;">
          Destinatario
        </th>
        <th class="bordered_right bordered_bottom">
          Total
        </th>
        <th class="bordered_right bordered_bottom">
          Fecha
        </th>
        <th class="bordered_right bordered_bottom">
          Fec.Oper
        </th>
        <th class="bordered_right bordered_bottom">
          Fec.Cont.
        </th>
        
        <th class="bordered_right bordered_bottom">
          Orden S.T.
        </th>
        
        <th class="bordered_right bordered_bottom">
          Pro.
        </th>

        <th class="bordered_right bordered_bottom">
          Selección
        </th>

        <th class="bordered_right bordered_bottom" colspan="3">
          Opciones 
        </th>
      </tr>
    </thead>
    <tbody>
    
      <% for delivery in @deliveries %>          
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= delivery.code %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= delivery.get_remision %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%=  delivery.get_origen(delivery.remite_id) %>
          </td>
                    
          <td class="bordered_right bordered_bottom">
            <%= delivery.customer.name  %>
          </td>
          <td class="bordered_right bordered_bottom right">
            <%= money(delivery.total) %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= delivery.created_at.strftime("%d/%m/%Y")  %>
          </td>

          <% if delivery.fecha3 != nil %>
          <td class="bordered_right bordered_bottom">
            <%= delivery.fecha3.strftime("%d/%m/%Y")  %>
          </td>
          <%else%>
          <td class="bordered_right bordered_bottom">
          
          </td>
            
          <% end %>

          <% if delivery.fecha4 != nil %>
          
            <td class="bordered_right bordered_bottom">
              <%= delivery.fecha4.strftime("%d/%m/%Y")    %>
            </td>
           <%else%>
            <td class="bordered_right bordered_bottom">
            
            </td>            
           <% end %>
          

          <td class="bordered_right bordered_bottom right">
            <% if delivery.tranportorder  %>

            <%= delivery.tranportorder.code  %>          

            <% end %>
          </td>
          
          <td class="bordered_right bordered_bottom <%= delivery.processed_color %>">
            <%= delivery.get_processed_short %>
          </td>

          <td class="bordered_right bordered_bottom right">
            <%= check_box_tag "products_ids[]", delivery.id  %>
          </td>          

          <td class="bordered_right bordered_bottom">
          
          <%= link_to "Ver",delivery %>                        
          
          <% if delivery.processed =="" || delivery.processed == nil %>
          <%= link_to "Edit", edit_delivery_path(delivery) %>                      
          <%= link_to 'Eliminar', delivery,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>            
          <% elsif delivery.processed =="1"%>  
          <%= "** Aprobado **" %>
          <%= link_to 'Eliminar', delivery,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>          
          <% elsif delivery.processed =="2" %>  
          <%= "** Anulado **" %>
          <%= link_to 'Eliminar', delivery,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>          
          
          <% elsif delivery.processed =="0"%>            
          <%= link_to "Edit", edit_delivery_path(delivery) %>
          <%= link_to 'Eliminar', delivery,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>          
          </tr>
          <%end%>
      <% end %>

    </tbody>
  </table>

<%= select_tag :field, options_for_select([["All Fields", ""], ["Fecha Operaciones", "fecha3"], ["Fecha Contab.", "fecha4"]]) %>
<%= submit_tag "Editar solo marcados" %>


<% else %>
  <p class="error">
    No existen guias 
  </p>
<% end %>
<% end %>

