
<% if @guiasselect != nil %>

<h1> Editar Guias Fechas Operaciones </h1>		 

<%= form_tag updatemultiple_deliveries_path, method: :put do %>


 	<table>
		<thead>
		  <tr>
		      <th>
		       Numero
		      </th>
		      <th>
		        TD
		      </th>
		      <th>
		        Cliente Origen
		      </th>
		      <th>
		        Cliente Destino
		      </th>
		      <th>
		        Fec.Ingreso
		      </th>
		      
		      <th>
		        OST
		      </th>
		      
		   </tr>		 
		</thead>


 	<% for delivery in @guiasselect %>

 		<%= hidden_field_tag "products_ids[]",invoice.id %>

	    <tbody>		
			<tr>
	        <td class="bordered_bottom bordered_right">
	        	<%= delivery.code %>
	        </td>
	        <td class="bordered_bottom bordered_right">
	        	<%= delivery.get_remision %>
	        </td>
	        <td class="bordered_bottom bordered_right">	          	           
	            <%= delivery.get_origen(delivery.remite_id) %>
	        </td>	        
			<td class="bordered_bottom bordered_right">	          	           
	        <%= delivery.customer.name  %>
	        </td>	        

			<td class="bordered_right bordered_bottom">
            	<%= doDate(delivery.created_at) %>
          	</td>

          	<td class="bordered_right bordered_bottom right">
            <% if delivery.tranportorder  %>
            	<%= delivery.tranportorder.code  %>          
            <% end %>            
          	</td>          
	      </tr>

 
	 <%end %>
	 	</tbody>

	</table>



	     <%= fields_for  delivery  do |f|	 %>		
 				
 		 	<%= render "fields",:f=> f %>
	      	    
   		 <%end %>

		<div class="actions" >
		<%= submit_tag "Actualizar  "%>
		</div>



<%end %>	
<%end %>	




