<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("supplier_48.png", :class => "vmiddle") %>
  Guia
  <% if @customer %>
    for customer: <%= @customer.name %>
  <% end %>
</h1>

<div class="small">
  <form method="get" action="/companies/deliveries/<%= @company.id %>">
    <strong>Buscar :</strong>
    <input type="text" name="search" value="<% if @q_org %><%= @q_org %><% end %>" class="small" style="width: 250px;" onclick="$(this).select();" />
    <input type="submit" value="Find" class="bold small_btn" />
    <a href="/companies/deliveries/<%= @company.id %>" class="small_btn">Clear</a>
  </form>
</div>



<br />
<%= render "deliveries/list" %>

<%= will_paginate @deliveries %>

<br />

<div class="button">
  <%= link_to 'Nueva Guia', "/deliveries/new/#{@company.id}" %>
  <%= link_to 'Unir Guias', "/deliveries/do_unir/#{@company.id}" %>


</div>



<div class="button">
  <%= link_to 'Regresar', "/companies/charts/#{@company.id}" %>
</div>





<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/deliveries/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>