<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

<%= hr() %>
  
   <p class="bold big"> Registrar Guias de Remision
   </p>
  
 <% if @mines %>

 	<table class="search-results-table col-md-12">
		<tbody>

  	<tr>
  	<td><strong>Documento:</strong> <%= @mines.code %></td>
  	<td><strong>Cliente:</strong> <%= @mines.customer.name %></td>
  	<td><strong>RUC:</strong> <%= @mines.customer.ruc %></td>
    </tr>


<% else %>
	<span class='label label-primary'>
	Guia no existe con los datos ingresados
	</span>
<% end %>

</tbody>

</table> 



<%= form_tag discontinue_deliveries_path, method: :put do %>
<table>
  <thead>
    <tr>
      <th>Check</th>
      <th>Code</th>
      <th>Cliente</th>
      
    </tr>
  </thead>

  <tbody>
    <% @guias.each do |f| %>
      <tr>
      
        <td><%= check_box_tag "products_ids[]",  f.id  %></td>
        <td><%= f.code %></td>
        <td><%= f.customer.name %></td>
    
      </tr>
    <% end %>
  </tbody>
</table>

<%= submit_tag "Unir.. " %>

<% end %>
<%= br() %>




<div class="button">
  <%= link_to 'Back', "/companies/deliveries/#{@company.id}" %>
</div>

 
</div>

