<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Customers", "/companies/customers/#{@company.id}" %>
  <%= link_to @customer.name, @customer %>
</div>

<h1>
  <%= image_tag("clients_48.png", :class => "vmiddle") %>
  Editar cliente
</h1>

<p>
  Para modificar un cliente, por favor llene los campos en el formulario. Campos marcados con <strong>*</strong> son requeridos.
</p>

<%= render 'form' %>

<div class="button">
  <%= link_to 'Show', @customer %>
  <%= link_to 'Back', "/companies/customers/#{@company.id}" %>
</div>