<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("clients_48.png", :class => "vmiddle") %>
  Clientes 
</h1>

<div class="small">
  <form method="get" action="/companies/customers/<%= @company.id %>">
    <strong>Search:</strong>
    <input type="text" name="q" value="<% if @q_org %><%= @q_org %><% end %>" class="small" style="width: 250px;" onclick="$(this).select();" />
    <input type="submit" value="Find" class="bold small_btn" />
    <a href="/companies/customers/<%= @company.id %>" class="small_btn">Clear</a>
  </form>
</div>

<%= render "customers/list" %>

<br />

<div class="button">
  <%= link_to 'Nuevo Cliente', "/customers/new/#{@company.id}" %>
</div>


<h2>Importar Archivo clientes "*.csv"</h2>

<%= form_tag import_customers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>


<%= will_paginate @customers %>