<p id="notice"><%= notice %></p>

<h1>Listing Bankdeposits</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Code</th>
      <th>Bank account</th>
      <th>Document</th>
      <th>Documento</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bankdeposits.each do |bankdeposit| %>
      <tr>
        <td><%= bankdeposit.fecha %></td>
        <td><%= bankdeposit.code %></td>
        <td><%= bankdeposit.bank_account_id %></td>
        <td><%= bankdeposit.document_id %></td>
        <td><%= bankdeposit.documento %></td>
        <td><%= bankdeposit.total %></td>
        <td><%= link_to 'Show', bankdeposit %></td>
        <td><%= link_to 'Edit', edit_bankdeposit_path(bankdeposit) %></td>
        <td><%= link_to 'Destroy', bankdeposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bankdeposit', new_bankdeposit_path %>
