<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @dato_law.employee_id %>
</p>

<p>
  <strong>Sueldo integral:</strong>
  <%= @dato_law.sueldo_integral %>
</p>

<p>
  <strong>Comision:</strong>
  <%= @dato_law.comision %>
</p>

<p>
  <strong>Descuento ley:</strong>
  <%= @dato_law.descuento_ley %>
</p>

<p>
  <strong>Afp:</strong>
  <%= @dato_law.afp_id %>
</p>

<p>
  <strong>Ies:</strong>
  <%= @dato_law.ies %>
</p>

<p>
  <strong>Senati:</strong>
  <%= @dato_law.senati %>
</p>

<p>
  <strong>Sobretiempo:</strong>
  <%= @dato_law.sobretiempo %>
</p>

<p>
  <strong>Otra ley social:</strong>
  <%= @dato_law.otra_ley_social %>
</p>

<p>
  <strong>Accidente trabajo:</strong>
  <%= @dato_law.accidente_trabajo %>
</p>

<p>
  <strong>Descuento quinta:</strong>
  <%= @dato_law.descuento_quinta %>
</p>

<p>
  <strong>Domiciliado:</strong>
  <%= @dato_law.domiciliado %>
</p>

<p>
  <strong>A familiar:</strong>
  <%= @dato_law.a_familiar %>
</p>

<p>
  <strong>No afecto:</strong>
  <%= @dato_law.no_afecto %>
</p>

<p>
  <strong>No afecto grati:</strong>
  <%= @dato_law.no_afecto_grati %>
</p>

<p>
  <strong>No afecto afp:</strong>
  <%= @dato_law.no_afecto_afp %>
</p>

<p>
  <strong>Cussp:</strong>
  <%= @dato_law.cussp %>
</p>

<p>
  <strong>Tipo afiliado:</strong>
  <%= @dato_law.tipo_afiliado_id %>
</p>

<p>
  <strong>Regimen:</strong>
  <%= @dato_law.regimen_id %>
</p>

<p>
  <strong>Contrato inicio:</strong>
  <%= @dato_law.contrato_inicio %>
</p>

<p>
  <strong>Contrato fin:</strong>
  <%= @dato_law.contrato_fin %>
</p>

<p>
  <strong>Vacaciones inicio:</strong>
  <%= @dato_law.vacaciones_inicio %>
</p>

<p>
  <strong>Vacaciones fin:</strong>
  <%= @dato_law.vacaciones_fin %>
</p>

<p>
  <strong>Grati julio:</strong>
  <%= @dato_law.grati_julio %>
</p>

<p>
  <strong>Grati diciembre:</strong>
  <%= @dato_law.grati_diciembre %>
</p>

<p>
  <strong>Importe subsidio:</strong>
  <%= @dato_law.importe_subsidio %>
</p>

<%= link_to 'Edit', edit_dato_law_path(@dato_law) %> |
<%= link_to 'Back', dato_laws_path %>
