<p id="notice"><%= notice %></p>

<h1>Listing Tms</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Descrip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tms.each do |tm| %>
      <tr>
        <td><%= tm.code %></td>
        <td><%= tm.descrip %></td>
        <td><%= link_to 'Show', tm %></td>
        <td><%= link_to 'Edit', edit_tm_path(tm) %></td>
        <td><%= link_to 'Destroy', tm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tm', new_tm_path %>
