<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tm.code %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @tm.descrip %>
</p>

<%= link_to 'Edit', edit_tm_path(@tm) %> |
<%= link_to 'Back', tms_path %>
