<%= form_for(@order) do |f| %>
<% if @order.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@order.errors.count, "error") %>
prohibited this order from being saved:</h2>
<ul>
<% @order.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>

<% end %>
  <table>
    <td>
    <tr>      
       <input type="button" class="button" value="Factura" onclick="calcula1();">        
    </tr>
    <tr>     
      <input type="button" class="button" value="Boleta" onclick="calcula2();">       
    </tr>
    <tr>
      <input type="button" class="button" value="Nota de Despacho" onclick="calcula3();"> 
    </tr>
    <tr>
    </tr>
    </td>
  </table>


    <div class="field">
        <%= f.label :ruc  %><br />
        <%= f.text_field :ruc  , size: 11 , maxlength: 11, style: "width: 100px;" %>
    </div>

    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, size: 40 %>
    </div>


     <p> Total a cobrar S/. :</p>
     <h3>  <%= @total_price_cart %> </h3>


    <div class="field">
        <%= f.label :pay_type %><br />
        <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
    </div>

    <div class="field" >
        <%= f.label :total %><br />        
        <%= f.number_field :total, :class => 'text_field', :step => "0.10" %>
    </div>


<div class="actions">
<%= button_to 'Cerrar',"/orders/create/1", method: :post  %>  

</div>


<%= button_to 'Regresar',"/companies/stores" , method: :post  %>      

<% end %>



<script language="JavaScript"> 

function calcula() { 
var frm = document.calc; 
var val1 = frm.val1.value; 
var val2 = frm.val2.value; 

var val3 =  val2* val2; 
var result1 =  val2*val2; 

if ((frm.val1.value>0 ) && (frm.val2.value>=0 )) { 
var res = (@total_price_cart - result1); 
resultado = parseFloat(res).toFixed(2).toString();
resultado = resultado.split(".");
var cadena = ""; cont = 1
for(m=resultado[0].length-1; m>=0; m--){
  cadena = resultado[0].charAt(m) + cadena
  cont%3 == 0 && m >0 ? cadena = "." + cadena : cadena = cadena
  cont== 3 ? cont = 1 :cont++
}
frm.result.value = cadena + "," + resultado[1]; 
} else { 
frm.res.value = 0; 
alert ("Debes indicar valores númericos en los campos indicados."); 
} 
} 

function suma() { 
var frm = document.calc; 
var val1 = frm.val1.value; 
var val2 = frm.val2.value; 
frm.result1.value = val1*1 + val2*1; 
} 

valor = document.getElementById("campo").value;
if( isNaN(valor) ) {
  return false;
}

</script>
    