<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @destino.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @destino.name %>
</p>

<%= link_to 'Edit', edit_destino_path(@destino) %> |
<%= link_to 'Back', destinos_path %>
