<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "ajusts", "/companies/ajusts/#{@company.id}" %> &raquo;
  <%= link_to @ajust.identifier, @ajust %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Enviar documento via email
</h1>

<%= hr() %>

<h3>
  <%= link_to @ajust.identifier, @ajust %>
</h3>

<%= hr() %>

<form method="post" action="/ajusts/do_email/<%= @ajust.id %>">
  <strong>Email:</strong>
  <input type="text" name="email" value="<%= @ajust.customer.email %>" onclick="$(this).select();" />
  <input type="submit" value="Send" class="bold" />
</form>

<%= hr() %>

<div class="button">
  <%= link_to 'Show ajust', @ajust %>
  <%= link_to 'Back', "/companies/ajusts/#{@company.id}" %>
</div>