<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "ajusts", "/companies/ajusts/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Nuevo Ajuste 
</h1>

<p>
  Para crear una nueva orden de compra, por favor llenar el siguiente formulario. Los campos marcados con <strong>*</strong> son obligatorios
  
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Back', "/companies/ajusts/#{@company.id}" %>
</div>