<% if @customerpayment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customerpayment.errors.count, "error") %> prohibited this customerpayment from being saved:</h2>
    <ul>
    <% @customerpayment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>

<div class="mid_box bordered_right">

  <%= form_for(@customerpayment) do |f| %>
    <h4>
       Informacion Orden de Pago 
    </h4>
      
        <div class="field">
          <%= f.label :fecha1, "Fecha*", :class => "bold" %><br />
          <%= f.date_field :fecha1, value: Time.now.strftime("%d/%m/%Y") ,:class => "input.tf_short" %>
        </div>

        </td>
        <td>  
        <div class="field">
          <%= f.label :code, "Code*", :class => "bold" %><br />
          <%= f.text_field :code, :onclick => "$(this).select();" %>
        </div>
    
  
    <div class="field">
      <%= f.label  :bank_acount_id,"Banco:  " , :class => "bold"%><br />
      <%= f.select :bank_acount_id,options_from_collection_for_select(@bank_acounts,'id','number') %>

    </div>
    

    <div class="field">
      <%= f.label  :document_id %><br />
      <%= f.select :document_id,options_from_collection_for_select(@documents,'id','description') %>
    </div>

    <div class="field">
      <%= f.label :documento, "Documento ", :class => "bold" %><br />
      <%= f.text_field :documento %>
    </div>

    <div class="field">
      <%= f.label :total, "Importe Liquidacion ", :class => "bold" %><br />
      <%= f.text_field :total %>
    </div>
  
    <%= hr() %>
    
    <div class="field" id="list_items">
      <p class="bold big">Documentos a cancelar :</p>
    </div>
    
    <%= hr() %>
      
    <div class="field">
      <%= f.label :descrip %><br />
      <%= f.text_area :descrip %>
    </div>  


    
    <div class="field">
      <label for="ac_user" class="bold">Seller*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
      
      </div>
      <br />

      <div class="small">
        <strong>Selected seller:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>

    </div>
  
    <%= hr() %>
  
  
    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @customers_lines %><%= @customers_lines %><% end %>" />
  
      <%= f.hidden_field :company_id %>

      <%= f.submit %>
    </div>
    
    <div class="small">
      Once you're done adding customers, don't forget to <strong><%= @action_txt %></strong> your customerpayment.
    </div>

  <% end %>
</div>


<div class="mid_box">
  <h5>
    Agregar informacion Cliente
  </h5>
  

  <form method="get" action="/purchases" onsubmit="addItemToCustomerPayment(); return false;">     <input type="hidden" name="ac_item_id" id="ac_item_id" value="" />  

    <strong>Documento :</strong><br />
    <input type="text" name="ac_item" id="ac_item" value="" />
    <div class="small">
      Ingrese un termino de busqueda para encontrar un documento 
    </div>
    <br />  
    <div>
      <strong>Saldo Original:</strong><br />
      <span id="ac_item_total2">0.00</span>
    </div>

    <div >
      <strong>Total:</strong><br />    
    <input type="text" name="ac_item_total" id="ac_item_total" value="0.00" class="tf_short" />
    </div>

    <div >
     <strong>Factory :</strong><br />
    <input type="text" name="ac_item_factory" id="ac_item_factory" value="0.00" class="tf_short"/>
    </div>
    <div >
     <strong>Compensación :</strong><br />
    <input type="text" name="ac_item_compen" id="ac_item_compen" value="0.00" class="tf_short"/>
    </div>
    
    <div >    
     <strong>Ajuste :</strong><br />
    <input type="text" name="ac_item_ajuste" id="ac_item_ajuste" value="0.00" class="tf_short"/>
    </div>


    <div class="small">
     Cantidad del producto para agregar una guia.
    </div>
    <br />

    
    <br />
    <input type="submit" value="Agregar item a Factura" />
      

  </form>
      <%= hr() %>


  
</div>

<%= br() %>
<br />


  




<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {

    $("#ac_item").autocomplete("/customer_payments/ac_documentos/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_id").val(data[2]);
      $("#ac_item_total").val(data[4]);  
      
      updateItemTotalCP();
    });
    
    $("#ac_customer").autocomplete("/customer_payments/ac_customers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      $("#ac_customer_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });    
    
    
    $("#ac_user").autocomplete("/customer_payments/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });    
    
    
    $("#ac_item_total").bind("keyup", function() {
      updateItemTotalCP();
    });
    
    $("#ac_item_factory").bind("keyup", function() {
      updateItemTotalCP();
    });
    
    $("#ac_item_ajuste").bind("keyup", function() {
      updateItemTotalCP();
    });
    
    <% if @customers_lines %>
    alert 'holas customers_lines';
      listItemsCustomerPayment();
    <% end %>
  });
</script>