<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "customerpayments", "/companies/customerpayments/#{@company.id}" %> &raquo;
  <%= link_to @customerpayment.identifier, @customerpayment %>
</div>

<h1>
  <%= image_tag("customerpayment_48.png", :class => "vmiddle") %>
  Editing customerpayment
</h1>

<p>
  To modify the customerpayment, please fill out the following form.  Fields marked with <strong>*</strong> are required.
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Show', @customerpayment %>
  <%= link_to 'Back', "/companies/customerpayments/#{@company.id}" %>
</div>