<p class="bold big">
  Documentos a cancelar
</p>

  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Nro.Documento
        </th>
        <th class="small bordered_bottom bordered_right">
          Proveedor
        </th>
        <th class="small bordered_bottom bordered_right">
          Contribucion
        </th>
        
        <th class="small bordered_bottom bordered_right">
          Factory
        </th>
        <th class="small bordered_bottom bordered_right">
          Ajuste 
        </th>
        <th class="small bordered_bottom bordered_right">
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      <% for product in @products %>
        <tr>
          <td class="small bordered_bottom bordered_right" style="width: 100px;">
            <a href="#" onclick="removeItemFromCustomerPayment(<%= product.tax%>); return false;" title="Remove product from invoice"><%= product.code %></a>
            [<a href="#" onclick="removeItemFromCustomerPayment(<%= product.tax   %>); return false;" title="Remove product from invoice">X</a>]
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.customer.name %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.balance) %>
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= money(product.pago) %>
          </td>
          <td class="small bordered_bottom bordered_right">
              <%= money(product.charge) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.total) %>
    
            </td>
        </tr>
      <% end %>
    
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@total_pago) %>    
      </td>      
    </tr>

  
      <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Diferencia :
      </td>
      <td class="bordered_bottom bordered_right bold right">
    
      </td>
      
    </tr>

    </tbody>
  </table>



