<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("orders_48.png", :class => "vmiddle") %>
  Registrar Cancelaciones  
  
  <% if @customer %>
    for customer: <%= @customer.name %>
  <% end %>
</h1>


 


<br />
<%= render "customer_payments/list" %>

<br />

<div class="button">
  <%= link_to 'Nueva Cancelacion', "/customer_payments/new/#{@company.id}" %>
  <%= link_to 'Export Concar', "/customer_payments/generar1/#{@company.id}" %>
</div>

<%= will_paginate @customerpayments %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/customer_payments/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>