<html>
<body>
  <h6 ><center> Listado de Cobranza Emitidas  Desde: <%= @fecha1 %>  Hasta <%= @fecha2 %></center></h6>
  
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width = "5%" align ="right">Fecha </td>
    <td width = "5%" >Serie</td>
    <td width = "10%" >Numero</td>
    <td width = "8%" align ="left"> RUC</td>
    <td width = "35%" align ="left"> Cliente</td>
    
    <td width = "10%" align ="right">Factory</td>
    <td width = "10%" align ="right">Importe </td>

  </tr>
  
  </table>
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 = 0%>
      <% total_2 = 0%>
      
      
       <% for  credito in @customer_rpt  %>
       
        <%@cliente_obs = credito.get_cliente(credito.customer_id)%>
        <%@documentos  = credito.get_documento_factura(credito.document_id)%>
         
           
                <tr>
                    <td width = "5%" align ="right"><%= credito.fecha.strftime("%d/%m/%Y")    %> </td>
                    <td width = "5%" ><%=  @documentos.descripshort %></td>
                    <td width = "10%" ><%=  credito.code %></td>
                    
                    <td width = "8%" align ="left"><%= @cliente_obs.ruc   %></td>
                    <td width = "35%" align ="left"><%= @cliente_obs.name   %></td>
                    
                    <td width = "10%" align ="right"><%= sprintf("%.3f",credito.factory)   %></td>
                    <td width = "10%" align ="right"><%= sprintf("%.3f",credito.total)   %></td>
                </tr>
                    <% total_1 += credito.factory %>    
                    <% total_2 += credito.total %>
                    
         <%end %>
               
        <hr>  
  </table>
  <hr>
     
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
     <tr>
       
          <td width = "41%" align ="right">Totales </td>
          
          <td width = "10%" align ="right"><%= sprintf("%.3f",total_1)   %></td>
          <td width = "8%" align ="right"></td>
          <td width = "10%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
          
          
    </tr>
    
   </table>
         
  
    
    </body>
      
      </html>
      