<html>
<body>
  <h6 ><center> Listado de Cobranza Emitidas  Desde: <%= @fecha1 %>  Hasta <%= @fecha2 %></center></h6>
  
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  
  <tr bgcolor="#B4D7F7">
    <td width = "18%" align ="left">Banco </td>
    <td width = "10%" align ="center">Moneda</td>
        <td width = "5%" >Fecha</td>
    <td width = "8%" align ="left"> Numero </td>
    <td width = "35%" align ="left">Cliente</td>
    <td width = "8%" align ="right"> Ajuste </td>
    <td width = "8%" align ="right">Importe </td>
    <td width = "8%" align ="right">Nro.Doc.</td>
   </tr>
   
   
  </table>
  
  
      <% nroitem = 1%>
      <% total_1 = 0%>
      <% total_2 = 0%>
      
        
         <% for  detalle in @customerpayment_rpt %>
              
                
                  <% tfactory = 0 %>
                  <% tcompen = 0 %>
                  <% tajuste = 0 %>
                  <% ttotal =  0 %>
                  
                  
                <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
                <% for productItem in detalle.get_payments2(@tiporeporte) %>
                
                  <tr>  
                    <td width = "18%" ><%= detalle.get_cuenta(detalle.bank_acount.id)    %></td>
                    <td width = "10%" ><%= detalle.get_moneda(detalle.bank_acount.moneda_id)  %></td>
                    <td width = "5%" align ="right"><%= detalle.fecha1.strftime("%d/%m%Y")  %> </td>
                    <td width ="8%" align ="right"><%= detalle.code  %> </td>
                    <td width ="35%" align ="left"><%= productItem.get_customer(productItem.customer_id) %>  </td>
                    
                    <td width = "8%" align ="right"><%= sprintf("%.2f",productItem.ajuste.to_s)    %> </td>
                    <td width = "8%" align ="right"><%= sprintf("%.2f",productItem.total.to_s)  %> </td>
                    <td width = "8%" align ="right"><%= detalle.code   %> </td>
                  
                  </tr>
                  
                  <% tfactory+= productItem.factory %>
                  <% tcompen += productItem.compen %>
                  <% tajuste += productItem.ajuste %>
                  <% ttotal +=  productItem.total %>
               <% end %>
                </table>
                  
            <% end %>
       
   
               
     
  </table>
  <hr> 
    <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
      
     <tr>
       
          <td width = "76%" align ="right">Totales </td>
          
          <td width = "8%" align ="right"><%= sprintf("%.2f",tajuste.to_s)    %> </td>
          <td width = "8%" align ="right"><%= sprintf("%.2f",ttotal.to_s)    %></td>
          <td width = "8%" align ="right"></td>
          
          
    </tr>
    
   </table>
  <hr>       
  
    
    </body>
      
      </html>
      