<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @customerpayment.company.name, @customerpayment.company %> &raquo;
  <%= link_to "customerpayments", "/companies/customer_payments/#{@customerpayment.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @customerpayment.identifier %>
</h1>

<%= hr() %>

<% if @customerpayment.location %>
  <p>
    <b>Location:</b>
    <%= link_to @customerpayment.location.name, @customerpayment.location %>
  </p>
<% end %>

<% if @customerpayment.division %>
  <p>
    <b>Division:</b>
    <%= link_to @customerpayment.division.name, @customerpayment.division %>
  </p>
<% end %>

<p>
  <b>Code:</b>
  <%= @customerpayment.code %>
</p>

<p>
    <b>Fecha entrega:</b>
    <%= @customerpayment.fecha1.strftime("%d/%m/%Y") %>   
</p>
 
<p>
    <b>Estado: </b>
    <%= @customerpayment.get_processed   %>   
</p>


<%= hr() %>

<h3>
  Informacion Pago
</h3>

<p>
  <b>Cuenta </b>  
  <%= link_to @customerpayment.bank_acount.number %>
</p>

<p>
  <b>Banco : </b>  
  <%=  @customerpayment.get_banco(@customerpayment.bank_acount.bank_id)   %>
</p>  

<b>Moneda : </b>  
  <%=  @customerpayment.get_moneda(@customerpayment.bank_acount.moneda_id)   %>
</p>


<%= hr() %>

<h3>
  Details
</h3>

<table>
  <thead>
    <tr>
      <th>
        Tipo  
      </th>
      <th>
        Documento
      </th>
      <th>    
        Operacion
      </th>
      <th>
        Op.Telecredito  
      </th>

      <th>
        Total
      </th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="bordered_bottom bordered_right">
           <%=  @customerpayment.get_document (@customerpayment.document_id)     %>
        </td>
        
              
        <td class="bordered_bottom bordered_right">
          <%=  @customerpayment.documento     %>
        </td>

        <td class="bordered_bottom bordered_right">
          <%=  @customerpayment.nrooperacion  %>
        </td>
        
         <td class="bordered_bottom bordered_right">
          <%=  @customerpayment.operacion    %>
        </td>

        <td class="bordered_bottom bordered_right">
            <%=  @customerpayment.total     %>
        </td>

      </tr>
    


    <% for productItem in @customerpayment.get_payments() %>
      <tr>
        <td class="bordered_bottom bordered_right">
          
        </td>
        
              
        <td class="bordered_bottom bordered_right">
          <%=  productItem.code   %>
        </td>

        <td class="bordered_bottom bordered_right">
          <%=  productItem.get_customer(productItem.customer_id)   %>
        </td>
        
         <td class="bordered_bottom bordered_right">

        </td>

        <td class="bordered_bottom bordered_right">
          <%= money(productItem.total) %>
        </td>

      </tr>
    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>

    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@customerpayment.total) %>
      </td>
    </tr>
    
  </tbody>
</table>
<br />

<%= hr() %>


<br />


<p>
  <strong>Seller:</strong>
  <%= link_to @customerpayment.user.username, @customerpayment.user %>
</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Exportar to PDF', "/customer_payments/pdf/#{@customerpayment.id}.pdf" %>  
  
 <% if @customerpayment.processed == "1" %> 

 <% %>

 <% else %>

  <%= link_to 'Procesar', "/customer_payments/do_process/#{@customerpayment.id}" %>

 <% end %> 
  
  <%= link_to 'Regresar', "/companies/customer_payments/#{@customerpayment.company.id}" %>
</div>