<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipoventum.code %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @tipoventum.nombre %>
</p>

<%= link_to 'Edit', edit_tipoventum_path(@tipoventum) %> |
<%= link_to 'Back', tipoventa_path %>
