<p id="notice"><%= notice %></p>

<h1>Listing Depositos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha </th>
      <th>Banco </th>
      <th>Document</th>
      <th>Documento</th>
      <th>Total</th>
      <th>Nrooperacion</th>
      <th>Procesado </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depositos.each do |deposito| %>
      <tr>
        <td><%= deposito.fecha1.strftime("%d/%m/%Y") %></td>
        <td><%= deposito.bank_acount.number %></td>
        <td><%= deposito.document.fullname %></td>
        <td><%= deposito.documento %></td>
        <td><%= deposito.total %></td>
        
        <td><%= deposito.nrooperacion %></td>
        <td><%= deposito.processed %></td>
        <td><%= link_to 'Ver ', deposito %></td>
        
        <%if @current_user.level == "colateral" || @current_user.level == "admin" || @current_user.level == "parte"     %>
        <td><%= link_to 'Editar', edit_deposito_path(deposito) %></td>
        <td><%= link_to 'Eliminar', deposito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deposito', new_deposito_path %>
