<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @deposito.company_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @deposito.location_id %>
</p>

<p>
  <strong>Division:</strong>
  <%= @deposito.division_id %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @deposito.bank_account_id %>
</p>

<p>
  <strong>Document:</strong>
  <%= @deposito.document_id %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @deposito.documento %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @deposito.customer_id %>
</p>

<p>
  <strong>Tm:</strong>
  <%= @deposito.tm %>
</p>

<p>
  <strong>Total:</strong>
  <%= @deposito.total %>
</p>

<p>
  <strong>Fecha1:</strong>
  <%= @deposito.fecha1 %>
</p>

<p>
  <strong>Fecha2:</strong>
  <%= @deposito.fecha2 %>
</p>

<p>
  <strong>Nrooperacion:</strong>
  <%= @deposito.nrooperacion %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @deposito.descrip %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @deposito.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @deposito.user_id %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @deposito.processed %>
</p>

<p>
  <strong>Date processed:</strong>
  <%= @deposito.date_processed %>
</p>

<p>
  <strong>Code:</strong>
  <%= @deposito.code %>
</p>

<p>
  <strong>Bank acount:</strong>
  <%= @deposito.bank_acount_id %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @deposito.concept_id %>
</p>

<p>
  <strong>Compen:</strong>
  <%= @deposito.compen %>
</p>

<%= link_to 'Edit', edit_deposito_path(@deposito) %> |
<%= link_to 'Back', depositos_path %>
