<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @manifest.customer_id %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @manifest.solicitante %>
</p>

<p>
  <strong>Fecha1:</strong>
  <%= @manifest.fecha1 %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @manifest.telefono1 %>
</p>

<p>
  <strong>Camionetaqty:</strong>
  <%= @manifest.camionetaqty %>
</p>

<p>
  <strong>Camionetapeso:</strong>
  <%= @manifest.camionetapeso %>
</p>

<p>
  <strong>Camionqty:</strong>
  <%= @manifest.camionqty %>
</p>

<p>
  <strong>Camionpeso:</strong>
  <%= @manifest.camionpeso %>
</p>

<p>
  <strong>Semiqty:</strong>
  <%= @manifest.semiqty %>
</p>

<p>
  <strong>Semipeso:</strong>
  <%= @manifest.semipeso %>
</p>

<p>
  <strong>Extenqty:</strong>
  <%= @manifest.extenqty %>
</p>

<p>
  <strong>Extenpeso:</strong>
  <%= @manifest.extenpeso %>
</p>

<p>
  <strong>Camaqty:</strong>
  <%= @manifest.camaqty %>
</p>

<p>
  <strong>Camapeso:</strong>
  <%= @manifest.camapeso %>
</p>

<p>
  <strong>Modularqty:</strong>
  <%= @manifest.modularqty %>
</p>

<p>
  <strong>Modularpeso:</strong>
  <%= @manifest.modularpeso %>
</p>

<p>
  <strong>Punto:</strong>
  <%= @manifest.punto_id %>
</p>

<p>
  <strong>Punto2:</strong>
  <%= @manifest.punto2_id %>
</p>

<p>
  <strong>Fecha2:</strong>
  <%= @manifest.fecha2 %>
</p>

<p>
  <strong>Contacto1:</strong>
  <%= @manifest.contacto1 %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @manifest.telefono1 %>
</p>

<p>
  <strong>Contacto2:</strong>
  <%= @manifest.contacto2 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @manifest.telefono2 %>
</p>

<p>
  <strong>Especificacion:</strong>
  <%= @manifest.especificacion %>
</p>

<p>
  <strong>Largo:</strong>
  <%= @manifest.largo %>
</p>

<p>
  <strong>Ancho:</strong>
  <%= @manifest.ancho %>
</p>

<p>
  <strong>Alto:</strong>
  <%= @manifest.alto %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @manifest.peso %>
</p>

<p>
  <strong>Bultos:</strong>
  <%= @manifest.bultos %>
</p>

<p>
  <strong>Otros:</strong>
  <%= @manifest.otros %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @manifest.observa %>
</p>

<p>
  <strong>Observa2:</strong>
  <%= @manifest.observa2 %>
</p>

<p>
  <strong>Company:</strong>
  <%= @manifest.company_id %>
</p>

<%= link_to 'Edit', edit_manifest_path(@manifest) %> |
<%= link_to 'Back', manifests_path %>
