<div class="mid_box bordered_right">
  
  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Cancelar documentos ", "/companies/customer_payments/#{@company.id}" %>
  </h3>
  <p>
     Cancelar documentos 
  </p>
  <%= hr() %>
  
  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Facturas y Boletas", "/companies/facturas/#{@company.id}" %>
  </h3>


  <p>
   Facturas  por pagar 
  </p>

<%= hr() %>
  
  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Depositos - Ventas grifo ", depositos_path  %>
  </h3>


  <p>
   Depositos ventas playa
  </p>
  <%= hr() %>

</div>

<div class="mid_box">
  <h3>
        <div>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Concepto de Cobranza", concepts_path  %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar bancos 
  </p>

  <%= hr() %>  

  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Bancos  ", banks_path %>
  </h3>
  <p>
     Agregar, editar or eliminar cuentas por pagar 
  </p>
  
  
  <%= hr() %>  

  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Cuentas bancarias ", bank_acounts_path %>
  </h3>
  <p>
     Agregar, editar or eliminar cuentas por pagar 
  </p>

  <%= hr() %>
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Reportes", "/companies/reports/reports_ccobrar/#{@company.id}" %>

          
  </h3>

  <p>
    Reportes de tu negocio.
  </p>
  <%= hr() %>  

  


    <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Registro de Depositos",depositos_path %>
  </h3>
  <p>
     Agregar, editar or eliminar registro de depositos 
  </p>
  
    <%= hr() %>  

    
</div>