<div class="mid_box bordered_right">
    <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Registrar documentos", "/companies/purchases/#{@company.id}" %>
  </h3>

  <p>
    Registrar documentos    
  </p>  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Cancelar documentos ", "/companies/supplier_payments/#{@company.id}" %>
  </h3>
  <p>
     Cancelar documentos 
  </p>
  <%= hr() %>
  
  


  <p>
   Letras por pagar 
  </p>

  <%= hr() %>

</div>

<div class="mid_box">
  
  <%= hr() %>  

  <h3>
        <div>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Bancos", banks_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar bancos 
  </p>

  <%= hr() %>  

  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
   <%= link_to "Cuentas bancarias ", bank_acounts_path %>
  </h3>
  <p>
     Agregar, editar or eliminar cuentas por pagar 
  </p>
  <%= hr() %>
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Reportes", "/companies/reports/reports_cpagar/#{@company.id}" %>
  </h3>

  <p>
    Reportes de tu negocio.
  </p>
  <%= hr() %>  

  
</div>