<div class="mid_box bordered_right">
  
  <h3>
    <%= image_tag("products_32.png", :class => "vmiddle") %>
    <%= link_to "Marca", "/companies/marcas/#{@company.id}" %>
  </h3>

  <p>
    Agregar, editar or eliminar las marcas  que tu negocio ofrece.
  </p>

  <%= hr() %>

  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Modelo", "/companies/modelos/#{@company.id}" %>
  </h3>

  <p>
   Agregar, editar or eliminar  modelos.
  </p>

  <%= hr() %>

  <h3>
    <%= image_tag("product_category_32.png", :class => "vmiddle") %>
    <%= link_to "Unidad", "/companies/unidads/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar las categorias para tus productos.
  </p>

<% if @current_user.level = "admin" %>
  <%= hr() %>

  <h3>
    <%= image_tag("product_category_32.png", :class => "vmiddle") %>
    <%= link_to "Empleado ", "/companies/employees/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar las categorias para tus productos.
  </p>

<%end%>
<%= hr() %>

  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
        <%= link_to "Vehiculos", "/companies/trucks/#{@company.id}" %>
  </h3>

  <p>
   Agregar, editar or eliminar  modelos.
  </p>

    <%= hr() %>
 <% if @current_user.level = "admin" %>
  
  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
        <%= link_to "Gastos", gastos_path  %>
  </h3>

  <p>
   Agregar, editar or eliminar  modelos.
  </p>
 <% end %>
<% if @current_user.level = "admin" %>
  
  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
        <%= link_to "Tipo movimiento RRHH", tms_path  %>
  </h3>

  <p>
   Agregar, editar or eliminar  modelos.
  </p>
 <% end %>

  
</div>

<div class="mid_box">
  
 <% if @current_user.level = "admin" %>
  
  
  <h3>
        <div>
          <%= image_tag("locations_32.png", :class => "vmiddle") %>
          <%= link_to "Local ", "/companies/locations/#{@company.id}" %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar ordenes de venta 
  </p>

<%= hr() %>
  <h3>
        <div>
          <%= image_tag("divisions_32.png", :class => "vmiddle") %>
          <%= link_to "Division ", "/companies/divisions/#{@company.id}" %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar ordenes de venta 
  </p>
  
 

<%= hr() %>
  <h3>
        <div>
          <%= image_tag("divisions_32.png", :class => "vmiddle") %>
          <%= link_to "Instrucciones (Ordenes) ", instruccions_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar empleados
  </p>

<%= hr() %>
  
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Numeracion  subdiarios", numeras_path %>
  </h3>

  <p>
    Reportes de tu negocio.
  </p>
<%= hr() %>

  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Documentos", documents_path %>
  </h3>

  <p>
    Reportes de tu negocio.
  </p>
  
<%= hr() %>
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Tipo de cambio", tipocambios_path %>
  </h3>

  <p>
    Tipo de cambio sunat
  </p>
  
<%= hr() %>
<% if @current_user.level = "admin" %>

  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Guias", remisions_path %>
  </h3>

  <p>
    Tipo de cambio sunat
  </p>
  
  <% if @current_user.level = "admin" %>
<%= hr() %>

  <h3>
        <div>
          <%= image_tag("divisions_32.png", :class => "vmiddle") %>
          <%= link_to "Remision  ", remisions_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar empleados
  </p>
 <% end %>
<%= hr() %>
  

<%end%>
 <%end%>
 
   <% if @current_user.level = "admin" %>


  <h3>
        <div>
          <%= image_tag("divisions_32.png", :class => "vmiddle") %>
          <%= link_to "Caja Destino  ", destinos_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar empleados
  </p>
 <% end %>

 


<%= hr() %>

  <h3>
        <div>
          <%= image_tag("divisions_32.png", :class => "vmiddle") %>
          <%= link_to "Tipo Vale credito  ", creditos_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar tipo vales
  </p>
 


<%= hr() %>

  <h3>
        <div>
          <%= image_tag("divisions_32.png", :class => "vmiddle") %>
          <%= link_to "Tipo Venta   ", tipoventa_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar tipo vales
  </p>
 
<%= hr() %>

  <h3>
        <div>
          <%= image_tag("divisions_32.png", :class => "vmiddle") %>
          <%= link_to "Faltante / Sobrante    ", tipofaltantes_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar tipo faltante/sobrante
  </p>
 
</div>

 
</div>