<div class="mid_box bordered_right">



  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Registro de kilometraje", "/companies/serviceorders/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar facturas para tu negocio.
  </p>
  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Orden de Compra ", "/companies/purchaseorders/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar facturas para tu negocio.
  </p>
  
 



</div>

<div class="mid_box">
 

 
    
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Reportes", "/companies/reports_compras/#{@company.id}" %>
  </h3>

  <p>
    Reportes de tu negocio.
  </p>
