<div class="mid_box bordered_right">


  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Parte Diario", "/companies/reports/reports_parte/#{@company.id}" %>
  </h3>

  <p>
     Visualizar parte diario 
  </p>
  
  <%= hr() %>


  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Varillaje", varillajes_path %>
  </h3>

  <p>
     Agregar, editar or eliminar facturas para tu negocio.
  </p>
  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Vales de creditos", sellvales_path  %>
  </h3>

  <p>
     Agregar, editar or eliminar facturas para tu negocio.
  </p>
  
  <%= hr() %>

    <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Venta Combustible ",ventaislas_path %>
  </h3>
  <p>
     Agregar, editar or eliminar lecturas de ventas de combustible para tu negocio.
  </p>
  
    <%= hr() %>  

    <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Afericion ",afericions_path %>
  </h3>
  <p>
     Agregar, editar or eliminar lecturas de ventas de combustible para tu negocio.
  </p>
    <%= hr() %>  

  

    <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Faltante/Sobrante",faltantes_path %>
  </h3>
  <p>
     Agregar, editar or eliminar lecturas de ventas de combustible para tu negocio.
  </p>
    <%= hr() %>  





</div>

<div class="mid_box">
  
  <h3>
  <div>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Isla", islands_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar Isla
     

<%= hr() %>
<h3>
  <div>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Tanques", tanques_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar Tanques
     

<%= hr() %>


  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Surtidor", pumps_path %>
  </h3>

  <p>
     Agregar, editar or eliminar surtidor para tu eess.
  </p>
  
 
    <%= hr() %>
    
