<div class="mid_box bordered_right">

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Calculo de la Planilla ", payrolls_path %>
  </h3>

  <p>
     Agregar, editar or eliminar planillas para tu negocio.
  </p>
    
<h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to " Bonificación / Descuento ", payrollbonis_path %>
  </h3>

  <p>
     Agregar, editar or eliminar bonifacion/descuento de la planilla
  </p>
    
    
<h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to " Quinta Categoria ", quintos_path %>
  </h3>

  <p>
     Agregar, editar or eliminar quinta categoria para tu negocio
  </p>

<h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to " Liquidacion de beneficios ", payrolls_path %>
  </h3>

  <p>
     Agregar, editar or eliminar beneficios para tu negocio.
  </p>  
</div>

  
<div class="mid_box">

  <h3>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Empleados", "/companies/employees/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar empleados para tu negocio.
  </p>

 
  <%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Parametrizacion general ", parameters_path %>
  </h3>

  <p>
     Agregar, editar or eliminar parametrizacion general.
  </p>

<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Parametros Quinta Categoria ", fiveparameters_path %>
  </h3>
  <p>
     Agregar, editar or eliminar parametros detalle boleta 
  </p>

  

<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Parametros detalle boleta ", valors_path %>
  </h3>
  <p>
     Agregar, editar or eliminar parametros detalle boleta 
  </p>


  <%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "AFP ", afps_path %>
  </h3>



  <p>
     Agregar, editar or eliminar parametrizacion general.
  </p>

<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Grado instruccion ", grado_instruccions_path %>
  </h3>



  <p>
     Agregar, editar or eliminar Grado de instruccion
  </p>


<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Tipo Trabajador  ", tipotrabajadors_path %>
  </h3>



  <p>
     Agregar, editar or eliminar parametrizacion general.
  </p>

<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Ocupacion ", ocupacions_path %>
  </h3>



  <p>
     Agregar, editar or eliminar Grado de instruccion
  </p>
<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Tipo Planilla  ", type_payrolls_path %>
  </h3>



  <p>
     Agregar, editar or eliminar parametrizacion general.
  </p>

<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Categorias", categoria_path %>
  </h3>



  <p>
     Agregar, editar or eliminar parametrizacion general.
  </p>

<%= hr() %>
  