<div class="mid_box bordered_right">

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Calculo de la Planilla ", payrolls_path %>
  </h3>

  <p>
     Agregar, editar or eliminar facturas para tu negocio.
  </p>
  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Consulta de Boletas ", "/companies/facturas/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar notas de credito para tu negocio.
  </p>

<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Actualizacion y cierre de planillas ", categorium_path %>
  </h3>

  <p>
     Agregar, editar or eliminar parametrizacion general.
  </p>

    

</div>

<div class="mid_box">

  <h3>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Empleados", "/companies/employees/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar empleados para tu negocio.
  </p>

  <%= hr() %>



  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Haberes y Descuentos fijos", "/companies/services/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar los Haberes y descuentos fijos.
  </p>



  <%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Prestamos", "/companies/payments/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar los prestamos.
  </p>


<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Acumulados de quinta categoria", "/companies/payments/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar acumulados de quinta categoria.
  </p>



  <%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Derecho habiente ", "/companies/payments/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar los derecho habiente.
  </p>

<%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Descuento judicial ", "/companies/payments/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar los derecho habientes.
  </p>


  <%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Derecho judicial ", "/companies/payments/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar los derecho judicial.
  </p>

  <%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Contratos ", "/companies/payments/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar los contratos.
  </p>

  <%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Parametrizacion general ", parameters_path %>
  </h3>

  <p>
     Agregar, editar or eliminar parametrizacion general.
  </p>

  
  <%= hr() %>
  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "AFP ", afps_path %>
  </h3>

  <p>
     Agregar, editar or eliminar parametrizacion general.
  </p>


