<p id="notice"><%= notice %></p>

<h1>Listing Tmp Contometros</h1>

<table>
  <thead>
    <tr>
      <th>Nid cierreturno</th>
      <th>Nid surtidor</th>
      <th>Nid mangueras</th>
      <th>Nid producto</th>
      <th>Nid tanque</th>
      <th>Dprecio producto</th>
      <th>Dcontometroinicial manguera</th>
      <th>Dcontometroactual manguera</th>
      <th>Dtotgalvendido manguera</th>
      <th>Dimporte</th>
      <th>Dnocontabilizado manguera</th>
      <th>Dstockactual</th>
      <th>Ffechaproceso cierreturno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tmp_contometros.each do |tmp_contometro| %>
      <tr>
        <td><%= tmp_contometro.nid_cierreturno %></td>
        <td><%= tmp_contometro.nid_surtidor %></td>
        <td><%= tmp_contometro.nid_mangueras %></td>
        <td><%= tmp_contometro.nid_producto %></td>
        <td><%= tmp_contometro.nid_tanque %></td>
        <td><%= tmp_contometro.dprecio_producto %></td>
        <td><%= tmp_contometro.dcontometroinicial_manguera %></td>
        <td><%= tmp_contometro.dcontometroactual_manguera %></td>
        <td><%= tmp_contometro.dtotgalvendido_manguera %></td>
        <td><%= tmp_contometro.dimporte %></td>
        <td><%= tmp_contometro.dnocontabilizado_manguera %></td>
        <td><%= tmp_contometro.dstockactual %></td>
        <td><%= tmp_contometro.ffechaproceso_cierreturno %></td>
        <td><%= link_to 'Show', tmp_contometro %></td>
        <td><%= link_to 'Edit', edit_tmp_contometro_path(tmp_contometro) %></td>
        <td><%= link_to 'Destroy', tmp_contometro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tmp contometro', new_tmp_contometro_path %>
