<p id="notice"><%= notice %></p>

<p>
  <strong>Nid cierreturno:</strong>
  <%= @tmp_contometro.nid_cierreturno %>
</p>

<p>
  <strong>Nid surtidor:</strong>
  <%= @tmp_contometro.nid_surtidor %>
</p>

<p>
  <strong>Nid mangueras:</strong>
  <%= @tmp_contometro.nid_mangueras %>
</p>

<p>
  <strong>Nid producto:</strong>
  <%= @tmp_contometro.nid_producto %>
</p>

<p>
  <strong>Nid tanque:</strong>
  <%= @tmp_contometro.nid_tanque %>
</p>

<p>
  <strong>Dprecio producto:</strong>
  <%= @tmp_contometro.dprecio_producto %>
</p>

<p>
  <strong>Dcontometroinicial manguera:</strong>
  <%= @tmp_contometro.dcontometroinicial_manguera %>
</p>

<p>
  <strong>Dcontometroactual manguera:</strong>
  <%= @tmp_contometro.dcontometroactual_manguera %>
</p>

<p>
  <strong>Dtotgalvendido manguera:</strong>
  <%= @tmp_contometro.dtotgalvendido_manguera %>
</p>

<p>
  <strong>Dimporte:</strong>
  <%= @tmp_contometro.dimporte %>
</p>

<p>
  <strong>Dnocontabilizado manguera:</strong>
  <%= @tmp_contometro.dnocontabilizado_manguera %>
</p>

<p>
  <strong>Dstockactual:</strong>
  <%= @tmp_contometro.dstockactual %>
</p>

<p>
  <strong>Ffechaproceso cierreturno:</strong>
  <%= @tmp_contometro.ffechaproceso_cierreturno %>
</p>

<%= link_to 'Edit', edit_tmp_contometro_path(@tmp_contometro) %> |
<%= link_to 'Back', tmp_contometros_path %>
