<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @grado_instruccion.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grado_instruccion.name %>
</p>

<%= link_to 'Edit', edit_grado_instruccion_path(@grado_instruccion) %> |
<%= link_to 'Back', grado_instruccions_path %>
