<%= simple_form_for(@numera) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subdiario %>
    <%= f.input :compro %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
