<p id="notice"><%= notice %></p>

<p>
  <strong>Subdiario:</strong>
  <%= @numera.subdiario %>
</p>

<p>
  <strong>Compro:</strong>
  <%= @numera.compro %>
</p>

<%= link_to 'Edit', edit_numera_path(@numera) %> |
<%= link_to 'Back', numeras_path %>
