<div class="metadata">
<div class="item">
        <div class="title">
            <%= address.id  %> 
			<%= address.address  %> 
			<%= address.address2 %> 
			<%= address.city %> 
			<%= address.state %>
		</div>
	</div>
			
</div>