<p id="notice"><%= notice %></p>

<p>
  <strong>Ruc:</strong>
  <%= @subcontrat.ruc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subcontrat.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @subcontrat.address1 %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @subcontrat.distrito %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @subcontrat.provincia %>
</p>

<p>
  <strong>Dpto:</strong>
  <%= @subcontrat.dpto %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @subcontrat.pais %>
</p>

<%= link_to 'Edit', edit_subcontrat_path(@subcontrat) %> |
<%= link_to 'Back', subcontrats_path %>
