<%= form_for(@inventory_detail) do |f| %>
  <% if @inventory_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_detail.errors.count, "error") %> prohibited this inventory_detail from being saved:</h2>

      <ul>
      <% @inventory_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :logical %><br>
    <%= f.number_field :logical %>
  </div>
  <div class="field">
    <%= f.label :phisycal %><br>
    <%= f.number_field :phisycal %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
