<p id="notice"><%= notice %></p>

<p>
  <strong>Inventory:</strong>
  <%= @inventory_detail.inventory_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @inventory_detail.product_id %>
</p>

<p>
  <strong>Logicalstock:</strong>
  <%= @inventory_detail.logicalStock %>
</p>

<p>
  <strong>Physicalstock:</strong>
  <%= @inventory_detail.physicalStock %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @inventory_detail.cost %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory_detail.price %>
</p>

<p>
  <strong>Totallogical:</strong>
  <%= @inventory_detail.totallogical %>
</p>

<p>
  <strong>Totalphysical:</strong>
  <%= @inventory_detail.totalphysical %>
</p>

<%= link_to 'Edit', edit_inventory_detail_path(@inventory_detail) %> |
<%= link_to 'Back', inventory_details_path %>
