
<% if @viatico_detail.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@viatico_detail.errors.count, "error") %> prohibited this viatico from being saved:</h2>
    <ul>
    <% @viatico_detail.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>

<%= simple_form_for [@viatico, @viatico_detail] do |f| %>

  <div class="form-inputs">
    
    <input type="hidden" name="ac_item_id" id="ac_item_id"  />  
   
    <br />
    
   
    <p>
      <strong>Gasto :</strong>
    </p>
    <div class="small">
      <%= f.collection_select :gasto_id, @gastos , :id, :fullcuenta, :prompt => true %>
  
    </div>

      <br />


    <td>
    
     
      <br />
 <tr>
    <strong> Movimiento  :</strong><br />
    
    <td>
      <%= f.collection_select :tipomov_id, @tipomov , :id, :descrip , :prompt => true %>
    </td> 

  </tr>
      
    <br />
    
    
       <br />
      <div class="field">
        <strong>Comprobante Interno :</strong><br />
          <%= f.text_field :numero ,:style=> 'width: 200px'%>
      </div>
      
    <strong>Documento:</strong><br />
    <br />
     <div class="field">
      <%= f.collection_select :tm, @documents , :id, :fullname , :prompt => true %>
    
     </div>

    <br />
     <label for="ac_supplier" class="bold">Proveedor/Empleado*</label><br />
          
    <table> 
    
  <tr>
    <td>        
    <input type="radio" name="tipoproveedor" value="1" checked> Provedor<br>
    </td>
    
    

         <td>
          <%= f.collection_select :supplier_id, @suppliers , :id, :name  , :prompt => true %>
        </td>



    </td> 
    
  </tr>

  <tr>
    <td><input type="radio" name="tipoproveedor" value="2"> Empleado<br></td>
    <td>
      <%= f.collection_select :employee_id, @employees , :id, :full_name , :prompt => true %>
    </td> 

  </tr>
  
      </table>      
      
      <div class="small">
        Ingrese una termino de busqueda 
      </div>
    </td>
    
      <br />


      <div class="small">
        <strong>Seleccionar proveedor:</strong>


       

      </div>
      
    
      <div class="field">
         <strong> Nro.Documento :</strong><br />
          <%= f.text_field :compro ,:style=> 'width: 200px'%>
      </div>
    
    
    <div class="small">
      Ingrese un termino de busqueda para encontrar un documento 
    </div>
    
    
      
    <td>
      <div class="field">
      <strong> Fecha :</strong><br />
          <%= f.date_field :fecha ,:style=> 'width: 180px'%>
      </div>
      
    </td>
    
    
    
    <br />  

    <div >
      <div class="field">
       <strong> Importe :</strong><br />
      <%= f.number_field :importe ,:style=> 'width: 120px' %>
      </div>
    </div>
    
  
     <div class="field">
      <%= f.label :descrip, "Descripcion: " %><br />
      <%= f.text_field :descrip  , :size=>"50", placeholder: "Ingrese Proveedor / Empleado - otros", :maxlength=>"254"%>
    </div>  
    

     <div class="field">
      <%= f.label :detalle, "Detalle: " %><br />
      <%= f.text_area :detalle %>
    </div>  


    </div>
    

    <br />
    
  <%= hr() %>


  </div>

  <div class="form-actions">
  
    <%= f.button :submit %>
  </div>




<% end %>

|
<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
  
    $("#ac_supplier").autocomplete("/purchases/ac_suppliers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
  
    $("#ac_supplier").result(function(event, data, formatted) {
      $("#ac_supplier_id").val(data[2]);
      $("#selected_supplier").html(data[0]);
    });
    
    $("#ac_employee").autocomplete("/viaticos/ac_employees/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
  
    $("#ac_employee").result(function(event, data, formatted) {
      $("#ac_employee_id").val(data[2]);
      $("#selected_employee").html(data[0]);
    });
    
    
    
    $("#ac_item").autocomplete("/viaticos/ac_osts/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_id").val(data[2]);
      
      updateItemTotalViaticos();
    });
    
    $("#ac_customer").autocomplete("/viaticos/ac_customers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      $("#ac_customer_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });    
    
    
    $("#ac_user").autocomplete("/viaticos/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });    
    
    
    $("#ac_item_total").bind("keyup", function() {
      updateItemTotalCP();
    });
    
    
     $(".cat-code").change(function(){          

                    var getID = this.id;
                    var value =  document.getElementById(this.id).value;

                    console.log(getID + "with a value of" + value);

                    if (value == 1 ){
                          document.getElementById("viatico_inicial").value;
                    }
                    else if (value == 2){
                          document.getElementById("viatico_inicial").value;
                    }
                });
                
    <% if @viaticos_lines %>
      listItemsViatico();
    <% end %>
  });
</script>