<p id="notice"><%= notice %></p>

<p>
  <strong>Descrip:</strong>
  <%= @concept.descrip %>
</p>

<p>
  <strong>Code:</strong>
  <%= @concept.code %>
</p>

<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
