<%= simple_form_for(@contometro) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nid_cierreturno %>
    <%= f.input :nid_surtidor %>
    <%= f.input :nid_mangueras %>
    <%= f.input :nid_producto %>
    <%= f.input :nid_tanque %>
    <%= f.input :dprecio_producto %>
    <%= f.input :dcontometroinicial_manguera %>
    <%= f.input :dcontometroactual_manguera %>
    <%= f.input :dtotgalvendido_manguera %>
    <%= f.input :dimporte %>
    <%= f.input :dnocontabilizado_manguera %>
    <%= f.input :dstockactual %>
    <%= f.input :ffechaproceso_cierreturno %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
