<p id="notice"><%= notice %></p>

<p>
  <strong>Nid cierreturno:</strong>
  <%= @contometro.nid_cierreturno %>
</p>

<p>
  <strong>Nid surtidor:</strong>
  <%= @contometro.nid_surtidor %>
</p>

<p>
  <strong>Nid mangueras:</strong>
  <%= @contometro.nid_mangueras %>
</p>

<p>
  <strong>Nid producto:</strong>
  <%= @contometro.nid_producto %>
</p>

<p>
  <strong>Nid tanque:</strong>
  <%= @contometro.nid_tanque %>
</p>

<p>
  <strong>Dprecio producto:</strong>
  <%= @contometro.dprecio_producto %>
</p>

<p>
  <strong>Dcontometroinicial manguera:</strong>
  <%= @contometro.dcontometroinicial_manguera %>
</p>

<p>
  <strong>Dcontometroactual manguera:</strong>
  <%= @contometro.dcontometroactual_manguera %>
</p>

<p>
  <strong>Dtotgalvendido manguera:</strong>
  <%= @contometro.dtotgalvendido_manguera %>
</p>

<p>
  <strong>Dimporte:</strong>
  <%= @contometro.dimporte %>
</p>

<p>
  <strong>Dnocontabilizado manguera:</strong>
  <%= @contometro.dnocontabilizado_manguera %>
</p>

<p>
  <strong>Dstockactual:</strong>
  <%= @contometro.dstockactual %>
</p>

<p>
  <strong>Ffechaproceso cierreturno:</strong>
  <%= @contometro.ffechaproceso_cierreturno %>
</p>

<%= link_to 'Edit', edit_contometro_path(@contometro) %> |
<%= link_to 'Back', contometros_path %>
