<p id="notice"><%= notice %></p>

<h1>Orden de Servicio Transporte  </h1>



<%= form_tag(tranportorders_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Buscar ordenes" %>
<%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Empleado</th>
      <th>Vehiculo</th>      
      <th>Vehiculo 2</th>
      <th>Ubicacion</th>
      <th>Ubicacion2</th>
      <th>Fecha Inicio </th>
      <th>Fecha Fin </th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tranportorders.each do |tranportorder| %>
      <tr>
        <td><%= tranportorder.code %></td>
        <%if tranportorder.employee != nil %></td>
        <td><%= tranportorder.employee.full_name %></td>
        <%end %>
        <td><%= tranportorder.truck.placa %></td>
        <td><%= tranportorder.get_placa(tranportorder.truck2_id) %></td>
        <td><%= tranportorder.get_punto(tranportorder.ubication_id)  %></td>
        <td><%= tranportorder.get_punto(tranportorder.ubication2_id) %></td>
        <td><%= tranportorder.fecha1.strftime("%d/%m/%Y") %></td>
        <td><%= tranportorder.fecha2.strftime("%d/%m/%Y") %></td>
      
        <td><%= link_to 'Ver', tranportorder %></td>
        <td><%= link_to 'Editar', edit_tranportorder_path(tranportorder) %></td>
        <td><%= link_to 'Eliminar', tranportorder, method: :delete, data: { confirm: 'Esta seguro ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @tranportorders %>  

<div class="button">
<%= link_to 'Nueva Orden', new_tranportorder_path %>
</div>