<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipomov.code %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @tipomov.descrip %>
</p>

<%= link_to 'Edit', edit_tipomov_path(@tipomov) %> |
<%= link_to 'Back', tipomovs_path %>
