<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @supplierpayment.company.name, @supplierpayment.company %> &raquo;
  <%= link_to "supplierpayments", "/companies/supplierpayments/#{@supplierpayment.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @supplierpayment.identifier %>
</h1>

<%= hr() %>

<% if @supplierpayment.location %>
  <p>
    <b>Location:</b>
    <%= link_to @supplierpayment.location.name, @supplierpayment.location %>
  </p>
<% end %>

<% if @supplierpayment.division %>
  <p>
    <b>Division:</b>
    <%= link_to @supplierpayment.division.name, @supplierpayment.division %>
  </p>
<% end %>


<p>
  <b>Code:</b>
  <%= @supplierpayment.code %>
</p>

 <p>
    <b>Moneda:</b>
    <%= @supplierpayment.moneda.description %>   
 </p>

 <p>
    <b>Forma de pago:</b>
    <%= @supplierpayment.payment.descrip  %>   
 </p>

<p>
    <b>Fecha entrega:</b>
    <%= @supplierpayment.fecha1  %>   
</p>
 
<p>
    <b>Estado: </b>
    <%=   @supplierpayment.get_processed   %>   
</p>


<%= hr() %>

<h3>
  Informacion Proveedor
</h3>

<p>
  <b>Name:</b>
  <%= link_to @supplier.name, @supplier %>
</p>

<%= render "suppliers/show" %>

<%= hr() %>

<h3>
  Details
</h3>

<table>
  <thead>
    <tr>
      <th>
        Product
      </th>
      <th>
        Price
      </th>
      <th>
        Quantity
      </th>
      <th>
        Discount
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    <% for productItem in @supplierpayment.get_services() %>
      <tr>
              
        <td class="bordered_bottom bordered_right">
          <%= link_to productItem.name   %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.price) %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= productItem.quantity %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.discount) %>%
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.total) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Subtotal:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@supplierpayment.subtotal) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Tax:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@supplierpayment.tax) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@supplierpayment.total) %>
      </td>
    </tr>

        <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Detraccion :
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= @supplierpayment.detraccion  %>
      </td>
    </tr>

  </tbody>
</table>
<br />

<%= hr() %>

<% if @supplierpayment.description != "" %>
  <div>
    <b>Description:</b>
    <br />
    <br />
    <%= format_text(@supplierpayment.description) %>
  </div>
  <%= hr() %>
<% end %>

<% if @supplierpayment.comments != "" %>
  <div>
    <b>Comments:</b>
    <br />
    <br />
    <%= format_text(@supplierpayment.comments) %>
  </div>
  <%= hr() %>
<% end %>

<br />

<div>
  <strong><%= @supplierpayment.get_processed %></strong>
  <% if @supplierpayment.processed == "1" and @supplierpayment.date_processed %>
    <%= doDate(@supplierpayment.date_processed) %>
  <% end %>
</div>

<p>
  <b>Return:</b>
  <%= @supplierpayment.get_return %>
</p>

<p>
  <strong>Seller:</strong>
  <%= link_to @supplierpayment.user.username, @supplierpayment.user %>
</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Exportar to PDF', "/supplierpayments/pdf/#{@supplierpayment.id}.pdf" %>  
  <%= link_to 'Enviar via email', "/supplierpayments/email/#{@supplierpayment.id}" %>

<% if @supplierpayment.processed =="0" || @supplierpayment.processed==nil %>
  <%= link_to 'Aprobar', "/supplierpayments/do_process/#{@supplierpayment.id}" %>
  <%= link_to 'Editar', edit_supplierpayment_path(@supplierpayment) %>  
<% elsif @supplierpayment.processed =="1" %>  
  <%= link_to 'Anular', "/supplierpayments/do_anular/#{@supplierpayment.id}" %>
<% end %>

  
  <%= link_to 'Regresar', "/companies/supplierpayments/#{@supplierpayment.company.id}" %>
</div>