<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "purchaseorders", "/companies/purchaseorders/#{@company.id}" %> &raquo;
  <%= link_to @purchaseorder.identifier, @purchaseorder %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Editar orden de compra
</h1>

<p>
  To modify the purchaseorder, please fill out the following form.  Fields marked with <strong>*</strong> are required.
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Show', @purchaseorder %>
  <%= link_to 'Back', "/companies/purchaseorders/#{@company.id}" %>
</div>