<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @purchaseorder.company.name, @purchaseorder.company %> &raquo;
  <%= link_to "purchaseorders", "/companies/purchaseorders/#{@purchaseorder.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @purchaseorder.identifier %>
</h1>

<%= hr() %>

<% if @purchaseorder.location %>
  <p>
    <b>Location:</b>
    <%= link_to @purchaseorder.location.name, @purchaseorder.location %>
  </p>
<% end %>

<% if @purchaseorder.division %>
  <p>
    <b>Division:</b>
    <%= link_to @purchaseorder.division.name, @purchaseorder.division %>
  </p>
<% end %>


<p>
  <b>Code:</b>
  <%= @purchaseorder.code %>
</p>


<%= hr() %>

<h3>
  supplier information
</h3>

<p>
  <b>Name:</b>
  <%= link_to @supplier.name, @supplier %>
</p>

<%= render "suppliers/show" %>

<%= hr() %>

<h3>
  Details
</h3>

<table>
  <thead>
    <tr>
      <th>
        Producto
      </th>
      <th>
        Precio
      </th>
      <th>
        Cantidad
      </th>
      <th>
        Dscto
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    <% for productItem in @purchaseorder.get_products() %>
      <tr>
        <td class="bordered_bottom bordered_right">
          <%= link_to productItem.name   %>
        </td>
        <td class="bordered_bottom bordered_right">
          $<%= money(productItem.price) %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= productItem.quantity %>
        </td>
        <td class="bordered_bottom bordered_right">
          <%= money(productItem.discount) %>%
        </td>
        <td class="bordered_bottom bordered_right">
          $<%= money(productItem.total) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Subtotal:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        $<%= money(@purchaseorder.subtotal) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Tax:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        $<%= money(@purchaseorder.tax) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        $<%= money(@purchaseorder.total) %>
      </td>
    </tr>
  </tbody>
</table>
<br />

<%= hr() %>

<% if @purchaseorder.description != "" %>
  <div>
    <b>Description:</b>
    <br />
    <br />
    <%= format_text(@purchaseorder.description) %>
  </div>
  <%= hr() %>
<% end %>

<% if @purchaseorder.comments != "" %>
  <div>
    <b>Comments:</b>
    <br />
    <br />
    <%= format_text(@purchaseorder.comments) %>
  </div>
  <%= hr() %>
<% end %>

<br />

<div>
  <strong><%= @purchaseorder.get_processed %></strong>
  <% if @purchaseorder.processed == "1" and @purchaseorder.date_processed %>
    <%= doDate(@purchaseorder.date_processed) %>
  <% end %>
</div>

<p>
  <b>Return:</b>
  <%= @purchaseorder.get_return %>
</p>

<p>
  <strong>Seller:</strong>
  <%= link_to @purchaseorder.user.username, @purchaseorder.user %>
</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Exportar a PDF', "/purchaseorders/pdf/#{@purchaseorder.id}.pdf" %>
  <%= link_to 'Enviarvia email', "/purchaseorders/email/#{@purchaseorder.id}" %>
  <%= link_to 'Aprobarr', "/purchaseorders/do_process/#{@purchaseorder.id}" %>
  <%= link_to 'Editar', edit_purchaseorder_path(@purchaseorder) %>
  <%= link_to 'Regresar', "/companies/purchaseorders/#{@purchaseorder.company.id}" %>
</div>