<p id="notice"><%= notice %></p>

<p>
  <strong>Descrip:</strong>
  <%= @unidad.descrip %>
</p>

<p>
  <strong>Valorconversion:</strong>
  <%= @unidad.valorconversion %>
</p>

<%= link_to 'Edit', edit_unidad_path(@unidad) %> |
<%= link_to 'Back', unidads_path %>
