<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @market.order_id %>
</p>

<p>
  <strong>Td:</strong>
  <%= @market.td %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @market.fecha %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @market.turno %>
</p>

<p>
  <strong>Cod emp:</strong>
  <%= @market.cod_emp %>
</p>

<p>
  <strong>Caja:</strong>
  <%= @market.caja %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @market.serie %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @market.numero %>
</p>

<p>
  <strong>Cod cli:</strong>
  <%= @market.cod_cli %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @market.ruc %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @market.placa %>
</p>

<p>
  <strong>Odometro:</strong>
  <%= @market.odometro %>
</p>

<p>
  <strong>Cod prod:</strong>
  <%= @market.cod_prod %>
</p>

<p>
  <strong>Cod prod:</strong>
  <%= @market.cod_prod %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @market.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @market.precio %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @market.importe %>
</p>

<p>
  <strong>Igv:</strong>
  <%= @market.igv %>
</p>

<p>
  <strong>Fpago:</strong>
  <%= @market.fpago %>
</p>

<p>
  <strong>Dolar:</strong>
  <%= @market.dolar %>
</p>

<p>
  <strong>Cod dep:</strong>
  <%= @market.cod_dep %>
</p>

<p>
  <strong>Cod lin:</strong>
  <%= @market.cod_lin %>
</p>

<p>
  <strong>Cod tar:</strong>
  <%= @market.cod_tar %>
</p>

<p>
  <strong>Dolares:</strong>
  <%= @market.dolares %>
</p>

<p>
  <strong>Precio1:</strong>
  <%= @market.precio1 %>
</p>

<p>
  <strong>Margen:</strong>
  <%= @market.margen %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
