<% if @sellvale.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sellvale.errors.count, "error") %> prohibited this viatico from being saved:</h2>
    <ul>
    <% @sellvale.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>


<%= simple_form_for(@sellvale) do |f| %>


  <div class="form-inputs">
    
    
    <div class="field">
      <%= f.label :fecha, "Fecha *", :class => "bold" %><br />
      <%= f.date_field :fecha %>
    </div>
    
    <div class="field">
      <%= f.label :turno,"Turno "%><br>
      <%= f.select :turno, options_for_select([["TURNO 1",1],["TURNO 2",2],["TURNO 3",3]]) %>
    </div>
    
    <div class="field">
      <%= f.label :cod_emp, "Empleado "%><br />
      <%= f.collection_select :cod_emp, @employees, :id, :full_name, :prompt => true %>
    </div>
    
    
    <div class="field">
      <%= f.label :caja, "Caja *", :class => "bold" %><br />
      <%= f.text_field :caja %>
    </div>
    
    <div class="field">
      <%= f.label :serie, "Serie *", :class => "bold" %><br />
      <%= f.text_field :serie %>
    </div>
    
    <div class="field">
      <%= f.label :numero, "Numero *", :class => "bold" %><br />
      <%= f.text_field :numero %>
    </div>
    
    <div class="field">
      <%= f.label :cod_cli, "Cliente "%><br />
      <%= f.collection_select :cod_cli, @customers, :account, :name, :prompt => true %>
    </div>
    
    <div class="field">
      <%= f.label :placa, "Placa *", :class => "bold" %><br />
      <%= f.text_field :placa %>
    </div>
    
    <div class="field">
      <%= f.label :cod_prod, "Producto "%><br />
      <%= f.collection_select :cod_prod, @products, :code, :name, :prompt => true %>
    </div>
    
    <div class="field">
      <%= f.label :cantidad, "Cantidad "%><br />
      <%= f.number_field :cantidad, class: :text_field, step: :any %>
    </div>
    
    <div class="field">
      <%= f.label :precio , "Precio  "%><br />
      <%= f.number_field :precio, class: :text_field, step: :any %>
    </div>
    
    <div class="field">
      <%= f.label :implista , "Importe Lista  "%><br />
      <%= f.number_field :implista, class: :text_field, step: :any %>
    </div>
    
    
    <div class="field">
      <%= f.label :tipo,"Tipo Vale "%><br>
      <%= f.collection_select :tipo, @creditos, :id, :nombre, :prompt => true %>
    </div>
    
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
