<p id="notice"><%= notice %></p>

<p>
  <strong>Td:</strong>
  <%= @sellvale.td %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @sellvale.fecha %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @sellvale.turno %>
</p>

<p>
  <strong>Cod emp:</strong>
  <%= @sellvale.cod_emp %>
</p>

<p>
  <strong>Caja:</strong>
  <%= @sellvale.caja %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @sellvale.serie %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @sellvale.numero %>
</p>

<p>
  <strong>Cod cli:</strong>
  <%= @sellvale.cod_cli %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @sellvale.ruc %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @sellvale.placa %>
</p>

<p>
  <strong>Odometro:</strong>
  <%= @sellvale.odometro %>
</p>

<p>
  <strong>Cod prod:</strong>
  <%= @sellvale.cod_prod %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @sellvale.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @sellvale.precio %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @sellvale.importe %>
</p>

<p>
  <strong>Igv:</strong>
  <%= @sellvale.igv %>
</p>



<p>
  <strong>Implista:</strong>
  <%= @sellvale.implista %>
</p>

<p>
  <strong>Fpago:</strong>
  <%= @sellvale.fpago %>
</p>




<%= link_to 'Regresar', sellvales_path %>