<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Orden de Servicio 
  
  <% if @customer %>
    for customer: <%= @customer.name %>
  <% end %>
</h1>

<div>
  <a href="#" onclick="toggle('filters'); return false;">Filters</a>
</div>

  

<br />
<%= render "serviceorders/list_receive" %>

<br />


<%= will_paginate @serviceorders %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/serviceorders/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>