<p class="bold big">
  Servicios
</p>

  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Servicio
        </th>
        <th class="small bordered_bottom bordered_right">
          Precio
        </th>
        <th class="small bordered_bottom bordered_right">
          Cantidad
        </th>
        <th class="small bordered_bottom bordered_right">
          Dscto
        </th>
        <th class="small bordered_bottom bordered_right">
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      <% for product in @products %>
        <tr>
          <td class="small bordered_bottom bordered_right" style="width: 220px;">
            <a href="#" onclick="removeItemFromserviceorder(<%= product.i %>); return false;" title="Remove product from invoice"><%= product.name %></a>
            [<a href="#" onclick="removeItemFromserviceorder(<%= product.i %>); return false;" title="Remove product from invoice">X</a>]
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.price) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.quantity %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.discount) %>%
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.currtotal) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
