<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @notacredit.fecha %>
</p>

<p>
  <strong>Code:</strong>
  <%= @notacredit.code %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @notacredit.nota_id %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @notacredit.motivo %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @notacredit.subtotal %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @notacredit.tax %>
</p>

<p>
  <strong>Total:</strong>
  <%= @notacredit.total %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @notacredit.moneda_id %>
</p>

<p>
  <strong>Mod factura:</strong>
  <%= @notacredit.mod_factura %>
</p>

<p>
  <strong>Mod tipo:</strong>
  <%= @notacredit.mod_tipo %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @notacredit.processed %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @notacredit.tipo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @notacredit.description %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @notacredit.customer_id %>
</p>

<%= link_to 'Edit', edit_notacredit_path(@notacredit) %> |
<%= link_to 'Back', notacredits_path %>
