<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hr() %>
  
  <div class="field">
    <strong>Informacion Producto </strong>
  </div>

  <div class="field">
    <%= f.label :name, "Nombre Producto*", :class => "bold" %><br />
    <%= f.text_field :name %>
    <div class="small">
      The name of the product.
    </div>
  </div>
  
  <div class="field">
    <%= f.label :code, "Codigo Producto (UPC/EAN/ISBN)" %><br />
    <%= f.text_field :code %>
    <div class="small">
      If your product has a unique code, for example ISBN, enter it here.
    </div>
  </div>

<div class="field">
    <%= f.label :code1, "Codigo Producto 1 (UPC/EAN/ISBN)" %><br />
    <%= f.text_field :code1 %>
    <div class="small">
      Codigo de barras alternativo 1, ingresar aqui.
    </div>
  </div>
  <div class="field">
    <%= f.label :code2, "Codigo Producto 2 (UPC/EAN/ISBN)" %><br />
    <%= f.text_field :code2 %>
    <div class="small">
      Codigo de barras alternativo 2, ingresar aqui.
    </div>
  </div>
  <div class="field">
    <%= f.label :products_category_id %><br />
    <%= f.collection_select :products_category_id, @categories, :id, :category, :prompt => true %>
    
    <div class="small">
      You can group products together using categories.
    </div>
  </div>

  
  
  <div class="field">
    <%= f.label :marca_id %><br />
    <%= f.collection_select :marca_id, @marcas, :id, :descrip, :prompt => true %>
    
    <div class="small">
      Marca del producto.
    </div>
  </div>
  
      <%= link_to 'Create marca', new_marca_path, data: { behavior: 'modal' } %>
      
  <div class="field">
    <%= f.label :modelo_id %><br />
    <%= f.collection_select :modelo_id, @modelos, :id, :descrip, :prompt => true %>
    <div class="small">
      Modelo del producto.
    </div>
  </div>
  
  <div class="field">
    <%= f.label :cost, "Costo*", :class => "bold" %><br />
    <%= f.text_field :cost %>
    <div class="small">
      How much does the product cost you?  If it doesn't cost you anything, you<br />
      can enter the number 0.
    </div>
  </div>
  <div class="field">
    <%= f.label :price, "Precio *", :class => "bold" %><br />
    <%= f.text_field :price %>
    <div class="small">
      The price of the product.
    </div>
  </div>

  <div class="field">
    <%= f.label :punto , "Puntos  *", :class => "bold" %><br />
    <%= f.number_field :punto %>
    <div class="small">
      Puntos del producto 
    </div>
  </div>

  <%= hr() %>
  
  <div class="field">
    <strong>Impuestos</strong>
    <div class="small">
      Campos opcionales para el control de impuestos       
    </div>
  </div>
  
  <div class="field">
    <%= f.label :tax1_name, "Impuesto 1 nombre:" %>
    <%= f.text_field :tax1_name, :class => "tf_short" %>
    <%= f.label :tax1, "Impuesto  1 %" %>
    <%= f.text_field :tax1, :class => "tf_short" %>
    <div class="small">

      Usually the sales tax.  For example: "Sales tax" : "7"<br />
      Enter the percentage of the tax without the "%" sign.
    </div>
  </div>
  
  <div class="field">
    <%= f.label :tax2_name, "Impuesto 2 nombre:" %>
    <%= f.text_field :tax2_name, :class => "tf_short" %>
    <%= f.label :tax2, "Impuesto 2 %" %>
    <%= f.text_field :tax2, :class => "tf_short" %>
    <div class="small">
      Impuesto adicional para el producto
      
    </div>
  </div>
  
  <div class="field">
    <%= f.label :tax3_name, "Tax 3 name:" %>
    <%= f.text_field :tax3_name, :class => "tf_short" %>
    <%= f.label :tax3, "Tax 3 %" %>
    <%= f.text_field :tax3, :class => "tf_short" %>
    <div class="small">
      Impuesto adicional para el producto
    </div>
  </div>
  
  <%= hr() %>
  
  <div class="field">
    <strong>Inventario</strong>
  </div>
  
  
  <div class="field">
    <%= f.label :unidad %><br />
    <%= f.text_field :unidad %>
    <div class="small">
      Unidad del producto 
    </div>
  </div>
  
  <div class="field">
    <%= f.label :ubicacion,"Ubicacion" %><br />
    <%= f.text_field :ubicacion %>
    <div class="small">
      
    </div>
  </div>
  
  <%= hr() %>
  
  <div class="field">
    <strong>Informacion adicional </strong>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  
  <%= hr() %>
  
  <div class="actions">
    <%= f.hidden_field :company_id %>
    <%= f.submit %>
  </div>
    <% end %>
  
  <%= render 'layouts/autocomplete' %>
  
  
  <script type="text/javascript"> 
    $(document).ready(function() {
      $("#product_category").autocomplete("/products/ac_categories/<%= @company.id %>", {
        width: 300,
        selectFirst: false
      });
    });
  </script>
