<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
  <% if @view_restock %>
    &raquo;
    <%= link_to "Products", "/companies/products/#{@company.id}" %>
  <% end %>
</div>

<h1>
  <%= image_tag("products_48.png", :class => "vmiddle") %>
  <% if not @view_restock %>
    Productos
  <% else %>
    Products that need restocking
  <% end %>
</h1>

<div class="small">
  <form method="get" action="/companies/products/<%= @company.id %>">
    <strong>Search:</strong>
    <input type="text" name="search" value="<% if @q_org %><%= @q_org %><% end %>" class="small" onclick="$(this).select();" />
    <input type="submit" value="Find" class="bold small_btn" />
    <a href="/companies/products/<%= @company.id %>" class="small_btn">Clear</a>
  </form>
</div>


<%= render "products/list"%>

<br />


  <%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>  
  <% end %>
  
<div class="button">
  <%= link_to 'Agregar Producto ', "/products/new/#{@company.id}" %>
  
</div>

<br />

<%= will_paginate @products %>