<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @supplier.company.name, @supplier.company %> &raquo;
  <%= link_to "suppliers", "/companies/suppliers/#{@supplier.company.id}" %>
</div>

<h1>
  <%= image_tag("clients_48.png", :class => "vmiddle") %>
  <%= @supplier.name %>
</h1>

<%= render "suppliers/show" %>

<div class="button">
  <%= link_to "Invoices for supplier", "/companies/invoices/#{@supplier.company.id}?supplier=#{@supplier.id}" %>
  <%= link_to 'Edit', edit_supplier_path(@supplier) %>
  <%= link_to 'Back', "/companies/suppliers/#{@supplier.company.id}" %>
</div>