<% content_for :title do %>
Inventarios
<% end %>
<h1>Inventarios</h1>

<table>
  <tr>
    <th class="ui-state-default">Fecha</th>
    <th class="ui-state-default">Total</th>
    <th class="ui-state-default"></th>
  </tr>
<% @inventarios.each do |inv| %>
  <tr>
    <td><%= I18n.l inv.fecha, :format => "%d de %B %Y %H:%I" %></td>
    <td class="num"><%= number_to_currency inv.total %></td>
    <td>
      <%= link_to "Ver", inventario_path(inv, :page => @page ) %>
      <%= link_to "Editar", edit_inventario_path(inv, :page => @page) %>
      <%= link_to 'Borrar', inv, :confirm => 'Esta seguro?', :method => :delete %>
    </td>
  </tr>  
<% end %>
</table>

<%= link_to "Nuevo Inventario", new_inventario_path %>

<%= link_to "Actualizar stock ","/inventarios/do_process/1" %>

<%= will_paginate @inventarios %>


<% if current_user.level  == "admin" %> 
<h2>Importar Archivo Facturas "*.csv"</h2>
<%= form_tag import_inventarios_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>
<% end %>
