<% content_for :title do %>
Ver inventario
<% end %>
<% content_for :title do %>
Ver Inventario
<% end %>
<h1>Ver Inventario Detalle</h1>

<strong>Descripción:</strong><br/>
<%= @inventario.descripcion %>

<table>
  <tr>
    <th class="ui-state-default">Item</th>
    <th class="ui-state-default">Producto</th>
    <th class="ui-state-default">Precio</th>
    <th class="ui-state-default">Cantidad</th>
    <th class="ui-state-default">Total</th>
  </tr>

<% @inventario.inventario_detalles.each do |inv| %>
  <tr>
    <td><%= inv.product.code  %></td>
    <td><%= inv.product.name  %></td>
    <td><%= inv.cantidad %></td>
    <td><%= inv.precio_unitario %></td>   
    <td><%= inv.total.round(2)  %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Listado', inventarios_path(:page => @page) %>
<%= link_to 'Editar', edit_inventario_path(@inventario,:page => @page) %>

