<%= form_for(@pump) do |f| %>
  <% if @pump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pump.errors.count, "error") %> prohibited this pump from being saved:</h2>

      <ul>
      <% @pump.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fuel ,"Surtidor "%><br>
    <%= f.text_field :fuel %>
  </div>
  <div class="field">
    <%= f.label :tanque_id, "Tanque:" %><br>
    <%= f.collection_select :tanque_id, @tanques, :id, :code, :prompt => true %>
    </div>
    <div class="field">
    <%= f.label :product_id, "Producto:" %><br>
    <%= f.collection_select :product_id, @products, :id, :name, :prompt => true %>
    </div>
    
    <div class="field">
    <%= f.label :isla_id, "Isla:" %><br>
    <%= f.collection_select :island_id, @islas, :id, :code, :prompt => true %>
    </div>
    
  <div class="field">
    <%= f.label :le_an_gln %><br>
    <%= f.text_field :le_an_gln %>
  </div>
  <div class="field">
    <%= f.label :le_ac_gln %><br>
    <%= f.text_field :le_ac_gln %>
  </div>
  
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
