<p id="notice"><%= notice %></p>

<h1>Listing Pumps</h1>

<table>
  <thead>
    <tr>
      <th>Fuel</th>
      <th>Isla</th>
      <th>Tanque</th>
      <th>Producto</th>
      
      <th>Price sell</th>
      <th>Le an gln</th>
      <th>Le ac gln</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pumps.each do |pump| %>
      <tr>
        <td><%= pump.fuel %></td>
        <td><%= pump.island.code %></td>
        <td><%= pump.tanque.code %></td>
        <td><%= pump.product.name %></td>
        
        <td><%= pump.price_sell %></td>
        <td><%= pump.le_an_gln %></td>
        <td><%= pump.le_ac_gln %></td>
        
        <td><%= link_to 'Show', pump %></td>
        <td><%= link_to 'Edit', edit_pump_path(pump) %></td>
        <td><%= link_to 'Destroy', pump, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pump', new_pump_path %>
