<p id="notice"><%= notice %></p>

<p>
  <strong>Fuel:</strong>
  <%= @pump.fuel %>
</p>

<p>
  <strong>Pump01:</strong>
  <%= @pump.pump01 %>
</p>

<p>
  <strong>Tank:</strong>
  <%= @pump.tank_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @pump.product_id %>
</p>

<p>
  <strong>Price buy:</strong>
  <%= @pump.price_buy %>
</p>

<p>
  <strong>Price sell:</strong>
  <%= @pump.price_sell %>
</p>

<p>
  <strong>Le an gln:</strong>
  <%= @pump.le_an_gln %>
</p>

<p>
  <strong>Le ac gln:</strong>
  <%= @pump.le_ac_gln %>
</p>

<p>
  <strong>Gln:</strong>
  <%= @pump.gln %>
</p>

<p>
  <strong>Date1:</strong>
  <%= @pump.date1 %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @pump.employee_id %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @pump.turno %>
</p>

<%= link_to 'Edit', edit_pump_path(@pump) %> |
<%= link_to 'Back', pumps_path %>
