<% if @output.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@output.errors.count, "error") %> prohibited this output from being saved:</h2>

    <ul>
    <% @output.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>

<div class="mid_box bordered_right">
  <%= form_for(@output) do |f| %>
    <h3>
       Informacion Salida
    </h3>
    <div class="field">
      
      <%= f.label :fecha, "Fecha *", :class => "bold" %><br />
      <%= f.date_field :fecha , value: Date.today.strftime("%d/%m/%Y") , min: Date.new($yy, $mm, $dd) %>
    </div>
  
   
    <div class="field">
      <%= f.label :code, "Code*", :class => "bold" %><br />
      <%= f.text_field :code, :onclick => "$(this).select();" %>
    </div>
  
    <div class="field">
      <%= f.label :location_id ,"Local"%><br />
      <%= f.select :location_id, options_from_collection_for_select(@locations,'id','name') %>
            
    </div>

    <div class="field">
      <%= f.label :division_id %><br />
      <%= f.select :division_id,options_from_collection_for_select(@divisions,'id','name') %>
    </div>
    
    <div class="field">
      <%= f.label :supplier_id %><br />
      <%= f.select :supplier_id,options_from_collection_for_select(@suppliers,'id','name') %>
    </div>
    
    <div class="field">
      <%= f.label :employee_id %><br />
      <%= f.select :employee_id,options_from_collection_for_select(@employees,'id','full_name') %>
    </div>
    
    <div class="field">
      <%= f.label :truck_id %><br />
      <%= f.select :truck_id,options_from_collection_for_select(@trucks,'id','placa') %>
    </div>
    
  
    <%= hr() %>
    
    <div class="field" id="list_items">
      <p class="bold big">Productos:</p>
    </div>
    
    <%= hr() %>
  
    <div class="field">
      <%= f.check_box :processed %>
      <%= f.label :processed, "Process output", :class => "bold" %>
      <div class="small">
        Marks wether or not this output has been payed and we can deduct the product quantities and count it towards the month's total.
      </div>
    </div>
  
    <div class="field">
      <%= f.check_box :return %>
      <%= f.label :return, :class => "bold" %>
      <div class="small">
        Is it a return order?
      </div>
    </div>
    
    <%= hr() %>
    
    <div class="field">
      <label for="ac_user" class="bold">Seller*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
        Enter a search term to find a user.
      </div>
      <br />

      <div class="small">
        <strong>Selected seller:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>
    </div>
  
    <%= hr() %>
  
  
    
    <%= hr() %>
  
    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @products_lines %><%= @products_lines %><% end %>" />
      <%= f.hidden_field :user_id, :id => "ac_user_id" %>      
      <%= f.hidden_field :company_id %>
      <%= f.submit %>
    </div>
    
    <div class="small">
      Once you're done adding products, don't forget to <strong><%= @action_txt %></strong> your output.
    </div>
  <% end %>
</div>

<div class="mid_box">
  <h3>
    Agregar Productos  
  </h3>


  
  <form method="get" action="/products" onsubmit=" addItemToOutput(); return false;">
    <input type="hidden" name="ac_item_id" id="ac_item_id" value="" />
    
    <strong>Producto:</strong><br />
    <input type="text" name="ac_item" id="ac_item" value="" />
    <div class="small">
      Ingrese un termino de busqueda para encontrar un producto.
    </div>
    <br />

    <strong>Stock actual:</strong><br />

    <input type="text" name="ac_item_stock" id="ac_item_stock" value="" class="tf_short" readonly />
    <div class="small">
      Stock del  producto para agregar una salida.
    </div>
    <br />
    
    <strong>Costo:</strong><br />

    <input type="text" name="ac_item_price" id="ac_item_price" value="" class="tf_short" readonly />
    <div class="small">
      Precio del  producto para agregar una salida.
    </div>
    <br />
    
    <strong>Cantidad:</strong><br />
    <input type="text" name="ac_item_quantity" id="ac_item_quantity" value="1" class="tf_short" />
    <div class="small">
     Cantidad del producto para agregar una salida.
    </div>
    <br />
    
    
    <div>
      <strong>Total:</strong><br />
      <span id="ac_item_total">0.00</span>
    </div>
    
    <br />
    <input type="submit" value="Agregar item " />
  </form>
  
  <%= hr() %>
  
  
</div>

<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/outputs/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      $("#ac_customer_id").val(data[2]);
      $("#selected_customer").html(data[0]);
    });
    
    $("#ac_kit").autocomplete("/outputs/ac_kit/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    
    $("#ac_user").autocomplete("/outputs/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });
    
    $("#ac_item").autocomplete("/outputs/ac_products/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_id").val(data[2]);
      $("#ac_item_price").val(data[4]);      
      $("#ac_item_stock").val(data[12]);      
      
      updateItemTotalOutput();
    });
    
    $("#ac_item_quantity").bind("keyup", function() {
      updateItemTotalOutput();
    });
    
    $("#ac_item_price").bind("keyup", function() {
      updateItemTotalOutput();
    });
    
    <% if @products_lines %>
    alert 'holas products_lines';
      listItemsOutput();
    <% end %>
  });
</script>
