<% if @outputs.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          Nro.
        </th>
        <th class="bordered_right bordered_bottom" style="width: 350px;">
          Proveedor

        </th>
        <th class="bordered_right bordered_bottom">
          Total
        </th>
        <th class="bordered_right bordered_bottom">
          Date
        </th>
        <th class="bordered_right bordered_bottom">
          Processed
        </th>
        <th class="bordered_right bordered_bottom" colspan="3">
          Options
        </th>
      </tr>
    </thead>
    <tbody>
    
      <% for output in @outputs %>
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= link_to output.code, output, :title => "Ir a factura" %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to output.supplier.name  %>
          </td>

          <td class="bordered_right bordered_bottom">
            <%= link_to output.employee.full_name %>
          </td>

          <td class="bordered_right bordered_bottom">
            <%= link_to output.truck.placa %>
          </td>


          <td class="bordered_right bordered_bottom right">
            $<%= money(output.total) %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= doDate(output.created_at) %>
          </td>
          <td class="bordered_right bordered_bottom <%= output.processed_color %>">
            <%= output.get_processed_short %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Ver ", output %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Editar", edit_output_path(output) %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to 'Eliminar', output, :confirm => 'Esta seguro ?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    No existe registro de salidas 
  </p>
<% end %>