<% if @outputs.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 80px;">
          Nro.
        </th>
        <th class="bordered_right bordered_bottom" style="width: 200px;">
          Proveedor
        </th>
        <th class="bordered_right bordered_bottom">
          Empleado
        </th>        
        <th class="bordered_right bordered_bottom">
          Vehiculo 
        </th>
        <th class="bordered_right bordered_bottom">
          Importe
        </th>
        <th class="bordered_right bordered_bottom">
          Fecha 
        </th>
            
        <th class="bordered_right bordered_bottom">
          Processed
        </th>
        <th class="bordered_right bordered_bottom" colspan="3">
          Options
        </th>
      </tr>
    </thead>
    <tbody>
    
      <% for output in @outputs %>
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= link_to output.code, output, :title => "Ir a factura" %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%=  output.supplier.name  %>
          </td>

          <td class="bordered_right bordered_bottom">
            <%=  output.employee.full_name %>
          </td>

          <td class="bordered_right bordered_bottom">
            <%=  output.truck.placa %>
          </td>


          <td class="bordered_right bordered_bottom right">
            <%= money(output.total) %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= doDate(output.created_at) %>
          </td>

          <td class="bordered_right bordered_bottom <%= output.processed_color %>">
            <%= output.get_processed_short %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Ver ", output %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Editar", edit_output_path(output) %>
          </td>
          <%if @current_user.level == 'admin' %>
            <td class="bordered_right bordered_bottom">
          <%= link_to "Eiminar", output , method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
          
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    No existe registro de salidas 
  </p>
<% end %>