<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "outputs", "/companies/outputs/#{@company.id}" %> &raquo;
  <%= link_to @output.identifier, @output %>
</div>

<h1>
  <%= image_tag("output_48.png", :class => "vmiddle") %>
  Editing output
</h1>

<p>
  To modify the output, please fill out the following form.  Fields marked with <strong>*</strong> are required.
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Ver', @output %>
  <%= link_to 'Regresar', "/companies/outputs/#{@company.id}" %>
</div>