<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("product_restock_48.png", :class => "vmiddle") %>
  Salidas
  <% if @customer %>
    for customer: <%= @customer.name %>
  <% end %>
</h1>

<div class="small">
  <form method="get" action="/companies/outputs/<%= @company.id %>">
    <strong>Buscar :</strong>
    <input type="text" name="search" value="<% if @q_org %><%= @q_org %><% end %>" class="small" style="width: 250px;" onclick="$(this).select();" />
    <input type="submit" value="Find" class="bold small_btn" />
    <a href="/companies/outputs/<%= @company.id %>" > Limpiar</a>
  </form>
</div>
  

<br />
<%= render "outputs/list" %>

<br />

<div class="button">
  <%= link_to 'New output', "/outputs/new/#{@company.id}" %>
</div>

<%= will_paginate @outputs %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/outputs/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>