<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "outputs", "/companies/outputs/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("output_48.png", :class => "vmiddle") %>
  Nueva salida
</h1>

<p>
  Para crear una nueva salida, por favor llenar el siguiente formulario. Los campos marcados con <strong>*</strong> son obligatorios
  
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Regresar', "/companies/outputs/#{@company.id}" %>
</div>