<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @turno.Fecha %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @turno.turno %>
</p>

<%= link_to 'Edit', edit_turno_path(@turno) %> |
<%= link_to 'Back', turnos_path %>
