<p id="notice"><%= notice %></p>

<h1>Listing Faltantes</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Empleado</th>
      <th>Faltante</th>
      <th>Descrip</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faltantes.each do |faltante| %>
      <tr>
        <td><%= faltante.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= faltante.employee.full_name %></td>
        <td><%= faltante.tipofaltante.descrip %></td>
        <td><%= faltante.total  %></td>
        <td><%= faltante.descrip %></td>
        
        
        <td><%= link_to 'Show', faltante %></td>
        
        <td><%= link_to 'Edit', edit_faltante_path(faltante) %></td>
        
        <td><%= link_to 'Destroy', faltante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faltante', new_faltante_path %>
