<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Cuentas por Pagar
  </h3>
  
  <p class="big">
    <%= link_to "Facturas Emitidas ", "/companies/reports/rpt_cpagar1_all/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Pendientes por cobrar general  ", "/companies/reports/rpt_cpagar2_pdf/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Pendientes por cobrar por proveedor ", "/companies/reports/rpt_cpagar3_pdf/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Liquidacion de Cobranzas  ", "/companies/reports/rpt_cpagar4_pdf/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Cuentas x cobrar por vencimiento  ", "/companies/reports/rpt_cpagar5_pdf/#{@company.id}" %>
  </p>

  

</div>

<div class="mid_box">
</div>

<%= br() %>