<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Parte Diario
  </h3>
  
  <p class="big">
    <%= link_to "Parte  ", "/companies/reports/rpt_parte_1/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Parte Diario Detalle ", "/companies/reports/rpt_parte_2/#{@company.id}" %>
  </p>
  <h3>
    Parte Diario Venta Directa
  </h3>
  
  <p class="big">
    <%= link_to "Parte Venta Directa ", "/companies/reports/rpt_parte_10/#{@company.id}" %>
  </p>
  
  

  <h3>

    <p class="big">
  <%= link_to "Reporte de Fluctuaciones ", "/companies/reports/rpt_kardex1_pdf/#{@company.id}" %>
  </p>

  
  </h3>



  <h3>
    Detalle 
  </h3>
  <p class="big">
    <%= link_to "Tarjetas de credito", "/companies/reports/rpt_parte_6/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Reporte de descuentos", "/companies/reports/rpt_parte_80/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Nota de Venta", "/companies/reports/rpt_parte_3/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Vale Credito ", "/companies/reports/rpt_parte_4/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Vale Credito x Cliente ", "/companies/reports/rpt_parte_5/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Vale Pago Adelantado ", "/companies/reports/rpt_parte_7/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Listado Diferencia de Precios  ", "/companies/reports/rpt_parte_13/#{@company.id}" %>
  </p>
  
  
  <p class="big">
    <%= link_to "Venta de combustibles contometros  ", "/companies/reports/rpt_parte_9/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Liquidacion de griferos x turno  ", "/companies/reports/cuadre_01/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Resumen de liquidacion de griferos x turno ",  "/companies/reports/rpt_parte_16/#{@company.id}" %>
  </p>
  
  
  
   <p class="big">
    <%= link_to "Ventas por grifero - detallado  ",  "/companies/reports/rpt_parte_14/#{@company.id}" %>
  </p>
  
  
  
  <p class="big">
    <%= link_to "Cuadro de asistencia  ",  "/companies/reports/rpt_parte_15/#{@company.id}" %>
  </p>
  
  
  </div>
  

<div class="mid_box">

 <h3>
    Market 
  </h3>
  
  
  <p class="big">
    <%= link_to "Reporte de cierre de turno  ", "/companies/reports/rpt_parte_18/#{@company.id}" %>
  </p>
 
  
<h3>
    Matriz de informacion
  </h3>
  
  
  <p class="big">
    <%= link_to "Parte Diario ", "/companies/reports/rpt_parte_8/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Ventas Detalle diario ", "/companies/reports/rpt_parte_11/#{@company.id}" %>
  </p>
</div>

<%= br() %>