<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Facturas 
  </h3>
  
  <p class="big">
    <%= link_to "Facturas Emitidas ", "/companies/reports/rpt_facturas_all/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Pendientes por cobrar general  ", "/companies/reports/rpt_ccobrar2_pdf/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Pendientes por cobrar por cliente ", "/companies/reports/rpt_ccobrar3_pdf/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Factura : detalle de cobranza ", "/companies/reports/rpt_ccobrar9_pdf/#{@company.id}" %>
  </p>

  <h3>
    Liquidaciones
  </h3>

  <p class="big">
    <%= link_to "Liquidacion de Cobranzas  ", "/companies/reports/rpt_ccobrar4_pdf/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Liquidacion de Cobranzas por cliente ", "/companies/reports/rpt_ccobrar7_pdf/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Cuentas x cobrar por vencimiento  ", "/companies/reports/rpt_ccobrar5_pdf/#{@company.id}" %>
  </p>

  <h3>
    Bancos 
  </h3>


  <p class="big">
    <%= link_to "Resumen de Cuentas por cobrar acumulado por banco ", "/companies/reports/rpt_ccobrar6_pdf/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Resumen de Cuentas por cobrar Detallado por banco ", "/companies/reports/rpt_ccobrar8_pdf/#{@company.id}" %>
  </p>
</div>

<div class="mid_box">
</div>

<%= br() %>

