<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
   Almacen 
  </h3>
  
  <p class="big">
    <%= link_to "Listado de Stock por familia ", "/companies/reports/rpt_calmacen1_pdf/#{@company.id}" %>
  </p>
  
  <p class="big">
  <%= link_to "Listado de Movimiento de Stocks", "/companies/reports/rpt_calmacen2_pdf/#{@company.id}" %>
  </p>

  <p class="big">
  <%= link_to "Reporte de Inventario detallado Formato 13 ", "/companies/reports/rpt_calmacen8_pdf/#{@company.id}" %>
  </p>


<h3>
   Ingresos 
  </h3>

  <p class="big">
    <%= link_to "Listado de Ingresos por producto ", "/companies/reports/rpt_calmacen5_pdf/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Listado de Ingresos  por familia", "/companies/reports/rpt_calmacen6_pdf/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Listado de Ingresos  por familia total ", "/companies/reports/rpt_calmacen10_pdf/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Listado de ordenes de compra pendientes de factura detallado ", "/companies/reports/rpt_calmacen7_pdf/#{@company.id}" %>
  </p>
  

<h3>
   Salidas 
  </h3>
  
  <p class="big">
    <%= link_to "Listado de Salidas por producto ", "/companies/reports/rpt_calmacen3_pdf/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Listado de Salidas  por familia", "/companies/reports/rpt_calmacen4_pdf/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Listado de Salidas  por familia / empleado", "/companies/reports/rpt_calmacen11_pdf/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Listado de Salidas  por familia / placa ", "/companies/reports/rpt_calmacen12_pdf/#{@company.id}" %>
  </p>
  
</div>

<h3>
   Ventas 
  </h3>
  
  <p class="big">
    <%= link_to "Listado de Ventas por producto ", "/companies/reports/rpt_calmacen13_pdf/#{@company.id}" %>
    
  </p>
  


  <div class="mid_box bordered_right">
    <h3>
   Ajustes
  </h3>
  
  <p class="big">
    <%= link_to "Listado de Ajuste por producto ", "/companies/reports/rpt_cajust1_pdf/#{@company.id}" %>
  </p>


  
  
</div>


    
    <h3>
     Trazabilidad
    </h3>
    
    <p class="big">
    <%= link_to "Trazabilidad por familia ", "/companies/reports/rpt_calmacen9/#{@company.id}" %>
    </p>
    
    <h3>
     Productos
    </h3>
    
    <p class="big">
    <%= link_to "Listado de Productos", "/companies/reports/product_all/#{@company.id}" %>
    </p>
    
  </div>



<%= br() %>