<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Compras 
  </h3>
  
  <p class="big">
    <%= link_to "Orden de servicio  ", "/companies/reports/rpt_serviceorder_all/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Orden de compra ", "/companies/reports/rpt_purchaseorder_all/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Facturas ", "/companies/reports/invoice_all/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Productos ", "/companies/reports/product_all/#{@company.id}" %>
  </p>
  
</div>

<div class="mid_box">
</div>

<%= br() %>