<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Facturas 
  </h3>
  
  <p class="big">
    <%= link_to "Facturas y Notas ", "/companies/reports/rpt_facturas_all/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Facturas y Notas x mes ", "/companies/reports/monthly_sales/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Facturas y Notas por cliente ", "/companies/reports/rpt_facturas_all2/#{@company.id}" %>
  </p>
  
  <% if @current_user.email == "percywoeds@gmail.com"%>
  
  <p class="big">
    <%= link_to "Facturas y Notas- Detalle ", "/companies/reports/rpt_facturas_all3/#{@company.id}" %>
  </p>
  
  <% end %>

  
  <h3>
    Ventas 
  </h3>
  <p class="big">
    <%= link_to "Listado de Ventas Combustibles", "/companies/reports/rpt_facturas_3/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Listado de Ventas Colaterales ", "/companies/reports/rpt_facturas_4/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Listado de Ventas Venta Directa  ", "/companies/reports/rpt_facturas_7/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Listado de Ventas c/galones    ", "/companies/reports/rpt_facturas_9/#{@company.id}" %>
  </p>
  
  
  <h3>
    Pago adelantado 
  </h3>
  
  <p class="big">
    <%= link_to "Listado de Ventas Pago Adelantado ", "/companies/reports/rpt_facturas_8/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Listado de Ventas Pago Adelantado - detalle consumos  ", "/companies/reports/rpt_facturas_10/#{@company.id}" %>
  </p>
  
  <h3>
    Cuentas por Pagar 
  </h3>
  
  <p class="big">
    <%= link_to "Pendientes por cobrar general  ", "/companies/reports/rpt_ccobrar2_pdf/#{@company.id}" %>
  </p>


</div>

<div class="mid_box">
</div>

<%= br() %>

