<%= render 'layouts/charts' %>
<%
invoices_quantities = 0
invoices_total = 0
quantities = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reporte de Productos  - <%= @year %>
</h1>

<form method="get" action="/companies/reports/products/<%= @company.id %>">

  <input type="submit" value="View report" class="small_btn" />
  
</form>

<br />

<table>
  <thead>
    <tr>
      <th class="bordered_bottom bordered_right" >
        Codigo 
      </th>

      <th class="bordered_bottom bordered_right" >
        Categoria
      </th>
   
      <th class="bordered_bottom bordered_right" >
        Codigo
      </th>
   
      <th class="bordered_bottom bordered_right" style="width: 400px;">
        Producto
      </th>
      
    </tr>
  </thead>
  <tbody>
    <% for product in @products %>

      <tr>
       <% if product.products_category %>
        <td class="bordered_bottom ">
          <%=  product.products_category.code   %>
        </td>
      
        <td class="bordered_bottom ">
          <%=  product.products_category.category   %>
        </td>
        
      <% end %>

        <td class="bordered_bottom ">
          <%=  product.code  %>
        </td>
      
        <td class="bordered_bottom bordered_right">
          <%=  product.name %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right right bold">
        	
      </td>
      <td class="bordered_bottom bordered_right right bold">
        $<%= money(invoices_total) %>
      </td>
    </tr>
  </tbody>
</table>

<br />

<div class="button">
  <%= link_to "Back", "/companies/reports/#{@company.id}" %>
</div>
