<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Facturas 
  </h3>
  
  <p class="big">
    <%= link_to "Facturas Emitidas ", "/companies/reports/rpt_facturas_all/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Pendientes por cobrar  ", "/companies/reports/rpt_ccobrar2_pdf/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Pendientes por cliente ", "/companies/reports/rpt_ccobrar3_pdf/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Listado de Liquidacion de Cobranzas ", "/companies/reports/rpt_ccobrar4_pdf/#{@company.id}" %>
  </p>
  
</div>

<div class="mid_box">
</div>

<%= br() %>

