<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Facturas 
  </h3>
  
  <p class="big">
    <%= link_to "Facturas y Notas ", "/companies/reports/rpt_facturas_all/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Facturas y Notas x mes ", "/companies/reports/monthly_sales/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Facturas y Notas por cliente ", "/companies/reports/rpt_facturas_all2/#{@company.id}" %>
  </p>
  
  <h3>
    Ventas 
  </h3>
  <p class="big">
    <%= link_to "Listado de Ventas Combustibles", "/companies/reports/rpt_facturas_3/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Listado de Ventas Colaterales ", "/companies/reports/rpt_facturas_4/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Listado de Ventas Islas x producto ", "/companies/reports/rpt_facturas_5/#{@company.id}" %>
  </p>

</div>

<div class="mid_box">
</div>

<%= br() %>

