<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h3>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
 Reporte de cuentas cliente 
</h3	>

<form method="get" action="/purchases/rpt_cpagar3_pdf/<%= @company.id %>">
 	<div class="field">
      <input type="date" name="fecha1" value="2018-01-02" style = "width: 150px" >
  </div>
	<div class="field">
		<input type="date" name="fecha2" value="2018-08-02" style = "width: 150px" >
  </div>

  <div class="field">
    <%= select_tag(:supplier_id,options_from_collection_for_select(@suppliers,'id','name') ) %>
  </div>
    
  <input type="submit" value="Generar Reporte" />
  
</form>

<br />


<div class="button">
    <%= link_to 'Back', "/companies/cpagar/#{@company.id}" %>
</div>
