<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reporte de Stock 
</h1>

<form method="get" action="/stocks/rpt_stocks1/<%= @company.id %>">
  
	<div class="field">
     Hasta el dia 	 <input type="date" name="fecha1" value="2017-02-09" style = "width: 120px" >
  </div>
 <div class="field">
    <%= select_tag(:products_category_id,options_from_collection_for_select(@categories,'id','category') ) %>
  </div>
  

  <input type="submit" value="Generar Reporte "  />
  
</form>

<br />

