<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h4>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>

 Reporte de cuentas 

</h4>


<%= form_tag(reportes30_facturas_path, :method => "get") do %>


    <div class="field">
        
      <input type="date" name="fecha1" value="2018-05-01" style = "width: 150px" >
      <input type="date" name="fecha2" value="2018-05-31" style = "width: 150px" >
    </div>
    <div>
<div class="field">
  
 <label><input type="checkbox" id="cbox1" value="cbox1"> TODOS LOS BANCOS </label><br>
 </div>
 <br> 
  
  <div class="field">
    <%= select_tag(:bank_id,options_from_collection_for_select(@bancos,'id','number') ) %>
  </div>
  
  
  <p>
  <label for="tiporeporte"> Tipo de Reporte:</label><br>
  <select id="tiporeporte" name="tiporeporte" >


    
    <option value="1" selected> CONTADO </option>
    <option value="2" selected> CREDITO </option>
    <option value="3" selected> DIRECTA </option>
    <option value="0" selected> TODOS LAS FACTURAS </option>
    
  </select>
</p>




<br> 
 <%= submit_tag "To PDF", :name => "print" %>
 <%= submit_tag "To Excel", :name => "print" %>
  
<% end %>

<br />


<div class="button">
  <%= link_to 'Regresar', "/companies/ccobrar/#{@company.id}" %>
</div>

