<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reporte de guias emitidas 
</h1>

<form method="get" action="/deliveries/guias1/<%= @company.id %>">

<p>
  <label for="tiporeporte"> Tipo de Reporte:</label><br>
  <select id="tiporeporte" name="tiporeporte" >


    <option value="0" selected> FECHA GUIA </option>
    <option value="1" selected> FECHA INGRESO </option>
    <option value="2" selected> FECHA OPERACIONES </option>
    <option value="3" selected> FECHA CONTABILIDAD </option>
    
  </select>
</p>



  <div class="field">
      <input type="date" name="fecha1" value="2017-03-01" style = "width: 150px" >
  </div>

	<div class="field">
		<input type="date" name="fecha2" value="2017-03-15" style = "width: 150px" >
  </div>

  <input type="submit" value="Ver"  />
  <a href="/deliveries/guias1/<%= @company.id %>" class="small_btn">Today</a>

</form>

<br />

