<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h3>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
 Reporte de cuentas cliente - <%= @month_name %> <%= @year %>
</h3	>

<%= form_tag url_for(:action => "/reports/rpt_ccobrar3_pdf/#{@company.id}",format: [:xls,:html],:controller => "reports" ) do %>


 	<div class="field">
    <input type="date" name="fecha1" value="2007-01-01" style = "width: 150px" >
  </div>

	<div class="field">
		<input type="date" name="fecha2" value="2017-09-30" style = "width: 150px" >
  </div>

  <div class="field">
    <%= select_tag(:customer_id,options_from_collection_for_select(@customers,'id','name') ) %>
  </div>
  
  
  

<% end %>

<br />

<div class="button">
  <%= link_to "Excel", generate_xls_facturas_path , { class: "btn btn-primary btn-lg", style: "width: 100%;", format: 'xlsx'} %>

  <%= link_to 'Regresar', "/companies/ccobrar/#{@company.id}" %>
</div>
