<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h4>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  
 Cuentas por pagar  por mes y año 

</h4>

<form method="get" action="/supplier_payments/rpt_cpagar5_pdf/<%= @company.id %>">
  <div class="field">
      <input type="date" name="fecha1" value="2007-01-10" style = "width: 150px" >

    </div>
  <div class="field">
    <input type="date" name="fecha2" value="2017-01-15" style = "width: 150px" >
  </div>

  <div class="field">
      
  <%= select_tag(:moneda_id, options_from_collection_for_select(@monedas,'id','description')) %>
  </div>
    
    
  <input type="submit" value="Ver" class="small_btn" />
  <a href="/supplier_payments/rpt_cpagar5_pdf/<%= @company.id %>" class="small_btn">Hoy</a>
</form>

<br />


<div class="button">
  <%= link_to 'Back', "/companies/cpagar/#{@company.id}" %>
</div>
