<%= render 'layouts/charts' %>
<%

invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Formato 13 : Inventario Detallado  
</h1>

<form method="get" action="/stocks/rpt_stocks4/<%= @company.id %>" >   
  <div class="field">
      <input type="date" name="fecha1" value="2018-01-01" style = "width: 150px" >
  </div>

	<div class="field">
		<input type="date" name="fecha2" value="2018-03-31" style = "width: 150px" >
  </div>

  <div class="field">
    <%= select_tag(:products_category_id,options_from_collection_for_select(@categories,'id','category') ) %>
  </div>
  

  <input type="submit" value="Ver Reporte " />
  
</form>

<br />

