<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h4>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  
 Reporte de cuentas clientes - Cancelaciones detalle

</h4>

<form method="get" action="/customer_payments/rpt_ccobrar6_pdf/<%= @company.id %>">
 	<div class="field">
      <input type="date" name="fecha1" value="2007-01-10" style = "width: 150px" >

    </div>
	<div class="field">
		<input type="date" name="fecha2" value="2017-01-17" style = "width: 150px" >
    </div>

    
  <input type="submit" value="Ver" class="small_btn" />
  <a href="/customer_payments/rpt_ccobrar6_pdf/<%= @company.id %>" class="small_btn">Hoy</a>
</form>

<br />


<div class="button">
  <%= link_to 'Back', "/companies/reports/reports_ccobrar/#{@company.id}" %>
</div>
