<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h3>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
 Reporte de Facturas emitidas 
</h3	>

<form method="get" action="/purchases/rpt_purchase2_all/<%= @company.id %>">

  <div class="field">
      <input type="date" name="fecha1" value="2018-03-01" style = "width: 150px" >

    </div>
	<div class="field">
		<input type="date" name="fecha2" value="2018-03-31" style = "width: 150px" >
  </div>


<p>
  <label for="tiporeporte"> Tipo de Reporte:</label><br>
  <select id="tiporeporte" name="tiporeporte" >


    <option value="2" selected> TODOS </option>
    <option value="1" selected> SERVICIO </option>
    <option value="0" selected> COMPRA </option>
    
  </select>
</p>


  <input type="submit" value="Generar"  />
  
</form>

<br />

