<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if @pagetitle %>
        <%= @pagetitle %> -
      <% end -%>
      <%= getAppName %>
    </title>
    
    <%= stylesheet_link_tag "app", :media => "all" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
        
    <%= javascript_include_tag "jquery-1.6.1.min" %>
    <%= javascript_include_tag "supersleight.plugin" %>
    <%= javascript_include_tag "jquery_rails" %>
    <%= javascript_include_tag "jquery.bgiframe.min" %>
    <%= javascript_include_tag "jquery.centerinclient" %>
    <%= javascript_include_tag "application.js" %>  

    <%= csrf_meta_tag %>
  
  </head>
  
  <body>
  
    <div id="header_cont">
      <div id="header">
        <div id="logo">
          <a href="<%= getAppUrl %>"><img src="/images/logo.PNG" alt="<%= getAppName %>" id="img_logo"></a>
        </div>
      </div>
    </div>
    <%= render 'layouts/menu' %>
    <%= render 'layouts/usermenu' %>
    
    <div id="content">
      
      <%- flash.each do |key, msg| -%>
        <div class="<%= key %>">
          <%= msg %>
        </div>
      <%- end -%>
    
      <%= yield %>

    </div>
  
    <div class="break"><!-- i --></div>
  
  
    <div id="footer_cont">
      <div id="footer">
        <%= link_to getAppUrl, getAppUrl %>
        <%= link_to "blog", "/blog" %>
        <%= link_to "terms of service", "/p/tos" %>
        <%= link_to "faq", "/p/faq" %>
        <%= link_to "help", "/help" %>
        <%= link_to "about us", "/p/about" %>
        <%= Time.zone.now.strftime("%d/%m/%Y %H : %M") %>
      </div>
    </div>
    
    <div id="loading">loading...</div>
    <div id="remote"><!-- i --></div>
    <div id="modal-holder"></div>
    
    <iframe name="ires" id="ires"></iframe>
  </body>
</html>
